<div v-if="groups" :class="containerClass">

    <div class="f-actions-container">

        <!--START: Desktop actions view-->

        <div class="visible-lg visible-md">
            <template v-for="group in desktop_groups">
                <button v-if="!group.children" :key="group.desktop_group" type="button"
                        v-ladda="{on: action_in_progress === group.name}" :disabled="action_in_progress === group.name"
                        class="button" :class="group.button_class" @click="doAction(group)">{{group.label|_}}</button>
                <div v-if="group.children" :key="group.desktop_group" class="f-dropdown f-actions-dropdown-arrow" :class="{open:ddOpen('actions-open-' + group.desktop_group)}">
                    <button type="button" class="button" :class="group.button_class" @click="doAction(group)">{{group.label|_}}</button>
                    <a href="#" class="f-caret f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open-' + group.desktop_group)"><b class="f-caret__elem"></b></a>
                    <div class="f-dropdown__menu f-menu_right">
                        <button v-for="action in group.children" :key="action.name" type="button" class="button"
                                v-ladda="{on: action_in_progress === action.name}" :disabled="action_in_progress === action.name"
                                :class="action.button_class" @click="doAction(action)">{{action.label|_}}</button>
                    </div>
                </div>
            </template>
        </div>

        <!--END: Desktop actions view-->

        <!--START: Mobile actions view-->

        <div class="f-mobile-button hidden-md hidden-lg">

            <template v-for="group in mobile_groups">
                <button v-if="!group.children" :key="group.mobile_group" type="button"
                        v-ladda="{on: action_in_progress === group.name}" :disabled="action_in_progress === group.name"
                        class="button" :class="group.button_class" @click="doAction(group)">{{group.label|_}}</button>
                <div v-if="group.children" :key="group.mobile_group" class="f-dropdown f-actions-dropdown" :class="{open:ddOpen('actions-open-' + group.mobile_group)}">
                    <button type="button" class="button button1 f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open-' + group.mobile_group)">{{group.label|_}}</button>
                    <ul class="f-dropdown__menu f-menu_right">
                        <li v-for="action in group.children" :key="action.name">
                            <button type="button" class="button"
                                    v-ladda="{on: action_in_progress === action.name}" :disabled="action_in_progress === action.name"
                                    :class="action.button_class" @click="doAction(action)">{{action.label|_}}</button>
                        </li>
                    </ul>
                </div>
            </template>

        </div>

        <!--END: Mobile actions view-->

    </div>

</div>