<div class="f-grid-wrapper container-fluid">
    <div class="row">
        <sv-comp-grid-panel :grid="grid"></sv-comp-grid-panel>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="scrollable-area" id="">
                <table id="fixed-table" class="fixed-table">
                    <thead>
                    <sv-comp-grid-header-row :grid="grid" v-on:fetch-data="fetchData()"></sv-comp-grid-header-row>
                    </thead>
                    <tbody>
                    <sv-comp-grid-data-row v-for="row in grid.rows" :grid="grid" :row="row"></sv-comp-grid-data-row>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hidden-lg text-right">
                <sv-comp-grid-pager-select :grid="grid"></sv-comp-grid-pager-select>
            </div>
        </div>
    </div>
</div>
