<div class="f-grid-wrapper container-fluid">
	<div class="row">
        <sv-comp-grid-panel :grid="grid" :cnt-visible="cntVisible" @event="onEvent"></sv-comp-grid-panel>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="scrollable-area" id="">
                <table id="fixed-table" class="fixed-table main-grid">  
                    <colgroup>
                        <col v-for="col in columns" :width="col.width">
                    </colgroup>
                    <thead>
                    <sv-comp-grid-header-row :grid="grid" @event="onEvent"></sv-comp-grid-header-row>
                    </thead>
                    <tbody>
                    <sv-comp-grid-data-row v-for="row in visibleRows" :grid="grid" :row="row" @event="onEvent"></sv-comp-grid-data-row>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hidden-lg text-right">
                <sv-comp-grid-pager-select :grid="grid" @event="onEvent"></sv-comp-grid-pager-select>
            </div>
        </div>
    </div>
</div>
