<header class="f-admin-header">
    <!--
<ul>
    <li v-for="nav in navs">
        <router-link :to="nav.path" v-text="nav.label"></router-link>
    </li>
</ul>
<img :src="svAsset('FCom_AdminSPA', 'img/profile.png')" alt="" class='img-circle'/>
-->

    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default">
                <div class="logo-block">
                    <router-link class="navbar-brand  pull-left" to="/">
                        <span class="logo"></span>
                    </router-link>
                    <sv-comp-header-search :mobile="true"></sv-comp-header-search>
                </div>
                <a class="navbar-toggle btn pull-left hidden-xs" href="#" @click.prevent="mainNavToggle()">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <sv-comp-header-breadcrumbs :mobile="false"></sv-comp-header-breadcrumbs>
                <div class="navbar-right">
                    <a class="navbar-toggle btn pull-left visible-xs" href="#" @click.prevent="mainNavToggle()">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                    <sv-comp-header-search :mobile="false" class="hidden-xs"></sv-comp-header-search>
                    <ul class="nav">
                        <li class="settings">
                            <a href="#/settings" title="Settings" class="dropdown-collapse ">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                            </a>
                        </li>
                        <sv-comp-header-favorites></sv-comp-header-favorites>
                        <sv-comp-header-account></sv-comp-header-account>
                        <sv-comp-header-local-notifications></sv-comp-header-local-notifications>
                        <sv-comp-header-chat></sv-comp-header-chat>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="row visible-sm visible-md">
            <sv-comp-header-breadcrumbs :mobile="true"></sv-comp-header-breadcrumbs>
        </div>
    </div>
</header>
