<aside>
    <nav id="main-nav" class="f-admin-nav navbar-collapse customScroll">
        <div class="navigation">
            <ul class="nav nav-stacked">
                <li class=""><router-link to="/" title="Dashboard" class="in"><i class="fa fa-tachometer" aria-hidden="true"></i><span>Dashboard</span></router-link></li>
                <li class=" "><router-link to="/sales/orders" title="Sales" class="dropdown-collapse"><i class="fa fa-line-chart" aria-hidden="true"></i><span>Sales</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <ul class="nav nav-stacked ">
                        <li class="active"><a href="" title="Orders" class="active"><span>Orders</span></a></li>
                        <li class=""><a href="" title="Payments" class=" "><span>Payments</span></a></li>
                        <li class=""><a href="" title="Custom Order States" class=" "><span>Custom Order States</span></a></li>
                        <li class=" "><a href="" title="Shopping Carts" class=" "><span>Shopping Carts</span></a></li>
                        <li class=" "><a href="#" title="Tax" class="dropdown-collapse "><span>Tax</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            <ul class="nav nav-stacked ">
                                <li class=" "><a href="" title="Customer Classes"><span>Customer Classes</span></a></li>
                                <li class=" "><a href="" title="Product Classes"><span>Product Classes</span></a></li>
                                <li class=" "><a href="" title="Zones"><span>Zones</span></a></li>
                                <li class=" "><a href="" title="Rules"><span>Rules</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <router-link to="/sales/orders/form" title="Catalog" class="dropdown-collapse ">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Sales Form</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </router-link>
                </li>
                <li class=" ">
                    <a href="#" title="Catalog" class="dropdown-collapse ">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        <span>Catalog</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="" title="Navigation" class=" ">
                                <span>Navigation</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Products" class=" ">
                                <span>Products</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Quick Add Products" class=" ">
                                <span>Quick Add Products</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Vendors" class=" ">
                                <span>Vendors</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Inventory" class=" ">
                                <span>Inventory</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Products Import" class=" ">
                                <span>Products Import</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Search Terms" class=" ">
                                <span>Search Terms</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Field Sets" class=" ">
                                <span>Field Sets</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Fields" class=" ">
                                <span>Fields</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Products Indexing" class=" ">
                                <span>Products Indexing</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Product Reviews" class=" ">
                                <span>Product Reviews</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Promotions" class=" ">
                                <span>Promotions</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="Customers" class="dropdown-collapse ">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>Customers</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" "><a href="" title="Customers" class=" "><span>Customers</span></a></li>
                        <li class=" "><a href="" title="Customer Groups" class=" "><span>Customer Groups</span></a></li>
                        <li class=" ">
                            <a href="" title="Import Customers" class=" ">
                                <span>Import Customers</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Customer Fields" class=" ">
                                <span>Customer Fields</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Email Subscriptions" class=" ">
                                <span>Email Subscriptions</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="CMS" class="dropdown-collapse ">
                        <i class="fa fa-folder-open" aria-hidden="true"></i>
                        <span>CMS</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="" title="Blocks" class=" ">
                                <span>Blocks</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Blog Posts" class=" ">
                                <span>Blog Posts</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Blog Categories" class=" ">
                                <span>Blog Categories</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="Seo" class="dropdown-collapse ">
                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                        <span>CEO</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="" title="URL Alias" class=" ">
                                <span>URL Alias</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="Reports" class="dropdown-collapse ">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                        <span>Reports</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="#" title="Sales" class="dropdown-collapse ">
                                <span>Sales</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                            <ul class="nav nav-stacked ">
                                <li class=" ">
                                    <a href="" title="Product Performance">
                                        <span>Product Performance</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Cart Abandonment">
                                        <span>Cart Abandonment</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by Customer Group">
                                        <span>Sales by Customer Group</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by Payment Method">
                                        <span>Sales by Payment Method</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by Country">
                                        <span>Sales by Country</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by State/Province">
                                        <span>Sales by State/Province</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by Hour of the Day">
                                        <span>Sales by Hour of the Day</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales by Day of Week">
                                        <span>Sales by Day of Week</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales Order Detail Report">
                                        <span>Sales Order Detail Report</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Sales Item Detail Report">
                                        <span>Sales Item Detail Report</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Shipping Methods">
                                        <span>Shipping Methods</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Customer Performance">
                                        <span>Customer Performance</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Product History">
                                        <span>Product History</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" ">
                            <a href="#" title="Customers" class="dropdown-collapse ">
                                <span>Customers</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                            <ul class="nav nav-stacked ">
                                <li class=" ">
                                    <a href="" title="Users by Country">
                                        <span>Users by Country</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Customer Product History">
                                        <span>Customer Product History</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Customer Order History">
                                        <span>Customer Order History</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" ">
                            <a href="#" title="Products and Inventory" class="dropdown-collapse ">
                                <span>Products and Inventory</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                            <ul class="nav nav-stacked ">
                                <li class=" ">
                                    <a href="" title="Search Terms">
                                        <span>Search Terms</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Products on Wishlists">
                                        <span>Products on Wishlists</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Product Orders History">
                                        <span>Product Orders History</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Low Inventory Report">
                                        <span>Low Inventory Report</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" ">
                            <a href="#" title="Data Integrity" class="dropdown-collapse ">
                                <span>Data Integrity</span>
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </a>
                            <ul class="nav nav-stacked ">
                                <li class=" ">
                                    <a href="" title="Products with no images">
                                        <span>Products with no images</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Products without a category">
                                        <span>Products without a category</span>
                                    </a>
                                </li>
                                <li class=" ">
                                    <a href="" title="Category without Products">
                                        <span>Category without Products</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="Modules" class="dropdown-collapse ">
                        <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
                        <span>Modules</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="" title="Manage Modules" class=" ">
                                <span>Manage Modules</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Install from Market" target="MarketInstall" class=" ">
                                <span>Install from Market</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Publish to Market" class=" ">
                                <span>Publish to Market</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class=" ">
                    <a href="#" title="System" class="dropdown-collapse">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>System</span>
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                    <ul class="nav nav-stacked ">
                        <li class=" ">
                            <a href="" title="Users" class=" ">
                                <span>Users</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Roles &amp; Permissions" class=" ">
                                <span>Roles &amp; Permissions</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Multi Site" class=" ">
                                <span>Multi Site</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Templates" class=" ">
                                <span>Templates</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Import/Export" class=" ">
                                <span>Import/Export</span>
                            </a>
                        </li>
                        <li class="system-settings ">
                            <a href="" title="Settings" class=" ">
                                <span>Settings</span>
                            </a>
                        </li>
                        <li class="media-library ">
                            <a href="" title="Media Library" class=" ">
                                <span>Media Library</span>
                            </a>
                        </li>
                        <li class=" ">
                            <a href="" title="Translations" class=" ">
                                <span>Translations</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>
