@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

@media (min-width: 768px) {
  .img-responsive-sm {
    display: block;
    height: auto;
    max-width: 100%; } }

@media (max-width: 767px) {
  .no-mg-t-xs {
    margin-top: 0 !important; } }

.no-mg-t {
  margin-top: 0 !important; }

.no-mg-b {
  margin-bottom: 0 !important; }

.center-block {
  margin-left: auto;
  margin-right: auto; }

#stats-chart1, #stats-chart2, #stats-chart3, #stats-chart7, #stats-chart8 {
  height: 200px; }

.color-settings .color-title {
  font-weight: bold;
  padding-left: 10px; }

.wysihtml5-sandbox {
  box-sizing: border-box; }
/*
  wen defined stylesheets
*/
.dropdown-menu {
  display: none;
  position: absolute;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 2px;
    min-height: 20px;
    padding: 0;
    position: relative;
}

.dd-list {
    list-style: none outside none;
    text-align: left;
}

.dd3-handle {
    height: 30px;
    background: -moz-linear-gradient(center top , #DDDDDD 0%, #BBBBBB 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #AAAAAA;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 30px;
}


.dd3-content {
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #FAFAFA 0%, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: block;
    font-weight: bold;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    text-decoration: none;
}

.responsive-table {
position: relative;
overflow: hidden;
}

.responsive-table table td {
  white-space:pre-line;
  word-wrap:break-word;
  overflow: hidden;
}
.inline-editor {
  padding: 0px;
  margin: 0px;
  height: 22px;
}

.filter-span {
   margin-right: 50px;
}

.filter-box {
    text-align: left;
    padding: 15px;
    width: 535px;
}

input.unvalid {
  border: 1px solid red;
}

div.ui-resizable-handle {
  margin-right: -16px;
  width: 15px;
  height: 100%;
  min-height: 38px;
}




