<div class="details-additional-block">
    <div class="block-title">
        <p>{{'Add a new cancellation'|_}}</p>
    </div>
    <div v-if="form.items_cancellable.length">
        <div class="scrollable-area">
            <table class="secondary-table combined-table">
                <thead>
                <tr>
                    <td>{{'Cancel'|_}}</td>
                    <td>{{'Thumbnail'|_}}</td>
                    <td>{{'Product Info'|_}}</td>
                    <td>{{'Item Qtys'|_}}</td>
                    <td>{{'Cancellable'|_}}</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in form.items_cancellable" :class="{selected: isItemSelected(item)}">
                    <th class="column-row-select">
                        <label @click.prevent="toggleItem(item)"><input type="checkbox" :checked="isItemSelected(item)"/>
                            <span><i class="fa fa-check" aria-hidden="true"></i></span></label>
                    </th>
                    <td>
                        <img :src="item.thumb_url" :alt="item.product_name">
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'Name:'|_}}</th><td>{{item.product_name}}</td></tr>
                        <tr><th>{{'Qty:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'P.SKU:'|_}}</th><td>{{item.product_sku}}</td></tr>
                        <tr><th>{{'I.SKU:'|_}}</th><td>{{item.inventory_sku}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'Ordered:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'Shipped:'|_}}</th><td>{{item.qty_shipped}}</td></tr>
                        <tr><th>{{'Cancellable:'|_}}</th><td>{{item.qty_can_cancel}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'To Cancel:'|_}}</th><td><input type="number" class="form-control" v-model="item.qty_to_cancel" :disabled="!isItemSelected(item)"></td></tr>
                        </tbody></table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="total-amount">
            <div class="total-amount-pay">
                <p>{{'Total Qty to Cancel'|_}}</p>
                <span class="total-sum">{{totalQtyToCancel}}</span>
            </div>
        </div>
        <div class="control-buttons-block text-right">
            <button type="button" class="button button12" @click="submit()" :diabled="!totalQtyToCancel">{{'Create and Save Cancellation'|_}}</button>
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Close'|_}}</button>
        </div>
    </div>
    <div v-else>
        {{'No cancellable items found.'|_}}
        <div class="control-buttons-block text-right">
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Close'|_}}</button>
        </div>
    </div>
</div>