<div class="product-sku">
    <div class="block-title">
        <p>{{'Add a new payment'|_}}</p>
    </div>
    <div v-if="form.items_payable">
        <div class="scrollable-area">
            <table class="secondary-table combined-table">
                <thead>
                <tr>
                    <td>{{'Pay'|_}}</td>
                    <td>{{'Thumbnail'|_}}</td>
                    <td>{{'Product Info'|_}}</td>
                    <td>{{'Amounts'|_}}</td>
                    <td>{{'Payable'|_}}</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in form.items_payable" :class="{selected: isItemSelected(item)}">
                    <th class="column-row-select">
                        <label @click.prevent="toggleItem(item)"><input type="checkbox" :checked="isItemSelected(item)"/>
                            <span><i class="fa fa-check" aria-hidden="true"></i></span></label>
                    </th>
                    <td>
                        <img :src="item.thumb_url" :alt="item.product_name">
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                            <tr><th>{{'Name:'|_}}</th><td>{{item.product_name}}</td></tr>
                            <tr><th>{{'Qty:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                            <tr><th>{{'P.SKU:'|_}}</th><td>{{item.product_sku}}</td></tr>
                            <tr><th>{{'I.SKU:'|_}}</th><td>{{item.inventory_sku}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                            <tr><th>{{'Total:'|_}}</th><td>{{item.row_total|currency}}</td></tr>
                            <tr><th>{{'Paid:'|_}}</th><td>{{item.amount_paid|currency}}</td></tr>
                            <tr><th>{{'In Payments:'|_}}</th><td>{{item.amount_in_payments|currency}}</td></tr>
                            <tr><th>{{'Due:'|_}}</th><td>{{item.amount_due|currency}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                            <tr><th>{{'To Pay:'|_}}</th><td><input type="text" v-model="item.amount_to_pay" :disabled="!isItemSelected(item)"></td></tr>
                        </tbody></table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="total-amount">
            <div class="total-amount-pay">
              	<div>
					<p>Total Amount to Pay</p>
					<span class="total-sum">{{totalAmountToPay|currency}}</span>
				</div>
				<div>
				<p>Payment Method</p>
					<select2>
						<option value="stripe">Stripe</option>
						<option value="paypal">PayPal Express Checkout</option>
						<option value="cc">Credit Card</option>
						<option value="basic" selected="">Check / Money Order</option>
						<option value="ogone">Ogone</option>
					</select2>
				</div>
            </div>
			<!--<div class="create-payment">
				
            </div>-->
        </div>
      <!--  <div class="">
            
        </div>-->
        <div class="control-buttons-block">
            <button type="button" class="button button12" @click="$emit('action', 'create')">{{'Add Payment'|_}}</button>
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
    <div v-else>
        {{'No payable items found.'|_}}
        <div class="control-buttons-block">
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
</div>