<div class="details-additional-block">
    <div class="block-title">
        <p>{{'Add a new return'|_}}</p>
    </div>
    <div v-if="form.items_returnable.length">
        <div class="scrollable-area">
            <table class="f-secondary-table f-combined-table">
                <thead>
                <tr>
                    <td>{{'Return'|_}}</td>
                    <td>{{'Thumbnail'|_}}</td>
                    <td>{{'Product Info'|_}}</td>
                    <td>{{'Item Qtys'|_}}</td>
                    <td>{{'Returnable'|_}}</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in form.items_returnable" :class="{selected: isItemSelected(item)}">
                    <th class="column-row-select">
                        <label @click.prevent="toggleItem(item)"><input type="checkbox" :checked="isItemSelected(item)" class="f-input-checkbox"/>
                            <span><i class="fa fa-check" aria-hidden="true"></i></span></label>
                    </th>
                    <td>
                        <img :src="item.thumb_url" :alt="item.product_name">
                    </td>
                    <td>
                        <table class="f-combined-columns"><tbody>
                        <tr><th>{{'Name:'|_}}</th><td>{{item.product_name}}</td></tr>
                        <tr><th>{{'Qty:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'P.SKU:'|_}}</th><td>{{item.product_sku}}</td></tr>
                        <tr><th>{{'I.SKU:'|_}}</th><td>{{item.inventory_sku}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="f-combined-columns"><tbody>
                        <tr><th>{{'Ordered:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'Shipped:'|_}}</th><td>{{item.qty_shipped}}</td></tr>
                        <tr><th>{{'In Returns:'|_}}</th><td>{{item.qty_in_returns}}</td></tr>
                        <tr><th>{{'Returnable:'|_}}</th><td>{{item.qty_can_return}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="f-combined-columns"><tbody>
                        <tr><th>{{'To Return:'|_}}</th><td><input type="number" class="f-input-number" v-model="item.qty_to_return" :disabled="!isItemSelected(item)"></td></tr>
                        </tbody></table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="total-amount">
            <div class="total-amount-pay">
                <p>{{'Total Qty to Return'|_}}</p>
                <span class="total-sum">{{totalQtyToReturn}}</span>
            </div>
            <div class="create-payment">
                <p>{{'Shipping Method'|_}}</p>
                <select2 v-model="rma.carrier_code" class="form-control">
                    <option></option>
                    <option v-for="m in form.shipping_methods" :value="m.id">{{m.text}}</option>
                </select2>
            </div>
            <div class="create-payment" v-if="rma.carrier_code">
                <p>{{'Shipping Service'|_}}</p>
                <select2 v-model="rma.service_code" class="form-control">
                    <option></option>
                    <option v-for="s in shippingServices" :value="s.id">{{s.text}}</option>
                </select2>
            </div>
            <div class="create-payment">
                <p>{{'Shipping Weight'|_}}</p>
                <input type="number" v-model="rma.shipping_weight" class="f-input-number">
            </div>
            <div class="create-payment">
                <p>{{'Shipping Size'|_}}</p>
                <input type="text" v-model="rma.shipping_size" class="f-input">
            </div>
            <div class="create-payment">
                <p>{{'Carrier Price'|_}}</p>
                <input type="number" v-model="rma.carrier_price" class="f-input-number">
            </div>
        </div>
        <div class="f-buttons-block text-right">
            <button type="button" class="button button1" @click="submit()" :diabled="!totalQtyToReturn">{{'Create and Save Return'|_}}</button>
            <button type="button" class="button2" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
    <div v-else>
        {{'No returnable items found.'|_}}
        <div class="f-buttons-block text-right">
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
</div>