<div class="details-additional-block">
    <div class="block-title">
        <p>{{'Add a new shipment'|_}}</p>
    </div>
    <div v-if="form.items_shippable.length">
        <div class="scrollable-area">
            <table class="secondary-table combined-table">
                <thead>
                <tr>
                    <td>{{'Ship'|_}}</td>
                    <td>{{'Thumbnail'|_}}</td>
                    <td>{{'Product Info'|_}}</td>
                    <td>{{'Item Qtys'|_}}</td>
                    <td>{{'Shippable'|_}}</td>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in form.items_shippable" :class="{selected: isItemSelected(item)}">
                    <th class="column-row-select">
                        <label @click.prevent="toggleItem(item)"><input type="checkbox" :checked="isItemSelected(item)" class="f-input-checkbox"/>
                            <span><i class="fa fa-check" aria-hidden="true"></i></span></label>
                    </th>
                    <td>
                        <img :src="item.thumb_url" :alt="item.product_name">
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'Name:'|_}}</th><td>{{item.product_name}}</td></tr>
                        <tr><th>{{'Qty:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'P.SKU:'|_}}</th><td>{{item.product_sku}}</td></tr>
                        <tr><th>{{'I.SKU:'|_}}</th><td>{{item.inventory_sku}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'Ordered:'|_}}</th><td>{{item.qty_ordered}}</td></tr>
                        <tr><th>{{'Shipped:'|_}}</th><td>{{item.qty_shipped}}</td></tr>
                        <tr><th>{{'In Shipments:'|_}}</th><td>{{item.qty_in_shipments}}</td></tr>
                        <tr><th>{{'Shippable:'|_}}</th><td>{{item.qty_can_ship}}</td></tr>
                        </tbody></table>
                    </td>
                    <td>
                        <table class="combined-columns"><tbody>
                        <tr><th>{{'To Ship:'|_}}</th><td><input type="number" class="form-control" v-model="item.qty_to_ship" :disabled="!isItemSelected(item)"></td></tr>
                        </tbody></table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="total-amount">
            <div class="total-amount-pay">
                <p>{{'Total Qty to Ship'|_}}</p>
                <span class="total-sum">{{totalQtyToShip}}</span>
            </div>
            <div class="create-payment">
                <p>{{'Shipping Method'|_}}</p>
                <select2 v-model="shipment.carrier_code" class="form-control">
                    <option></option>
                    <option v-for="m in form.shipping_methods" :value="m.id">{{m.text}}</option>
                </select2>
            </div>
            <div class="create-payment" v-if="shipment.carrier_code">
                <p>{{'Shipping Service'|_}}</p>
                <select2 v-model="shipment.service_code" class="form-control">
                    <option></option>
                    <option v-for="s in shippingServices" :value="s.id">{{s.text}}</option>
                </select2>
            </div>
            <div class="create-payment">
                <p>{{'Shipping Weight'|_}}</p>
                <input type="number" v-model="shipment.shipping_weight" class="form-control">
            </div>
            <div class="create-payment">
                <p>{{'Shipping Size'|_}}</p>
                <input type="text" v-model="shipment.shipping_size" class="form-control">
            </div>
            <div class="create-payment">
                <p>{{'Carrier Price'|_}}</p>
                <input type="number" v-model="shipment.carrier_price" class="form-control">
            </div>
        </div>
        <div class="f-button-block text-right">
            <button type="button" class="button button12" @click="submit()" :diabled="!totalQtyToShip">{{'Create and Save Shipment'|_}}</button>
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
    <div v-else>
        {{'No shippable items found.'|_}}
        <div class="f-button-block text-right">
            <button type="button" class="button13" @click="$emit('action', 'close')">{{'Cancel'|_}}</button>
        </div>
    </div>
</div>