
<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">Developers - Test</h1>
    <div class="btn-group">
        {% if THIS.get('can_cgi') %}
        <button class="btn" onclick="ajax_tests_run(); return false;">Run tests cgi</button>
        {% endif %}
        <button class="btn" onclick="ajax_tests_run2(); return false;">Run tests web</button>
    </div>
  </div>
  <div class="f-admin-main">
    <form class="form form-horizontal">
      <div id="results" style="display: none; max-height:480px; overflow:auto;">
        Hello!
      </div>
    </form>
  </div>
</div>



<script type="text/javascript">
    function ajax_tests_run() {
        $.ajax({
            type: "GET",
            url: "{{ APP.href('tests/run') }}"
        }).done(function( msg ) {
            $('#results').show().html(msg);
        });
        return false;
    }
    function ajax_tests_run2() {
        $.ajax({
            type: "GET",
            url: "{{ APP.href('tests/run2') }}"
        }).done(function( msg ) {
            $('#results').show().html(msg);
        });
        return false;
    }
</script>
