.f-breadcrumbs-block {
      display: inline-block;
}
.f-breadcrumb {
      display: inline-block;
      vertical-align: middle;
}
.f-header-breadcrumb {
      margin: 0 0 0 30px;
      padding: 0;
      white-space: nowrap;
      /*li:nth-last-child(2), li:last-child {
            &:after {
                  display: none;
            }
      }*/
}
/*.f-breadcrumb__penultimate {
      vertical-align: middle;
      display: inline-block;
      .f-breadcrumb__link {
            margin: 0;
      }
      &:before {
            display: none;
      }
}*/
/*.f-breadcrumb__item {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 17px;
            transform: translateY(-10px);
            color: #fff;
      }
      &:before {
            display: none;
      }
      &:last-of-type {
            .f-breadcrumb__link {
                  margin: 0;
            }
            &:before {
                  display: none;
            }
            &:after {
                  display: none;
            }
            .f-breadcrumb__link {
                  padding-right: 0;
            }
      }
}*/
.f-breadcrumb__link {
      padding: 21px 14px 20px;
      font-size: 17px;
      color: #fff;
      position: relative;
      line-height: 57px;
      &:hover {
            color: #fff;
      }
      &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 50%;
            font-size: 17px;
            transform: translateY(-50%);
            color: #fff;
      }
      &:last-of-type {
            padding-right: 0;
            &:before {
                  display: none;
            }
            &:after {
                  display: none;
            }
      }
}
.f-breadcrumb-header__link  {
      color: #fff;
}
.f-breadcrumb__item-favorite__link {
      font-size: 17px;
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      float: right;
      line-height: 57px;
      padding: 0 5px;
      position: relative;
      left: 4px;
      &:focus {
            color: #fff;
      }
      .fa-star {
            display: none;
      }
      svg {
            fill: none;
            stroke: #fff;
      }
      &:hover {
            color: #fff;
          svg {
                  fill: #eee;
                  stroke: #eee;
            }
      }
      &.on {
            svg {
                  fill: #fff;
                  stroke: #fff;
            }
            &:hover {
                  svg {
                        fill: none;
                        stroke: #eee;
                  }
            }
      }
}

@media (max-width: 1279px) {
      .f-breadcrumbs-block {
            max-width: calc(100% - 540px);
            white-space: nowrap;
      }
      .f-breadcrumb {
            position: relative;
            display: inline-block;
            overflow: hidden;
            width: calc(100% - 27px);
            text-overflow: ellipsis;
          /*  &:after {
                  content: '';
                  background: #0086c0;
                  display: block;
                  position: absolute;
                  top: 0;
                  right: -1px;
                  color: #fff;
                  height: 52px;
                  width: 10px;
            }*/
      }

      .f-header-breadcrumb {
            overflow: hidden;
            margin-left: 10px;
            position: relative;
            color: #fff;
      }
      .f-breadcrumb__link {
            font-size: 14px;
            padding: 0 14px 0;
      }
}

@media (max-width: 767px) {
      .f-breadcrumb {
            background-color: transparent;
            margin-left: 0;
            color: #000;
      }
    /*  .f-breadcrumb__item {

      }*/
      .f-breadcrumb__link {
            color: #000;
            &:hover {
                  color: #000;
                  text-decoration: underline;
            }
            &:after {
                  color: #000;
            }
      }
      .f-breadcrumb__penultimate {
            a {
                  color: #000;
            }
      }
      .f-breadcrumb__item-favorite__link {
            svg {
                  fill: none;
                  stroke: #000;
            }
            &:hover {
                 svg {
                        fill: #545353;
                        stroke: #000;
                  }
            }
            &.on {
                  svg {
                        fill: #000;
                        stroke: #000;
                  }
                  &:hover {
                        svg {
                              fill: none;
                              stroke: #545353;
                        }
                  }
            }
      }
}
