@font-face {
	font-family: "SFUIDisplayRegular";
	src: url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.eot");
	src: url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.woff") format("woff"),
		url("../fonts/SFUIDisplayRegular/SFUIDisplayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "SFUIDisplayRegular";
	src: url("../fonts/SFUIDisplayMedium/SFUIDisplayMedium.eot");
	src: url("../fonts/SFUIDisplayMedium/SFUIDisplayMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SFUIDisplayMedium/SFUIDisplayMedium.woff") format("woff"),
		url("../fonts/SFUIDisplayMedium/SFUIDisplayMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "SFUIDisplayRegular";
	src: url("../fonts/SFUIDisplayBold/SFUIDisplayBold.eot");
	src: url("../fonts/SFUIDisplayBold/SFUIDisplayBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/SFUIDisplayBold/SFUIDisplayBold.woff") format("woff"),
		url("../fonts/SFUIDisplayBold/SFUIDisplayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: bold;
}
