html {
      height: 100%;
      width: 100%;
      /*min-width: 317px;*/
}

body {
      margin: 0;
      padding: 0;
      min-height: 100%;
      min-width: 310px;
      font-size: 13px;
      line-height: 1.25em;
      font-family: "SFUIDisplayRegular", sans-serif;
      box-sizing: border-box;
      background: #f1f1f1;
}

.f-admin-header {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 999999;
      min-width: 317px;
      background: #0086c0;
}

/*Header search block*/

.f-admin-header__search-block {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .custom-dropdown__menu {
            a {
                  padding: 8px 20px;
                  display: inline-block;
                  &:hover {
                        text-decoration: none;
                        color: #262626;
                        background-color: #f5f5f5;
                  }
            }
      }
}

.f-admin-header__search-block__button {
      padding: 8px 0px 3px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      text-shadow: none;
      margin: 0;
      width: 40px;
      border: 0;
      background: transparent;
      svg {
            fill: #fff;
            stroke: #fff;
      }
}

.f-admin-header__search-block__input {
      width: 300px;
      font-size: 16px;
      color: #fff;
      background: transparent;
      border: 1px solid #d0dae3;
      padding: 8px 40px 8px 10px;
      border-radius: 5px;
      &::-webkit-input-placeholder {
            color: #fff;
      }
      &:-moz-placeholder {
            color: #fff;
            opacity: 1;
      }
      &::-moz-placeholder {
            color: #fff;
            opacity: 1;
      }
      &:-ms-input-placeholder {
            color: #fff;
      }
}


/*Custom dropdown block*/

.f-dropdown {
      position: relative;
      &.open {
            .f-dropdown__menu {
                  display: block;
            }
      }
}

.f-dropdown__menu {
      padding: 0;
      position: absolute;
      top: 100%;
      z-index: 1000;
      display: none;
      min-width: 160px;
      margin: 2px 0 0;
      list-style: none;
      text-align: left;
      background-color: #ffffff;
      border: solid 1px #f2f2f2;
      li:hover {
            background-color: #f5f5f5;
      }
      & > li {
            & > a:hover,
            & > a:focus,
            & > a:hover {
                  text-decoration: none;
                  color: #262626;
                  background-color: #f5f5f5;
            }
      }
      & > li.active {
            & > a:hover,
            & > a:focus,
            & > a:hover {
                  text-decoration: none;
                  color: #000;
            }
      }
}

.f-dropdown__content {
      padding: 0;
}

/*Header navbar's blocks*/

.header__navbar-toggle {
      margin: 0 0 0 94px;
      padding: 14px 0;
      svg {
            stroke: #fff;
            fill: #fff;
      }
      &:active {
            svg {
                  stroke: #9a9a9a;
                  fill: #ffffff;
            }
      }
}

.header__navbar {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      .f-dropdown__menu {
            right: 0;
            &:before {
                  content: '';
                  position: absolute;
                  right: 10px;
                  top: -20px;
                  border: 10px solid transparent;
                  border-bottom: 10px solid #fff;
            }
      }
}

.header__navbar__item {
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      a {
            border: 0;
            display: inline-block;
      }
      svg {
            fill: #fff;
            stroke: #fff;
      }
}

.header__notification-block {
      a {
            padding: 17px 12px 17px;
      }
      .f-dropdown__menu {
            width: 300px;
            padding-bottom: 0;
            * {
                  color: #5f5f5f;
            }
            li {
                  padding: 5px 0 5px 6px;
                  border-bottom: 1px solid #eaeaea;
                  * {
                        display: inline-block;
                        vertical-align: middle;
                        width: auto;
                        border: 0;
                  }
                  a {
                        padding: 0 6px;
                  }
            }
            .last {
                  border-bottom: 0;
                  text-align: center;
                  padding: 0;
                  a {
                        width: 100%;
                        padding: 5px 0;
                  }
            }
            .time {
                  background: #f1f1f1;
                  padding: 4px 7px;
                  margin-left: 10px;
                  position: absolute;
                  right: 6px;
                  border-radius: 5px;
            }
            img {
                  width: 24px;
                  height: 24px;
                  border: 1px solid #858181;
            }
      }
}

.header__settings-block {
      a {
            padding: 17px 12px 17px;
      }
}

.header__favorites-block {
      a {
            padding: 17px 12px 17px;
      }
      .f-dropdown-menu {
            width: auto;
            max-height: 500px;
            overflow-y: auto;
      }
      li {
            position: relative;
            white-space: nowrap;
            a {
                  padding: 8px 28px 8px 10px;
                  display: block;
                  color: #5f5f5f;
                  &:hover {
                        color: #000;
                  }
            }
      }
      li.active {
            a {
                  color: #020202;
                  font-weight: bold;
            }
      }
      .remove {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            padding: 8px;
            i {
                  color: #868a8a;
            }
            &:hover {
                  i {
                        color: #000;
                  }
            }
      }
}

.header__setup-block {
      a {
            color: #fff;
            padding: 12px 10px;
            font-size: 1.05em;
            .setup-progress-label {
                  margin-bottom: 2px;
            }
            .setup-progress-container {
                  width: 120px;
                  height: 14px;
                  border: 1px solid rgba(0, 0, 0, .25);
                  border-radius: 15px;
                  background: rgba(0, 0, 0, .15);
            }
            .setup-progress-bar {
                  background: #69B221;
                  height: 100%;
                  border-radius: 15px 0 0 15px;
            }
      }
      .f-dropdown__menu {
            font-size: 14px;
      }
      .f-dropdown__content {
            width: auto;
            max-height: 500px;
            overflow-y: auto;
      }
      li {
            position: relative;
            white-space: nowrap;
            background: #fff;
            a {
                  padding: 8px 28px 8px 10px;
                  display: block;
                  color: #5f5f5f;
                  font-weight: bold;
                  &:hover {
                        color: #000;
                  }
            }
      }
      li.done {
            a {
                  color: #888;
                  font-weight: normal;
                  background: #fff;
            }
      }
      .done-icon {
            position: absolute;
            z-index: 2;
            right: 0;
            top: 0;
            padding: 8px;
            i {
                  color: #0c8a00;
            }
            &:hover {
                  background: #f5f5f5;
                  i {
                        color: #06c700;
                  }
            }
      }

}


/*Logo block*/

.header__logo {
      display: inline-block;
      float: left;
      position: relative;
}

.logo__img {
      width: 102px;
      height: 40px;
      display: inline-block;
      padding: 0 0 10px 0;
      background: url(../img/logo.png) no-repeat 50% 50%;
      background-size: contain;
}

.logo__text {
      position: absolute;
      left: 0;
      bottom: 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 10px;
}


/*Notifications block and messages*/

.notifications-block {
      text-align: center;
      position: fixed;
      width: 50%;
      margin: 0 25%;
      top: 60px;
      z-index: 1;
}

.notifications-block__container {
      display: inline-block;
}

.notifications-block__text {
      width: 100%;
      padding: 15px 40px 15px 40px;
      color: #4a5629;
      margin-bottom: 5px;
      position: relative;
      box-shadow: 7px 7px 5px 0 rgba(0, 0, 0, 0.11);
}

.notifications-block__remove {
      position: absolute;
      right: 0;
      top: 0;
      padding: 2px 4px;
      color: #474646;
      &:hover {
            color: #000;
      }
}

.error-notification {
      background: #f4b0af;
}

.success-notification {
      background: #d9fcdb;
}

.warning-notification {
      background: #f8f5cc;
}

.info-notificatione {
      background: #d2e3f5;
}

.icon-close {
      display: none;
}

@media (min-width: 768px) {
      .navbar-toggle {
            display: block;
      }
}

@media (max-width: 1365px) {
      header {
            .search-block {
                  input[type="text"] {
                        width: 216px;
                  }
                  button {
                        display: inline-block;
                        width: 35px;
                  }
            }
      }
      .navbar-toggle.btn.pull-left {
            margin: 0px 0 0 35px;
            z-index: 4;
            &.open {
                  .icon-bar {
                        display: none;
                  }
                  .icon-close {
                        display: block;
                  }
            }
      }
      .messages-block {
            top: 60px;
      }
}

@media (max-width: 767px) {
      .f-admin-header__logo {
            display: none;
      }
      header {
            .navbar-toggle.btn.pull-left {
                  margin: 0;
                  padding: 14px 20px;
            }
            .row {
                  padding: 0 0;
            }
      }
      .notification,
      .favorites,
      .header-setup {
            .dropdown-menu {
                  position: absolute;
                  top: 57px;
                  left: 0;
                  background: #ffffff;
                  width: 100%;
                  text-align: left;
                  z-index: 5;
                  min-width: 317px;
                  right: inherit;
            }
      }

      header {
            .nav {
                  li {
                        border-left: solid 1px rgba(255, 255, 255, 0.14);
                  }
                  .notification,
                  .settings,
                  .favorites,
                  .header-setup {
                        & > a {
                              padding: 17px 20px;
                        }
                        .dropdown-menu:before {
                              right: 142px;
                        }
                  }
            }
            .notification {
                  .dropdown-menu {
                        &:before {
                              right: 20px;
                        }
                  }
            }
            .search-block {
                  position: static;
                  .dropdown-toggle {
                        padding: 17px 20px;
                        display: inline-block;
                        border-left: solid 1px rgba(255, 255, 255, 0.14);
                  }
                  .dropdown-menu {
                        position: absolute;
                        top: 57px;
                        left: 0;
                        background: #ffffff;
                        width: 100%;
                        text-align: left;
                        padding: 9px 18px;
                        z-index: 5;
                        min-width: 317px;
                        &:before {
                              right: 205px;
                        }
                  }
                  input[type="text"] {
                        width: 100%;
                        color: #747373
                  }
                  button {
                        font-size: 16px;
                        width: initial;
                        padding: 11px 10px;
                        box-shadow: none;
                        border: 0;
                        background: #ff8f00;
                        color: #fff;
                        border-radius: 0 5px 5px 0;
                        &:active {
                              background-color: #ca7302;
                              box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
                        }
                        &:hover {
                              background: #ca7302;
                        }
                  }
                  .input-group {
                        width: 100%;
                  }
            }
      }
      .messages-block {
            top: 60px;
      }
      .navbar-right {
            position: relative;
            .dropdown {
                  position: static;
            }
      }
      .dropdown-menu {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      }
}