.f-horizontal-menu {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	border-radius: 5px;
	.f-horizontal-menu__dropdown-menu {
		display: none;
		padding: 0;
	}
	.f-dropdown__toggle {
		display: none;
	}
	&.f-dropdown {
		.f-dropdown__toggle {
			display: inline-block;
		}
		.f-horizontal-menu__dropdown-menu {
			display: none;
			.f-horizontal-menu__item {
				display: block;
				width: 100%;
			}
		}
		&.open {
			.f-horizontal-menu__dropdown-menu {
				display: block;
			}
		}
		.f-horizontal-menu__item.active .f-horizontal-menu__link {
			border: solid 1px #d9d9d9;
			background: #fff;
			font-weight: bold;
			padding: 8px 20px;
		}
		.f-dropdown__toggle {
			padding: 8px 30px;
		}
	}
}

@media (min-width: 1365px) {
	.f-horizontal-menu {
		display: inline-block !important;
	}
}
.f-horizontal-menu__link {
	color: #2e4354;
	padding: 8px 20px 8px 20px;
	border-top: solid 1px #d9d9d9;
	border-bottom: solid 1px #d9d9d9;
	text-align: center;
	font-weight: bold;
	font-size: 13px;
	display: block;
	background: #f1f1f1;
	position: relative;
	&:hover, &:focus {
		background: #fff;
		color: #000;
	}
	&:after {
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		top: 0;
		right: -1px;
		display: block;
		background: #d9d9d9;
	}

}
.f-horizontal-menu__item {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 1px;
	position: relative;
	&:last-of-type {
		.f-horizontal-menu__link {
			border-radius: 0 5px 5px 0;
			border-right: solid 1px #d9d9d9;
			&:after {
				display: none;
			}
		}
	}
	&:first-of-type {
		.f-horizontal-menu__link {
			border-radius: 5px 0 0 5px;
			border-left: solid 1px #d9d9d9;
		}
	}
	&.active {
		background: #eee;
		.f-horizontal-menu__link {
			background: #fff;
			font-weight: bold;
		}
		.f-horizontal-menu__dropdown {
			display: block;
		}
	}
	&.open {
		.f-horizontal-menu__dropdown-menu {
			display: block;
		}
	}
}
.f-horizontal-menu__icon {
	float: right;
	padding: 2px 7px;
}
.f-dropdown {
	.f-horizontal-menu__dropdown-menu {
		display: none;
		position: absolute;
		left: 0;
		top: 100%;
		padding: 0;
		width: 100%;
		background: #f1f1f1;
		z-index: 99;
		min-width: 160px;
		a {
			border-radius: 0;
			&:hover {
				background: #fff;
			}
		}
	}
}

.f-tabs-container {
	position: relative;
	width: 100%;
	height: 43px; // hide the scroll bar
	overflow: hidden;
	white-space: nowrap;
	padding: 0px 0;



	.f-horizontal-menu {
		position: relative;
		height: 49px; // hide the scroll bar
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.paddles {

}
.paddle {
	background: linear-gradient(to left, #f1f1f1, rgba(248,247,238,0));
	position: absolute;
	bottom: 9px;
	height: 34px;
	width: 3em;
	border: 0;
}
.left-paddle {
	left: 0;
	font-weight: bold;
	font-size: 16px;
	text-align: left;
}
.right-paddle {
	right: 0;
	font-weight: bold;
	font-size: 16px;
	text-align: right;
}
.hidden {
	display: none;
}

@media (max-width: 1365px) {

}

@media (max-width: 991px) {
	.f-tabs-container {
		max-width: inherit;
		height: inherit;
		overflow-x: visible;
		overflow-y: visible;
		.f-horizontal-menu {
			height: inherit;
			overflow-x: visible;
			overflow-y: visible;
		}
	}

}