.admin-main-content {
	.processing, .placed, .shipped {
		padding: 9px 8px;
		width: 100px;
		text-align: center;
		display: inline-block;
	}
}

.processing {
	background: #fff; 
	color: #00ceb4;
	font-weight: bold;
}
.placed {
	background: #fff;
	color: #f39b12;
	font-weight: bold;
}
.shipped {
	background: #fff;
	color: #2fbdf2;
	font-weight: bold;
}
.status-canceled {
	background: #fff;
	color: #dd4b39;
	font-weight: bold;
}
.status-pending {
	background: #fff;
	color: #f39c12;
	font-weight: bold;
}
.status-unpaid {
	background: #fff;
	color: #00c0ef;
	font-weight: bold;
}
.status-paid {
	background: #fff;
	color: #dd4b39;
	font-weight: bold;
}
.status-re-stocked {
	background: #fff;
	color: #00ceb4;
	font-weight: bold;
}
.status-complete {
	background: #fff;
	color: #00ceb4;
	font-weight: bold;
}
.status-refunded {
	background: #fff;
	color: #1289f3;
	font-weight: bold;
}