.main-grid {
	td,
	th {
		height: 49px;
	}
}

table {
	min-width: 100%;
	td,
	th {
		position: relative;
		padding: 7px 10px;
	}
	thead {
		border-bottom: 1px solid #ebebeb;
		.fa {
			margin-right: 10px;
		}
		.fa-caret-up {
			position: absolute;
			left: 8px;
			top: 16px;
		}
		.fa-caret-down {
			position: absolute;
			left: 8px;
			top: 22px;
		}
		a {
			padding: 17px 0 17px 20px;
			display: inline-block;
			width: 100%;
		}
		td {
			font-family: GothamProMedium;
			color: #000;
		}
	}
	tbody {
		span {
			font-family: $f-main-lig;
		}
		tr {
			border-bottom: 1px solid #f8f8f8;
		}
		tr:last-child {
			border-bottom: 0;
		}
		.fa {
			font-size: 16px;
			color: #dddddd;
			transition: 0.3s all ease-in;
			margin: 0 2px;
			&:hover {
				color: #000;
			}
		}
	}
	.sorted-up,
	.sorted-down {
		i {
			color: #7379db;
			top: 18px;
		}
	}
	td {
		font-family: $f-main-lig;
	}
	.column-row-select {
		width: 50px;
		padding: 0;
		min-width: auto;
		text-align: left;
	}
	.column-actions {
		width: 70px;
		padding: 0;
		min-width: auto;
		text-align: left;
	}
}

.fixed-table {
	border-bottom: 1px solid #000000;
	td,
	th {
		white-space: nowrap;
		height: 49px;
		padding: 10px 0 10px 20px;
	}
	thead {
		border-bottom: 1px solid #000000;
		span {
			color: #474646;
		}
		th:first-child,
		td:first-child,
		th:nth-of-type(2) a,
		td:nth-of-type(2) a {
			text-align: left;
			padding: 0 10px;
		}
		td,
		th {
			padding: 0;
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid #f8f8f8;
		}
		tr:last-child {
			border-bottom: 0;
		}
	}
	.column-row-select {
		width: 50px;
		padding: 0 10px;
		min-width: auto;
		text-align: left;
	}
	.column-actions {
		width: 70px;
		padding: 0 10px;
		min-width: auto;
		text-align: left;
	}
	.thumb_path {
		padding: 10px 10px 10px 10px;
	}
}

.striped-table {
	tr:nth-child(odd) {
		background: #f8f8f8;
	}
	td:first-child {
		font-family: GothamProBold;
		color: #2d2d2d;
		padding: 10px 0 10px 15px;
	}
	td:last-child {
		font-family: GothamProMedium;
		color: #2d2d2d;
	}
	td,
	th {
		height: auto;
		min-width: 70px;
		white-space: nowrap;
	}
}

.secondary-table {
	border-bottom: 0;
	white-space: nowrap;
	thead {
		border-bottom: 1px solid #ebebeb;
		td {
			font-size: 12px;
			font-family: GothamProMedium;
			padding: 5px;
		}
	}
	td {
		text-align: left;
		padding: 10px 5px;
	}
}

.label-table {
	white-space: nowrap;
}

@media (min-width: 1366px) and (max-width: 1600px) {
	.label-table {
		thead {
			display: none;
		}
		td {
			width: 100%;
			display: block;
			text-align: right;
		}
		td:before {
			content: attr(data-label);
			float: left;
			text-transform: uppercase;
			font-family: 'GothamProBold'; 
			display: block;
			padding: 0 8px;
			color: #000;
		}
	}
}