table {
	border-bottom: 1px solid #000000;
	min-width: 100%;
	td, th {
		height: 49px;
		min-width: 70px;
		white-space: nowrap;
	}
	thead {
		border-bottom: 1px solid #000000;
		span {
			color: #474646;
		}
		tr > * {
			position: relative;
			padding: 0 0 0 20px;
		}
		.fa {
			margin-right: 10px;
		}
		.fa-caret-up {
			position: absolute;
			left: 8px;
			top: 16px;
		}
		.fa-caret-down {
			position: absolute;
			left: 8px;
			top: 22px;
		}
	}
	tbody {
		span {
			font-family: $f-main-lig;
		}
		tr {
			border-bottom: 1px solid #f8f8f8;
			th:first-child, td:first-child {
				text-align: center;
			}
		}
		tr:last-child {
			border-bottom: 0;
		}
	}
	.fa-pencil {
		font-size: 16px; 
		color: #dddddd;
	}
	.sorted-up, .sorted-down {
		i {
			color: #7379db;
			top: 18px;
		}
	} 
}
