.f-widget-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-widget-block, .footer-widget-block {
	flex-basis: 100%;
}
.sidebar-widget-block {
	flex-basis: 24%;
}
.main-widget-block {
	flex-basis: 24%;
	flex-grow: 1;
	margin: 0 10px;
}
.widget-params-result {
	table {
		width: auto;
	}
}
.widget-menu {
	position: relative;
	left: -15px;
	li {
		margin-bottom: 5px;
	}
	a {
		padding: 10px;
		display: inline-block;
		background: #ededed;
		width: 100%;
		span {
			font-size: 11px;
			color: #000;
			display: inline-block;
			width: 80%;
			vertical-align: middle;
		}		
	}
	i {
		font-size: 25px;
		vertical-align: middle;
		color: #000;
		display: inline-block;
	}
	.fa-ellipsis-v {
		font-size: 16px;
		margin-right: 10px;		
	}
}
.widget-block {
	background: #fafafa;
	margin-bottom: 20px;
	/*box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);*/
	.dropdown.action {
		width: 100px;
		min-width: 100px;
		position: absolute;
		right: 10px;
		top: 7px;
	}
	.dropdown.action .dropdown-toggle {
		padding: 3px 20px;
	}
	.dropdown.action .dropdown-menu {
		width: 100px;
		min-width: 100px;
	}
	.dropdown.action.dropdown-buttons .f-caret {
		right: 9px;
		top: 3px;
		width: auto;
		height: auto;
		padding: 0;
	}
	.dropdown.action .dropdown-menu a {
		padding: 5px 10px;
	}
}
.main-widget-block {
	background: #dcdcdc;
}
.widget-block-title {
	padding: 3px 0 3px 12px;
	background: #eee;
	position: relative;
	p {
		text-transform: uppercase;
		font-size: 16px;
		padding: 4px 0 4px 0;
		color: #000;
		display: inline-block;
		width: 49%;
		font-weight: bold;
	}
}
.f-widget__actions-button {
	position: absolute !important;
	right: 12px;
	top: 6px;
}
.widget-block-content {
	padding: 10px;

}
.widget {
	padding: 0 10px 10px;
	border: 1px solid #dad6d6;
	border-radius: 3px;
	background: #f9f9f9;
	margin-bottom: 10px;
	position: relative;
	.widget-title {
		position: relative;
		padding-top: 10px;
		margin-bottom: 10px;
		p {
			text-transform: uppercase;
			color: #000;
			font-size: 14px;
			font-weight: bold;
			padding-right: 60px;
			padding-left: 18px;
		}
	}
	.f-delete {
		position: absolute;
		right: 0;
		top: 0;
		font-size: 15px;
		padding: 10px;
	}
	.f-edit {
		position: absolute;
		right: 30px;
		top: 0;
		font-size: 15px;
		padding: 10px;
		color: #474646;
		&:hover {
			color: #000;
		}
	}
	input, textarea, .select2 {
		width: 100% !important;
	}
	.widget-container {
		min-height: 100px;
		background: #fff;
	}
	.control-block {
		padding: 5px 0;
	}
	.input-group {
		margin: 5px 0;
	}
	.f-dragg {
		padding: 6px 10px;
		position: absolute;
		left: 0;
		top: 0;
		color: #474646;
		font-size: 24px;
		&:hover {
			color: #000;
		}
	}
	&.no-padding {
		padding: 0;
	}
}
.widget-content {
	display: none; //COMMENT
}

.f-two-col {
	display: flex;
	justify-content: space-between;
	.widget-container {
		flex-basis: 48%;
	}
}
.f-three-col {
	display: flex;
	justify-content: space-between;
	.widget-container {
		flex-basis: 31%;
	}
}
@media (max-width: 767px) {
	.widget-menu {
		left: 0;
		a {
			span {
				font-size: 9px;
			}		
		}
	}
	.widget {
		.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
			padding: 5px 5px;
		}
	}
}

