{% set prodCtrl = APP.instance('Sellvana_Catalog_Admin_Controller_Products') %}
{% set openData = prodCtrl.openCategoriesData(THIS.get('model')) %}
{% set checkedData = prodCtrl.linkedCategoriesData(THIS.get('model')) %}
{% set baseUrl = APP.href("catalog/categories/tree_data?id=") %}
<div class="f-section">
  <div id="categories_unset"></div>
  <div id="categories"></div>
</div>
<script>
    require(['jquery', 'fcom.admin', 'jstree'], function($) {
        $(function() {
            FCom.Admin.tree('#categories', {
                url: '{{ baseUrl ~ THIS.get('model').id }}',
                checkbox: {
                    override_ui:true,
                    checked_parent_open:true,
                    real_checkboxes:true,
                    two_state: true,
                    real_checkboxes_names: function (n) {
                        return [("category_id-" + (n[0].id)), n[0].id]
                    }
                },
                initially_open: {{ openData |json_encode| raw }}
            });
            var checked = {{ checkedData |json_encode| raw }};
            $('#categories').bind('loaded.jstree', function(event, data) {
                $('#categories').css({height:'auto'});
                for (var id in checked) {
                    jQuery("<input>").attr("type", "hidden").attr("name", checked[id]).val(0).appendTo('#categories_unset');
                    data.inst.check_node('#'+checked[id]);
                }
            }).bind('after_open.jstree', function(event, data) {
                for (var id in checked) {
                    data.inst.check_node('#'+checked[id]);
                }
            });

            $('#categories').css({overflowY:'auto'}).resizeWithWindow({initBy:'.adm-content-box'});
        })
    });
</script>
