
<section id="product">
  <div class="container">
   <!--  breadcrumb -->
    <ul class="breadcrumb">
      <li>
        <a href="#">Home</a>
        <span class="divider">/</span>
      </li>
      <li class="active">My Account</li>
    </ul>
    <div class="row">

      <!-- My Account-->
      <div class="col-lg-9">
        <h1 class="heading1"><span class="maintext">My Accounts</span><span class="subtext">View All your account information</span></h1>
        <h3 class="heading3">My Accounts</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="#"> Edit your account information</a>
            </li>
            <li>
              <a href="#"> Change your password</a>
            </li>
            <li>
              <a href="#">Modify your address book entries</a>
            </li>
            <li>
              <a href="#">Modify your wish list</a>
            </li>
          </ul>
        </div>
        <h3 class="heading3">My Orders</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="#"> View your order history</a>
            </li>
            <li>
              <a href="#"> Downloads</a>
            </li>
            <li>
              <a href="#">Your Reward Points</a>
            </li>
            <li>
              <a href="#">View your return requests</a>
            </li>
            <li>
              <a href="#">Your Transactions</a>
            </li>
          </ul>
        </div>
        <h3 class="heading3">Newsletter</h3>
        <div class="myaccountbox">
          <ul>
            <li>
              <a href="#"> Subscribe</a>
              <a href="#"> unsubscribe to newsletter</a>
            </li>
          </ul>
        </div>
      </div>

      {{ THIS.view('customer/account/sidebar') | raw }}
    </div>
  </div>
</section>

