<div class="row fcom-admin-main-title">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-table"></i>
                {{ "Users"|_ }}
            </h1>
        </div>
    </div>
</div>