<div class='box-content' style="height: 300px; overflow-y: scroll">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{ "ID"|_ }}</th>
            <th>{{ "Bill to Name"|_ }}</th>
            <th>{{ "Order Total"|_ }}</th>
            <th>{{ "Paid"|_ }}</th>
            <th>{{ "Status"|_ }}</th>
            <th>{{ "Order Date"|_ }}</th>
        </tr>
        </thead>
        <tbody>
            <tr v-if="!widget.data.orders">
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
            <tr v-else v-for="order in widget.data.orders">
                <td>{{ order.id }}</td>
                <td>{{ order.firstname }} {{ order.lastname }}</td>
                <td>{{ order.grand_total }}</td>
                <td>{{ order.amount_due }}</td>
                <td>{{ order.state_overall_label }}</td>
                <td>{{ order.create_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
