{% set m = THIS.get('model') %}

<fieldset>
    <div class="form-group">
        <label class="col-md-2 control-label" for="main-node_name">{{ 'Content'|_ }}</label>
        <div class="col-md-10">
            <textarea id="main-content" class="form-control ckeditor" rows="5" name="model[content]">{{ m.get('content') }}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="main-url_key">{{ 'Layout Update'|_ }}</label>
        <div class="col-md-10">
            <textarea name="model[layout_update]" class="form-control" id="main-layout_update" rows="5">{{ m.get('layout_update') }}</textarea>
        </div>
    </div>
</fieldset>

<script>
    /*require(['jquery', 'ckeditor'], function($) {
        $(function() {
            var ck = CKEDITOR.instances['main-content'];
            ck && ck.destroy();
            $('#main-content').ckeditor();
        });
    })*/
</script>
