.fcom-text-sm
	font-size 0.8em

.fcom-text-lg
	font-size 1.5em

.fcom-text-italic
	font-style italic

.fcom-notification
	round(20px, redColor, whiteColor)
	color whiteColor
	font-size 0.8em
	float right
	margin-left 30px
	margin-top 5px

.fcom-dismiss
	round(25px, whiteColor, lightBlueColor)
	display inline-block
	right 14px
	margin-top 13px

	&:hover
		background-color lightBlueColor

		[class^='fcom-icon-close'], [class*='fcom-icon-close']
			background-position 0px -14px
			top 4px

	[class^='fcom-icon'], [class*='fcom-icon']
		top 5px
		left 4px
		position absolute
		margin 0px 0px !important

userSelection(enabled)
	-webkit-touch-callout enabled
	-webkit-user-select enabled
	-khtml-user-select enabled
	-moz-user-select enabled
	-ms-user-select enabled
	user-select enabled

.fcom-text-gray
	colorFiller(fillGray)

.fcom-text-yellow
	colorFiller(fillYellow)

.fcom-text-orange
	colorFiller(fillOrange)

.fcom-text-green
	colorFiller(fillGreen)

.fcom-text-red
	colorFiller(fillRed)

.fcom-text-purple
	colorFiller(fillPurple)

.fcom-text-black
	colorFiller(fillBlack)