.fcom-icon-xs 
	icon(xsIconUrl, xsIconSize)


.fcom-icon-sm 
	icon(smIconUrl, smIconSize)


.fcom-icon-md 
	icon(mdIconUrl, mdIconSize)


.fcom-icon-lg 
	icon(lgIconUrl, lgIconSize)


// Icon 13x13
.fcom-icon-add 
	background-position 0 0 
.fcom-icon-close-hover 
	background-position 0 -14px 
.fcom-icon-close 
	background-position 0 -28px 

// Icon 24x24
.fcom-icon-box 
	background-position 0 0 
.fcom-icon-bug 
	background-position 0 -25px 
.fcom-icon-cart 
	background-position 0 -50px 
.fcom-icon-config 
	background-position 0 -75px 
.fcom-icon-envelope 
	background-position 0 -100px 
.fcom-icon-flag-canada 
	background-position 0 -125px 
.fcom-icon-flag-custom 
	background-position 0 -150px 
.fcom-icon-flag-global 
	background-position 0 -175px 
.fcom-icon-flag-mexico 
	background-position 0 -200px 
.fcom-icon-flag-usa 
	background-position 0 -225px 
.fcom-icon-graph 
	background-position 0 -250px 
.fcom-icon-logout 
	background-position 0 -275px 
.fcom-icon-search-open 
	background-position 0 -300px 
.fcom-icon-settings 
	background-position 0 -325px 
.fcom-icon-speaker 
	background-position 0 -350px 
.fcom-icon-tag 
	background-position 0 -375px 
.fcom-icon-user 
	background-position 0 -400px 
.fcom-icon-warning 
	background-position 0 -425px 

// Icon 30x30
.fcom-icon-chat 
	background-position 0 0 
.fcom-icon-github 
	background-position 0 -31px 
.fcom-icon-menu-close 
	background-position 0 -62px 
.fcom-icon-menu-open 
	background-position 0 -93px 
.fcom-icon-options 
	background-position 0 -124px 
.fcom-icon-search-invert 
	background-position 0 -155px 
.fcom-icon-search 
	background-position 0 -180px 
.fcom-icon-settings 
	background-position 0 -211px 
.fcom-icon-store 
	background-position 0 -242px 

// Icon 40x40
.fcom-icon-catalog 
	background-position 0 0 
.fcom-icon-cms 
	background-position 0 -41px 
.fcom-icon-customer 
	background-position 0 -82px 
.fcom-icon-dashboard 
	background-position 0 -123px 
.fcom-icon-extensions 
	background-position 0 -164px 
.fcom-icon-sales 
	background-position 0 -205px 
.fcom-icon-shortcut 
	background-position 0 -246px 
.fcom-icon-system 
	background-position 0 -287px 
.fcom-icon-trash 
	background-position 0 -328px 