icon(urlPath, iconSize)
	background url(urlPath) no-repeat top left
	min-width iconSize
	width iconSize
	min-height iconSize
	height iconSize

border-radius(radius)
	-webkit-border-radius radius
	-moz-border-radius radius
	-ms-border-radius radius
	-o-border-radius radius
	border-radius radius


round(size, bgColor, borderColor)
	width size
	height size
	border-radius 100px
	position absolute
	background-color bgColor
	border 2px solid borderColor

chatStatus(fontColor, bgColor, paddingSize, marginSize)
	color fontColor
	background-color bgColor
	padding paddingSize
	margin 0 marginSize
	width 50px
	text-align center

colorFiller(colorFill)
	color colorFill

	.fcom-color-filler
		background-color colorFill
		height 40px
		width 5px
		display inline-block