// Colors
whiteColor = #FFFFFF
blackColor =  #000000
darkGrayColor =  #222222
grayColor =  #252525
lightGrayColor =  #292929
borderGrayColor =  #bebebe
darkBlueColor =  #24292b
blueColor =  #256fa7
lightBlueColor =  #358fce
greenColor =  #b0cf05
redColor =  #f7674d

// Search fill colors
fillGray = #7f7f7f
fillYellow = #eee00a	
fillOrange = #e67206
fillGreen = #6ebe6a
fillRed = #dc1c13
fillPurple = #8000a1
fillBlack = #222222

// Icons
xsIconSize = 13px 
smIconSize = 24px 
mdIconSize = 30px 
lgIconSize = 40px 

xsIconUrl = './bootstrap/img/fcom-icons-13.png' 
smIconUrl = './bootstrap/img/fcom-icons-24.png' 
mdIconUrl = './bootstrap/img/fcom-icons-30.png' 
lgIconUrl = './bootstrap/img/fcom-icons-40.png' 

// Header
headerHeight = 60px

// Footer
footerHeight = 30px

// Dropdown
dropdownWidth = 60px
dropdownHoverUrl = './bootstrap/img/header-hover.png'
dropdownArrowUpUrl = './bootstrap/img/arrow-up.png'