<!--{ label: {{ 'Layout'|_ }} }-->
<!--{ pos: 80 }-->

{% set m = THIS.get('model') %}
{% set layout = m.getData('layout') %}

<fieldset>
    <div class="f-section">
        {{ THIS.view('admin/layout-editor').set({
            layout: layout,
            type: 'site',
            frontend_layout_name: 'site',
        }) | raw }}
    </div>
</fieldset>
