<div class="f-admin-main-view">
  <div class="page-header f-admin-page-header">
    <h1 class="f-page-title">
      <span>{{ 'Page not found'|_ }}</span>
    </h1>
  </div>
  <div class="f-admin-main">
    <p>{{ 'The requested page was not found.'|_ }}</p>
  </div>
</div>