[submodule "lib/minify"]
	path = lib/minify
	url = git://github.com/mrclay/minify.git
[submodule "local/Denteva"]
	path = local/Denteva
	url = git@github.com:unirgy/denteva.git
[submodule "lib/buckyball"]
	path = lib/buckyball
	url = git@github.com:unirgy/buckyball.git
[submodule "FCom/Core/js/lib/jqGrid"]
	path = FCom/Core/js/lib/jqGrid
	url = https://github.com/tonytomov/jqGrid.git
