storage/
media/
dlc/*
local/*
vendor/
index.local.php
.idea
.kdev4
*.kdev4/
.sass-cache/
*.scssc
.phpintel
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/storage/
/bin/
*.phar
*.lock
*.log
*.sql
composer.*
notes.txt
FCom/Test/Test/Unit/buckyball/com/db_test_config.php

#nodejs: cache folder when build jsx -> js
.module-cache
tests/_output/*
*Actions.php
core/*/*/Test/tests/_*
core/*/*/Test/tests/*.yml
core/*/*/Test/*.yml
_bootstrap.php
db_test_config.php