#Header unset ETag
#FileETag None

<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 months"
</IfModule>

#Header unset If-Modified-Since
#Header unset If-None-Match

Options +FollowSymLinks -MultiViews

#php_value output_buffering Off
#php_value zlib.output_compression Off

#php_value memory_limit 2G

<IfModule mod_rewrite.c>
    SetEnv HTTP_MOD_REWRITE On

    RewriteEngine on

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
