.secondary-menu {
	background: #fff;
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	border-radius: 2px;
	margin-bottom: 20px;
	.nav a {
		padding: 20px 15px;
	}
	.nav .active {
		background: #eee;
		&:focus {
			background: #eee;
		}
		a {
			color: #000;
			background: #eee;
		}
	}
	.dropdown-menu {
		a {
			padding: 3px 20px;
		}
	}
}
.edited-block {
	padding: 10px;
	.no-gutter {
		margin-right: 0;
		margin-left: 0;
	}
	.no-gutter [class*="col-"] {
		padding-right: 0;
		padding-left: 0;
	}
	.close-editor {
		display: none;
	}
	.section-edit {
		display: none;
	}
	strong {
		font-family: GothamProBold;
		font-weight: inherit;
		margin-right: 2px;
	}
	i {
		font-size: 16px;
		color: #dddddd;
		&:hover {
			color: #979393;
		}
	}
	.block-title {
		border-bottom: 1px solid #edf0f5;
		width: auto;
		padding: 0;
		position: relative;
	}
	p {
		margin-bottom: 5px;
	}
	span {
		margin-bottom: 5px;
		margin-right: 10px;
		display: inline-block;
	}
	.adr {
		span {
			display: block;
		}
	}
	&.on {
		.editor {
			display: none;
		}
		.close-editor {
			display: inline-block;
		}
		.section-edit {
			display: block;
		}
		.section-view {
			display: none;
		}
	}
}

.block-title {
	margin-bottom: 10px;
	display: inline-block;
	padding: 0 0 0 16px;
	width: 100%;
	p {
		color: #2d2d2d;
		font-family: "GothamProBold";
		font-size: 16px;
		padding: 8px 0;
		display: inline-block;
		margin-right: 5px;
	}
}
.secondary-control-block {
	float: right;
}
.control-buttons {
	text-align: right;
	vertical-align: bottom;
	margin: 13px 0;
	button {
		margin-bottom: 4px;
	}
}

.f-admin-main-view {
	min-height: 100%;
	margin: 0;
	margin-left: 257px;
	margin-top: 81px;
	min-width: 276px;
	padding: 0px 15px 80px 0px;
	.nav {
		a:hover {
			color: #000;
		}
	}
}

.admin-main-content {
	background: #fff;
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	border-radius: 2px;
	margin-bottom: 20px;
	padding: 15px;
}

.main-nav-closed {
	.f-admin-main-view {
		margin-left: 67px;
	}
}

.scrollable-area {
	width: 100%;
	overflow: auto;
	overflow-y: hidden;
}

.tableDiv {
	margin: 70px 0 0 0;
}

.btn .caret {
	margin-left: 5px;
}

.payment-info,
.total-info,
.delivery-info,
.overall-info {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	margin-bottom: 25px;
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	.icon {
		padding: 8px 10px 8px 10px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		min-height: 42px;
		min-width: 60px;
	}
	i {
		color: #fff;
		font-size: 22px;
	}
	.data {
		display: inline-block;
		vertical-align: middle;
		height: 100%;
		background: #fff;
		padding: 5px 14px 5px 6px;
		min-width: 128px;
	}
	span {
		display: block;
		margin-bottom: 3px;
		font-size: 11px;
		color: #000;
	}
	p {
		font-family: GothamProBold;
		font-size: 13px;
		color: #000;
	}
}

.payment-info {
	.icon {
		background: #06bfee;
	}
}

.total-info {
	.icon {
		background: #dd4a39;
	}
}

.delivery-info {
	.icon {
		background: #00a55b;
	}
}

.overall-info {
	.icon {
		background: #f29b19;
	}
}
.sort-by {
	margin-top: 20px;
	li {
		color: #000000;
		display: inline-block;
		margin-right: 10px;
	}
	a {
		color: #000000;
		position: relative;
		padding: 0 15px 0 0;
	}
	span {
		display: inline-block;
		vertical-align: bottom;
		color: #000000;
	}
	i {
		font-size: 18px;
		font: normal normal normal 14px/1 FontAwesome;
		vertical-align: bottom;
		&:before {
			position: absolute;
			right: 0;
			bottom: -2px;
		}
	}
	.sorted-up i,
	.sorted-down i {
		color: #7379db;
	}
}

.comment-author {
	font-size: 16px;
	font-family: GothamProBold;
	color: #000;
}

.comment-author,
.comment-time,
.public-status,
.private-status {
	display: inline-block;
	vertical-align: middle;
}

.comment-private {
	.comments-status {
		background: #bfbfbf;
	}
}

.public-status {
	i,
	span {
		color: #60be6d;
		display: inline-block;
		vertical-align: middle;
	}
}

.private-status {
	i,
	span {
		color: #e43030;
		display: inline-block;
		vertical-align: middle;
	}
}

.comment-public,
.comment-private {
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	border-radius: 1px;
	background: #fff;
	margin: 10px 0;
	padding: 26px 0px 26px 0px;
	position: relative;
	.added-files {
		padding: 20px 30px 0px 30px;
		margin: 0 27px;
		border-top: 1px solid #d9d9d9;
	}
	.control-panel {
		position: absolute;
		right: 30px;
		top: 10px;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s opacity ease-in;
		a {
			margin: 7px;
			&:hover i {
				color: #000;
			}
		}
		i {
			font-size: 20px;
		}
	}
	&:hover {
		.control-panel {
			opacity: 1;
			visibility: visible;
		}
	}
}

.comment-title {
	font-size: 18px;
	margin-bottom: 12px;
	padding: 0 50px 0 27px;
}

.comment-time {
	position: relative;
	cursor: pointer;
	span {
		font-size: 10px;
		padding: 0 3px;
	}
	.detailed-date {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		top: -39px;
		left: 2px;
		border: 1px solid #d7d7d7;
		border-radius: 1px;
		background: #fff;
		transition: 0.3s opacity ease-in;
		white-space: nowrap;
		p {
			padding: 6px 14px;
			font-size: 10px;
		}
		&:before {
			content: '';
			width: 14px;
			height: 10px;
			background: url(../img/angle.png) no-repeat 0px 0px;
			position: absolute;
			left: 14px;
			bottom: -9px;
			transform: rotate(180deg);
		}
	}
	&:hover {
		.detailed-date {
			opacity: 1;
			visibility: visible;
		}
	}
}

.comment-text {
	p {
		line-height: 16px;
		margin-bottom: 10px;
		padding: 0 50px 0 27px;
	}
}

.comments-status {
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
	height: 100%;
}

.sent-comment {
	.comments-status {
		background: #fff600;
		&:after {
			content: 'SENT';
			transform: rotate(270deg) translateX(-50%);
			transform-origin: top left;
			color: #bfb90a;
			font-size: 10px;
			position: absolute;
			top: 50%;
		}
	}
}

.received-comment {
	.comments-status {
		background: #0600ff;
		&:after {
			content: 'RECEIVED';
			transform: rotate(270deg) translateX(-50%);
			transform-origin: top left;
			color: #fff;
			font-size: 10px;
			position: absolute;
			top: 50%;
		}
	}
}

.added-files {
	position: relative;
	i.fa-paperclip {
		font-size: 20px;
		vertical-align: middle;
		display: inline-block;
		position: absolute;
		left: 14px;
		top: 20px;
	}
	i.fa-times {
		font-size: 14px;
		vertical-align: middle;
		display: inline-block;
		transition: 0.3s color ease-in;
		&:hover {
			color: #000;
		}
	}
	.file {
		margin: 0 10px 10px;
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		img {
			height: 25px;
			width: auto;
		}
		span {
			display: inline-block;
			font-family: "GothamProMedium";
			color: #000;
			vertical-align: middle;
			padding: 0 10px;
		}
		a {
			font-size: 10px;
			color: #b3b3b3;
			padding: 0 10px;
			vertical-align: middle;
			display: inline-block;
			transition: 0.3s color ease-in;
			&:hover {
				color: #000;
			}
		}
		.delete {
			padding: 0;
		}
	}
}

.new-comment {
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	border-radius: 1px;
	background: #fff;
	padding: 10px 18px;
	.block-title {
		font-size: 16px;
		font-family: GothamProBold;
		color: #000;
		width: 39%;
		min-width: 120px;
		vertical-align: middle;
		white-space: nowrap;
	}
	.input-file {
		cursor: pointer;
		padding: 0;
		width: 118px;
		position: relative;
		i {
			font-size: 22px;
			vertical-align: middle;
		}
		input {
			display: none;
		}
		.add-image {
			color: #000;
			padding: 4px 10px;
			vertical-align: middle;
			display: inline-block;
		}
		&:hover i {
			color: #000;
		}
	}
	label {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0 0;
		cursor: pointer;
	}
	.control-buttons-block {
		display: inline-block;
		width: 100%;
		padding: 0;
		position: relative;
		input {
			margin-bottom: 0;
			position: absolute;
			right: 0px;
			bottom: 9px;
		}
	}
	p,
	textarea {
		display: inline-block;
		vertical-align: top;
	}
	p {
		width: 29%;
		text-align: right;
		padding: 0 10px 0 0;
		color: #000;
		margin-top: 10px;
	}
	textarea {
		resize: none;
		width: 70%;
		height: 140px;
		color: #9e9e9e;
		padding: 10px;
		margin-top: 10px;
	}
	.status-control {
		width: 60%;
		text-align: right;
		display: inline-block;
		vertical-align: middle;
		min-width: 176px;
		margin-bottom: 20px;
		margin: 10px 0 10px 0px;
		span {
			color: #000;
		}
		i {
			color: #ccd1d9;
		}
	}
	.add-file-block {
		width: 60%;
		padding: 12px 0 0;
		text-align: right;
	}
}

.details-information {
	.block-title {
		position: relative;
		p {
			font-size: 14px;
		}
		a,
		button {
			position: absolute;
			right: 0;
			top: 8px;
		}
	}
}

.existing-payments,
.product-sku {
	background: #fff;
	box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
	border-radius: 2px;
	padding: 11px 16px 20px 12px;
	margin-bottom: 10px;
	.block-title {
		background: #f6f6f6;
		padding: 0 10px;
		position: relative;
		label {
			position: absolute;
			right: 10px;
			top: 4px;
			cursor: pointer;
			span {
				color: #000;
			}
		}
		p {
			font-size: 14px;
		}
		.select2 {
			position: absolute;
			right: 90px;
			top: 4px;
			min-width: 100px;
		}
		.select2-container .select2-selection--single {
			height: 24px;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			line-height: 24px;
		}
	}
}

.existing-payments {
	.control-buttons-block {
		border-top: 1px solid #aaaaaa;
		margin-top: 20px;
	}
	select {
		padding: 6px 0;
	}
	.block-title {
		padding: 0 200px 0 16px;
	}
}

.secondary-grid {
	table {
		p {
			display: block;
		}
		td,
		th {
			padding: 10px 0 10px 10px;
			vertical-align: top;
		}
		td:last-child {
			width: 140px;
		}
	}
}

.product-sku {
	.block-title {
		span {
			color: #2d2d2d;
			font-family: "GothamProMedium";
			font-size: 14px;
			padding: 8px 0;
		}
	}
	.control-buttons-block {
		div {
			padding: 10px 0;
		}
		input {
			width: 180px;
			vertical-align: middle;
			padding: 5px;
			margin: 0 0 0 20px;
			display: inline-block;
		}
		p {
			font-family: "GothamProMedium";
			display: inline-block;
			vertical-align: middle;
			color: #000;
		}
	}
	.total-amount {
		text-align: right;
		div {
			width: 50%;
			min-width: 300px;
			border-top: 1px solid #000;
			display: inline-block;
			padding: 18px 0;
		}
		span {
			background: #f6f6f6;
			display: inline-block;
			padding: 7px 10px;
			font-family: "GothamProMedium";
			color: #000;
			margin-left: 50px;
		}
		p {
			font-family: "GothamProMedium";
			display: inline-block;
			vertical-align: middle;
			color: #000;
		}
	}
	.secondary-grid {
		margin-bottom: 30px;
	}
}

.create-payment {
	text-align: center;
	padding: 20px 0;
	& > * {
		display: inline-block;
		vertical-align: middle;
	}
	.select2-container {
		min-width: 200px;
		margin: 0 20px;
		padding: 6px 0;
		width: 40%;
	}
}

.tablet-panel {
	text-align: right;
	margin: 10px 0;
	.order-menu,
	.control-buttons {
		display: inline-block;
		vertical-align: middle;
	}
	.order-menu {
		min-width: 160px;
		text-align: left;
	}
	.control-buttons {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 10px;
		.dropdown {
			box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
		}
	}
}

@media (max-width: 1762px) {
	.new-comment {
		p,
		textarea {
			display: inline-block;
			vertical-align: top;
		}
		p {
			width: 100%;
			text-align: left;
			padding: 0 0px 0 0;
		}
		textarea {
			width: 100%;
			height: 140px;
		}
		.status-control {
			width: 100%;
			text-align: left;
		}
		.add-file-block {
			width: 100%;
			text-align: left;
		}
	}
}

@media (min-width: 768px) and (max-width: 1365px) {
	.f-admin-main-view {
		margin-top: 130px;
	}
	.main-nav-closed  .f-admin-main-view {
		margin-left: 17px;
	}
	.main-info-block .total-sales,
	.main-info-block .total-users,
	.main-info-block .total-members,
	.main-info-block .total-revenue,
	.payment-info,
	.total-info,
	.delivery-info,
	.overall-info {
		margin-bottom: 0;
	}
	.admin-main-content {
		margin-bottom: 10px;
		padding: 10px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.f-admin-main-view {
		min-height: 100%;
		margin-right: 13px;
		margin-left: 13px; 
		min-width: 276px;
		padding: 0px 0px 90px 0px;
	}
	.main-nav-closed {
		.f-admin-main-view {
			margin-left: 13px;
		}
	}
	.main-info-block .total-sales,
	.main-info-block .total-users,
	.main-info-block .total-members,
	.main-info-block .total-revenue,
	.payment-info,
	.payment-info,
	.total-info,
	.delivery-info,
	.overall-info {
		margin-bottom: 0;
		.icon {
			padding: 12px 10px 8px 10px;
			min-width: 40px;
		}
		i {
			font-size: 16px;
		}
		.data {
			min-width: 100px;
		}
	}
}

@media (max-width: 767px) {
	.f-admin-main-view {
		min-height: 100%;
		margin-right: 13px;
		margin-left: 13px;
		margin-top: 185px;
		min-width: 276px;
		padding: 0px 0px 90px 0px;
	}
	.main-nav-closed {
		.f-admin-main-view {
			margin-left: 13px;
		}
	}
	.main-info-block .total-sales,
	.main-info-block .total-users,
	.main-info-block .total-members,
	.main-info-block .total-revenue {
		margin-bottom: 5px;
		.icon {
			padding: 12px 10px 8px 10px;
			min-width: 40px;
		}
		i {
			font-size: 16px;
		}
		.data {
			min-width: 100px;
		}
	}
	.secondary-control-block {
		float: none;
	}
	.tablet-panel {
		text-align: center;
		.dropdown.action {
			width: 49%;
			text-align: left;
			border-right: 0;
			display: inline-block;
			box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
		}
	}
	.block-title {
		margin-bottom: 10px;
		display: inline-block;
		padding: 0 0 0 10px;
		width: 100%;
		p {
			font-size: 14px;
		}
	}
	.admin-main-content {
		margin-bottom: 10px;
		padding: 10px;
	}
	.existing-payments {
		width: 100%;
		overflow: auto;
		overflow-y: hidden;
		.scrollable-area {
			width: auto;
			overflow: inherit; 
			overflow-y: inherit;
		}
		.block-title {
			padding: 0 0px 0 10px; 
			p {
				width: 100%;
			}
			span {
				width: 100%;
				display: inline-block;
			}
			.select2.select2-container.select2-container--default {
				width: 150px;
			}
			.select2-container--default .select2-selection--single .select2-selection__arrow {
				height: 24px;
			}
			label {
				span {
					width: 24px;
				}
			}
			.select2 {
				position: relative;
				right: 0;
				top: 0;
				min-width: 100px; 
			}
			label {
				position: relative;
				right: 0;
				top: 0;
				width: 70px;
			}
		}
	}
	.product-sku {
		.control-buttons-block {
			input {
				margin: 0 0 0 0px;
			}
		}
		.total-amount {
			div {
				width: 100%;
				min-width: auto;
				text-align: center;
			}
			span {
				margin-left: 10px;
			}
		}
	}
}