<div>
	<div class="row">
		<div class="col-md-5">
			<div>
				<div class="details-information">
					<div class="block-title">
						<p>{{'Payments'|_}}</p>
						<button type="button" class="button button4" @click="addPayment()">{{'Add'|_}}</button>
					</div>
					<div>
						<table>
							<thead>
							<tr>
								<td>{{'Timeline'|_}}</td>
								<td>{{'Total Amount'|_}}</td>
								<td>{{'Method'|_}}</td>
								<td>{{'Status'|_}}</td>
							</tr>
							</thead>
							<tbody>
							<tr v-for="p in payments" @click="viewPayment(p)">
								<td>{{p.create_at|date}}</td>
								<td>{{p.amount_captured+p.amount_due|currency(order.store_currency_code)}}</td>
								<td>{{p.payment_method}}</td>
								<td :class="'status-' + p.state_overall">{{options.payment_state_overall[p.state_overall]}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="details-information">
					<div class="block-title">
						<p>{{'Shipments'|_}}</p>
						<button type="button" class="button button4" @click="addShipment()">{{'Add'|_}}</button>
					</div>
					<div>
						<table>
							<thead>
							<tr>
								<td>{{'Timeline'|_}}</td>
								<td>{{'Packages'|_}}</td>
								<td>{{'Method'|_}}</td>
								<td>{{'Status'|_}}</td>
							</tr>
							</thead>
							<tbody>
							<tr v-for="s in shipments" @click="viewShipment(s)">
								<td>{{s.create_at|date}}</td>
								<td>
									<div v-for="item in s.items">
										<span>{{item.inventory_sku}} x{{item.qty}}</span>: {{item.product_name}}
									</div>
								</td>
								<td>{{s.carrier_desc}} / {{s.service_desc}}</td>
								<td :class="'status-' + s.state_overall">{{options.shipment_state_overall[s.state_overall]}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="details-information">
					<div class="block-title">
						<p>{{'Returns'|_}}</p>
						<button type="button" class="button button4" @click="addReturn()">{{'Add'|_}}</button>
					</div>
					<div>
						<table>
							<thead>
							<tr>
								<td>{{'Timeline'|_}}</td>
								<td>{{'Items'|_}}</td>
								<td>{{'Status'|_}}</td>
							</tr>
							</thead>
							<tbody>
							<tr v-for="r in returns" @click="viewReturn(r)">
								<td>{{r.create_at|date}}</td>
								<td>
									<div v-for="item in s.items">
										<span>{{item.inventory_sku}} x{{item.qty}}</span>: {{item.product_name}}
									</div>
								</td>
								<td :class="'status-' + r.state_overall">{{options.return_state_overall[r.state_overall]}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="details-information">
					<div class="block-title">
						<p>{{'Refunds'|_}}</p>
						<button type="button" class="button button4" @click="addRefund()">{{'Add'|_}}</button>
					</div>
					<div>
						<table>
							<thead>
							<tr>
								<td>{{'Timeline'|_}}</td>
								<td>{{'Total Amount'|_}}</td>
								<td>{{'Method'|_}}</td>
								<td>{{'Status'|_}}</td>
							</tr>
							</thead>
							<tbody>
							<tr v-for="r in refunds" @click="viewRefund(r)">
								<td>{{r.create_at|date}}</td>
								<td>{{r.amount|currency(order.store_currency_code)}}</td>
								<td>{{r.method_desc}}</td>
								<td :class="'status-' + r.state_overall">{{options.refund_state_overall[r.state_overall]}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="details-information">
					<div class="block-title">
						<p>{{'Cancellations Information'|_}}</p>
						<button type="button" class="button button4" @click="addCancellation()">{{'Add'|_}}</button>
					</div>
					<div>
						<table>
							<thead>
							<tr>
								<td>{{'Timeline'|_}}</td>
								<td>{{'Items'|_}}</td>
								<td>{{'Status'|_}}</td>
							</tr>
							</thead>
							<tbody>
							<tr v-for="c in cancellations" @click="viewCancellation(c)">
								<td>{{c.create_at|date}}</td>
								<td>
									<div v-for="item in c.items">
										<span>{{item.inventory_sku}} x{{item.qty}}</span>: {{item.product_name}}
									</div>
								</td>
								<td :class="'status-' + c.state_overall">{{options.cancel_state_overall[c.state_overall]}}</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div>
				<div class="existing-payments" v-if="curHlpSection === 'view-payment'">
					<div class="block-title">
						<p>Existing Payments</p>
						<span>Aug 22, 2016, 1:43:33 AM</span>
						<select>
							<option>Shipped</option>
							<option>Plain</option>
							<option>Refunded</option>
						</select>
						<label>
							<input type="checkbox">
							<span><i aria-hidden="true" class="fa fa-check"></i></span><span>Delete</span></label>
					</div>
					<div class="secondary-grid">
						<table>
							<thead>
							<tr>
								<td>Method</td>
								<td>Status</td>
								<td>Amount Captured</td>
								<td>Balance</td>
								<td>Total Amount</td>
								<td>Items</td>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>Check/
									Money Order</td>
								<td>Overall: <span>Pending</span>
									Processor:</td>
								<td>$ 0.00</td>
								<td>$1.707.60</td>
								<td>$1.707.60</td>
								<td>
									<p><span>Product 1: </span>$ 3,433.60</p>
									<p><span>Product 1: </span>$ 3,433.60</p>
									<p><span>Product 1: </span>$ 3,433.60</p>
									<p><span>Product 1: </span>$ 3,433.60</p>
								</td>
							</tr>
							</tbody>
						</table>
						<div class="control-buttons-block">
							<button type="button" class="button13" @click="closeHlpSection()">{{'Cancel'|_}}</button>
							<button type="button" class="button2">{{'Apply'|_}}</button>
						</div>
					</div>
				</div>
			</div>

			<div>
				<div class="product-sku" v-if="curHlpSection === 'add-payment'">
					<div class="secondary-grid">
						<div class="block-title">
							<p>Product SKU</p>
							<span>1078987321</span>
						</div>
						<table>
							<thead>
							<tr>
								<td>Inventory SKU</td>
								<td>Product Name</td>
								<td>Qty Ordered</td>
								<td>Total Amount</td>
								<td>Paid</td>
								<td>Amount in Payments</td>
								<td>Payable Amount</td>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>test-100</td>
								<td>Product 1</td>
								<td>1</td>
								<td>$ 3,433.60</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$ 3,433.60</td>
							</tr>
							</tbody>
						</table>
						<div class="control-buttons-block">
							<div>
								<p>Amount to Pay</p>
								<input type="text" name=""/>
							</div>
						</div>
					</div>
					<div class="secondary-grid">
						<div class="block-title">
							<p>Product SKU</p>
							<span>1078987321</span>
						</div>
						<table>
							<thead>
							<tr>
								<td>Inventory SKU</td>
								<td>Product Name</td>
								<td>Qty Ordered</td>
								<td>Total Amount</td>
								<td>Paid</td>
								<td>Amount in Payments</td>
								<td>Payable Amount</td>
							</tr>
							</thead>
							<tbody>
							<tr>
								<td>test-100</td>
								<td>Product 1</td>
								<td>1</td>
								<td>$ 3,433.60</td>
								<td>$0.00</td>
								<td>$0.00</td>
								<td>$ 3,433.60</td>
							</tr>
							</tbody>
						</table>
						<div class="control-buttons-block">
							<div>
								<p>Amount to Pay</p>
								<input type="text" name=""/>
							</div>
						</div>
					</div>
					<div class="total-amount">
						<div>
							<p>Total Amount to Pay</p>
							<span>$ 1,707.60</span>
						</div>
					</div>
					<div class="create-payment">
						<span>Check / Money Order</span>
						<select>
							<option value="stripe">Stripe</option>
							<option value="paypal">PayPal Express Checkout</option>
							<option value="cc">Credit Card</option>
							<option value="basic" selected="">Check / Money Order</option>
							<option value="ogone">Ogone</option>
						</select>
						<button type="button" class="button button12">{{'Create'|_}}</button>
					</div>
					<div class="control-buttons-block">
						<button type="button" class="button13" @click="closeHlpSection()">{{'Cancel'|_}}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>