<div class="f-content-block details-information">
      <div class="block-title">
            <p>{{'Payments'|_}}</p>
            <button type="button" class="button4" @click="$emit('add', 'payment')">{{'Add'|_}}</button>
      </div>
      <div>
            <table v-if="form.payments.length" class="f-secondary-table">
                  <thead>
                  <tr>
                        <th>{{'Timeline'|_}}</th>
                        <th>{{'Amount Paid'|_}}</th>
                        <th>{{'Method'|_}}</th>
                        <th>{{'Status'|_}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr v-for="p in form.payments" @click="$emit('edit', 'payment', p)" :class="{active:entity===p}">
                        <td>{{p.create_at|date}}</td>
                        <td>{{p.amount_captured+p.amount_due|currency(form.order.store_currency_code)}}</td>
                        <td>{{p.payment_method}}</td>
                        <td :class="'status-' + p.state_overall">{{form.options.payment_state_overall[p.state_overall]}}</td>
                  </tr>
                  </tbody>
            </table>
            <div v-else>{{'No payments in this order'|_}}</div>
      </div>
</div>