<div>
    <div class="row">
        <div class="col-md-7">
            <sv-page-sales-orders-form-info></sv-page-sales-orders-form-info>
        </div>
        <div class="col-md-5">
			<sv-page-sales-orders-form-control-buttons v-on:action="buttonAction"></sv-page-sales-orders-form-control-buttons>
        </div>
    </div>
    <div class="row">
		<div class="col-md-2">
            <sv-page-sales-orders-form-nav :tab="tab" v-on:tab="switchTab"></sv-page-sales-orders-form-nav>
        </div>
		<div class="col-md-10">
			<sv-page-sales-orders-form-general-info v-if="tab==='main'"></sv-page-sales-orders-form-general-info>
			<sv-page-sales-orders-form-comments v-if="tab==='comments'"></sv-page-sales-orders-form-comments>
			<sv-page-sales-orders-form-details v-if="tab==='details'"></sv-page-sales-orders-form-details>
		</div>
    </div>
</div> 
