{% set category = APP.get('current_category') %}

<div class="f-site-main" role="main">
  <div class="container">
   <!--  breadcrumb -->
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li class="active">{{ category.get('node_name') }}</li>
    </ul>
    <div class="row">
      <!-- Sidebar Start -->
      <aside class="f-col-sidebar col-md-3 col-sm-3">
          {{ THIS.hook('sidebar-left') | raw }}
      </aside>
      <!-- Sidebar End -->
      <!-- Category -->
      <div class="f-col-main col-md-9 col-sm-9">
        <header class="f-page-header">
          <h1 class="f-page-title">{{ category.get('node_name') }}</h1>
        </header>
        {{ THIS.hook('main_products') | raw }}
      </div>
    </div>
  </div>
</div>
