{% set featured = APP.instance('FCom_Catalog_Frontend').getFeaturedProducts(THIS.get('cnt')) %}

{% if featured %}
    <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Featured Products'|_ }}</strong>
        </header>
        {{ THIS.view('catalog/product/grid-tiles').set('products', featured) | raw }}
    </div><!-- /.widget-featured-prods -->
{% endif %}