<form method="post" action="{{ APP.href('cart/add_coupon') }}">
    <label for="promo-coupon_code">{{ 'Coupon Code:'|_ }}</label>
    <input type="text" id="promo-coupon_code" name="coupon_code" required>
    <button type="submit" class="btn btn-default btn-xs">{{ 'Apply'|_ }}</button>
</form>