<div class="f-content-block">
	<fieldset class="f-form-container">
		<div class="f-form-group row">
				<p class="col-md-3"></p>
				<div class="col-md-9">
					<p class="param-block">If
						<!--<span class="param-result">-->
							<!--<span class="param-options">-->
								<!--<select2 value="any">-->
									<!--<option>any</option>-->
									<!--<option>all</option>-->
								<!--</select2>-->
							<!--</span>-->
						<!--</span>-->
						<inline-param v-model="test1" :options="[{id:'', text:'...'}, {id:'any',text:'ANY'},{id:'all',text:'ALL'}]"></inline-param>
						just another text
						<inline-param v-model="test"></inline-param>
						<!--<span class="param-result" onclick="event.preventDefault(); $(this).toggleClass('edit'); $(this).find('input').focus();">-->
							<!--<a href="#" >any</a>-->
							<!--<span class="param-options">-->
								<!--<input type="text" class="form-control" value="any" onchange="var value=$(this).val(); $(this).parents('.param-result').find('a').text(value);"-->
									   <!--onkeyup="if (event.keyCode == 13) { $(this).parents('.param-result').removeClass('edit')}"-->
								<!---->
								<!--/>-->
							<!--</span>-->
						<!--</span>-->
					</p>
				</div>
			</div>
		<div class="f-form-group row error">
			<label class="f-form-label col-md-3">{{'Input'|_}}</label>
			<div class="col-md-9">
				<input class="f-input" type="text" v-model="test"/>
				<span class="error-message">Error description under the field</span>
			</div>
		</div>
		<div class="f-form-group row ">
			<label class="f-form-label col-md-3">{{'Textarea'|_}}</label>
			<div class="col-md-9">
				<textarea class="f-textarea" rows="5"></textarea>
			</div>
		</div>
		<div class="f-form-group row ">
			<label class="f-form-label col-md-3">{{'Select'|_}}</label>
			<div class="col-md-9">
				<select2 class="form-control">
					<option>Option1</option>
					<option>Option2</option>
					<option>Option3</option>
					<option>Option4</option>
				</select2>
			</div>
		</div>
		<div class="f-form-group row">
			<label class="f-form-label col-md-3">{{'Select multiple'|_}}</label>
			<div class="col-md-9">
				<select2 multiple="" aria-multiselectable="true" class="form-control select2-hidden-accessible" tabindex="-1" aria-hidden="true">
					<option>Option1</option>
					<option>Option2</option>
					<option>Option3</option>
					<option>Option4</option>
				</select2>
			</div>
		</div>
		<div class="f-form-group row">
			<label class="f-form-label col-md-3">{{'Checkbox'|_}}</label>
			<div class="col-md-9">
				<checkbox v-model="test"></checkbox>
			</div>
		</div>
		<div class="f-form-group row">
			<label class="f-form-label col-md-3">{{'Number input'|_}}</label>
			<div class="col-md-9">
				<input class="f-input-number " type="number" />
			</div>
		</div>
		<div class="f-form-group row">
			<label class="f-form-label col-md-3">en_US
				<span class="icon-question-sign">
					<i class="fa fa-question-circle" aria-hidden="true"></i>
					<span class="tooltip">Message</span>
				</span>
			</label>
			<div class="col-md-9">
				<textarea class="f-textarea" rows="5" class="f-textarea"></textarea>
			</div>
		</div>
</fieldset>
</div>