<!--{ label: Categories }-->
<!--{ pos: 20 }-->

{% set m = THIS.get('model') %}
{% set categoryCtrl =  APP.instance('FCom_Blog_Admin_Controller_Category') %}
<script>

    require(['jquery', 'jstree',  "fcom.admin"], function($) {
        $(function () {
            var plugins = ["themes", "json_data", "ui", "checkbox"];
            $('#categories').jstree({
                'core': {
                    animation: 0,
                    'initially_open': true
                },
                "plugins": plugins,
                'themes': {
                    //dots: false,
                    //icons: false
                },
                "json_data": {
                    "ajax": {"url": '{{ APP.href('blog/category/category_tree') }}', "data": function (n) {
                        return {
                            "id": n.attr ? n.attr("id").replace("node_", "") : 'NULL',
                            'expanded': 1,
                            'refresh': 1,
                            'post-id': '{{ m.id() }}'
                        };
                    }
                    }},
                // Configuring the search plugin
                'checkbox': true/*{ real_checkboxes:true }*/
            }).bind("change_state.jstree", function (e, data) {
                var tab = $('a[href="#tab-category"]');
                var html = '<i class="icon-pencil"></i>';
                if (tab.find('i.icon-pencil').length === 0) {
                    if (tab.find('i.error').length == 0) {
                        tab.append(html);
                    } else {
                        $(html).insertBefore(tab.find('i.error'));
                    }
                }
                var checked_ids = getCategoryChecked();
                if (checked_ids.length) {
                    $('#categories-layout').find('label.error').hide();
                    tab.find('i.error').hide();
                } else {
                    if ($('#model-status').val() == 'published') {
                        $('#categories-layout').find('label.error').show();
                        tab.find('i.error').show();
                    }
                }
            }).bind('loaded.jstree', function () {
                getCategoryChecked();
                var htmlLabel = '<label for="model-status"  class="error" style="display: none">You must choose one or more category.</label>';
                var htmlIcon = '<i class="icon-warning-sign error" style="display: none"></i>';
                $('#categories-layout').prepend(htmlLabel);
                $('a[href="#tab-categories"]').append(htmlIcon);
            });
            function getCategoryChecked () {
                var checked_ids = [];
                $("#categories").jstree("get_checked",null,true).each
                (function () {
                    checked_ids.push(this.id);
                });
                $('#category-id').val(checked_ids.join(','));
                return checked_ids;
            }
        })


    });

</script>
<input type="hidden" name="category-id" id="category-id"/>
<div class="f-section">
<div class="f-tree-layout">
    <div class="f-admin-main f-admin-sidebar-view clearfix" id="categories-layout" style="min-height: 900px;">
        <div id="categories-wrapper" class="clearfix">
                <div class="text-left">
                    <h4>{{ "Add post to one or more categories" }}
                    </h4>
                </div>

            <div class="f-admin-nav-sidebar f-admin-tree-sidebar" id="categories"></div>
        </div>
    </div>
</div>



</div>

