{% set prod = THIS.get('product') %}
{% if prod.getAverageStars() %}
    <div class="f-prod-avg-rating" itemprop="review" itemscope itemtype="http://data-vocabulary.org/Review-aggregate">
        <meta itemprop="rating" content="{{ prod.getAverageStars() }}"/>
        <meta itemprop="count" content="{{ prod.getNumReviews() }}"/>
        <div class="glyphicon f-rating-stars f-sm-stars">
            <span class="f-filled-stars" style="width:{{ prod.getAverageRatingPercent() }}%;"></span>
            <span class="f-empty-stars"></span>
        </div>
        <a href="#f-prod-tab-reviews">{{ '%s Review(s)'|_(prod.getNumReviews()) }}</a>
    </div>
{% endif %}