{% set filter = THIS.get('filter') %}
{% if filter is null %}
    {% set filter = {type: "default"} %}
{% endif %}
{% set orderTotal = APP.instance('Sellvana_Sales_Admin_Controller_Orders').getOrderTotal(filter) %}

<div class='row'>
  {% for  order in orderTotal %}
      <div class='col-sm-6'>
          <div class='box-content box-statistic'>
              <h3 class='title text-error dashboard-order-total' data-id="{{ order.id }}">{{ order.order|_ }}</h3>
              <small>{{ order.name|_ }}</small>
              <div class='text-error icon-inbox align-right'></div>
          </div>
      </div>
  {% endfor %}
</div>
