- $c = $this->model
- $mname =  BModuleRegistry::currentModuleName()
- $baseHtmlName = "config[modules][" . $mname . "]["
- $baseConfigPath = 'modules/'. $mname . '/'

- $aim = 'aim'
- $prefix = "authorizenet_" . $aim ."_"
- $baseAimHtmlName = $baseHtmlName . $aim . "]"
- $baseAimConfigPath = $baseConfigPath . $aim

- $dpm = 'dpm'
- $prefix = "authorizenet_" . $dpm ."_"
- $baseDpmHtmlName = $baseHtmlName . $dpm . "]"
- $baseDpmConfigPath = $baseConfigPath . $dpm

%fieldset
  .settings-container
    .group
      %h3
        %a(href="#") = $this->_('Authorize.net API')
      %div
        %table

          %tr
            %td
              %label{:for => $prefix . "active"} = $this->_("Enabled")
            %td
              %select{:name => $baseAimHtmlName . "[active]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseAimConfigPath . '/active'))
          %tr
            %td
              %label{:for => $prefix . "sort_order"} = $this->_("Payment Method Order")
            %td
              %input{:id => $prefix . "sort_order", :name => $baseAimHtmlName . "[sort_order]", :type => "text", :value => $c->get($baseAimConfigPath . '/sort_order')}/
          %tr
            %td
              %label{:for => $prefix . "title"} = $this->_("Title")
            %td
              %input{:id => $prefix . "title", :name => $baseAimHtmlName . "[title]", :type => "text", :value => $c->get($baseAimConfigPath . '/title')}/
          %tr
            %td
              %label{:for => $prefix . "login"} = $this->_("API Login ID")
            %td
              %input{:id => $prefix . "login", :name => $baseAimHtmlName . "[login]", :type => "password", :value => $c->get($baseAimConfigPath . '/login')}/
          %tr
            %td
              %label{:for => $prefix . "trans_key"} = $this->_("API Transaction Key")
            %td
              %input{:id => $prefix . "trans_key", :name => $baseAimHtmlName . "[trans_key]", :type => "password", :value => $c->get($baseAimConfigPath . '/trans_key')}/
          %tr
            %td
              %label{:for => $prefix . "payment_action"} = $this->_("Payment Action")
            %td
              %select{:id => $prefix . "payment_action", :name => $baseAimHtmlName . "[payment_action]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::paymentActions(), $c->get($baseAimConfigPath . '/payment_action'))
          %tr
            %td
              %label{:for => $prefix . "order_status"} = $this->_("New Order Status")
            %td
              %select{:id => $prefix . "order_status", :name => $baseAimHtmlName . "[order_status]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::orderStatuses(), $c->get($baseAimConfigPath . '/order_status'))
          %tr
            %td
              %label{:for => $prefix . "test"} = $this->_("Sandbox Mode")
            %td
              %select{:id => $prefix . "test", :name => $baseAimHtmlName . "[test]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseAimConfigPath . '/test'))
          %tr
            %td
              %label{:for => $prefix . "cgi_url"} = $this->_("Gateway URL")
            %td
              %input{:id => $prefix . "cgi_url", :name => $baseAimHtmlName . "[cgi_url]", :type => "text", :value => FCom_AuthorizeNet_Model_Settings::gatewayUrl($c)}/
          %tr
            %td
              %label{:for => $prefix . "currency"} = $this->_("Accepted Currency")
            %td
              %select{:id => $prefix . "currency", :name => $baseAimHtmlName . "[currency]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::currencies(), $c->get($baseAimConfigPath . '/currency'))
          %tr
            %td
              %label{:for => $prefix . "email_customer"} = $this->_("Email Customer")
            %td
              %select{:id => $prefix . "email_customer", :name => $baseAimHtmlName . "[email_customer]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseAimConfigPath . '/email_customer'))
          %tr
            %td
              %label{:for => $prefix . "merchant_email"} = $this->_("Merchant's Email")
            %td
              %input{:id => $prefix . "merchant_email", :name => $baseAimHtmlName . "[merchant_email]", :type => "text", :value => $c->get($baseAimConfigPath . '/merchant_email')}/
          %tr
            %td
              %label{:for => $prefix . "cctypes"} = $this->_("Credit Card Types")
            %td
              %select{:multiple => "multiple", :id => $prefix . "cctypes", :name => $baseAimHtmlName . "[cctypes][]", :size => "10"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::cardTypes(), $c->get($baseAimConfigPath . '/cctypes'))
          %tr
            %td
              %label{:for => $prefix . "useccv"} = $this->_("Credit Card Verification")
            %td
              %select{:id => $prefix . "useccv", :name => $baseAimHtmlName . "[useccv]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseAimConfigPath . '/useccv'))
          %tr
            %td
              %label{:for => $prefix . "allowspecific"} = $this->_("Payment from Applicable Countries")
            %td
              %select{:id => $prefix . "allowspecific", :name => $baseAimHtmlName . "[allowspecific]"}
                - echo BUtil::optionsHtml(array(0=>'All Allowed Countries', 1=>'Specific Countries'), $c->get($baseAimConfigPath . '/allowspecific'))
          %tr
            %td
              %label{:for => $prefix . "specificcountry"} = $this->_("Payment from Specific Countries")
            %td
              %select{:multiple => "multiple", :id => $prefix . "specificcountry", :name => $baseAimHtmlName . "[specific_country][]", :size => "10"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::countries(), $c->get($baseAimConfigPath . '/specific_country'))
          %tr
            %td
              %label{:for => $prefix . "allow_partial_authorization"} = $this->_("Allow Partial Authorization")
            %td
              %select{:id => $prefix . "allow_partial_authorization", :name => $baseAimHtmlName . "[allow_partial_authorization]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseAimConfigPath . '/allow_partial_authorization'))
    .group
      %h3
        %a(href="#") = $this->_('Authorize.net Direct Post Method API')
      %div
        %table
          %tr
            %td
              %label{:for => $prefix . "active"} = $this->_("Enabled")
            %td
              %select{:id => $prefix . "active", :name => $baseDpmHtmlName . "[active]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseDpmConfigPath . '/active'))
          %tr
            %td
              %label{:for => $prefix . "title"} = $this->_("Title")
            %td
              %input{:id => $prefix . "title", :name => $baseDpmHtmlName . "[title]", :type => "text", :value => $c->get( $baseDpmConfigPath . "/title")}/
          %tr
            %td
              %label{:for => $prefix . "login"} = $this->_("API Login ID")
            %td
              %input{:id => $prefix . "login", :name => $baseDpmHtmlName . "[login]", :value=>  $c->get( $baseDpmConfigPath . "/login"), :type => "password"}
          %tr
            %td
              %label{:for => $prefix . "trans_key"} = $this->_("Transaction Key")
            %td
              %input{:id => $prefix . "trans_key", :name => $baseDpmHtmlName . "[trans_key]", :value =>  $c->get( $baseDpmConfigPath . "/trans_key"), :type => "password"}
          %tr
            %td
              %label{:for => $prefix . "trans_md5"} = $this->_("Merchant MD5")
            %td
              %input{:id => $prefix . "trans_md5", :name => $baseDpmHtmlName . "[trans_md5]", :value =>  $c->get( $baseDpmConfigPath . "/trans_md5"), :type => "password"}
          %tr
            %td
              %label{:for => $prefix . "payment_action"} = $this->_("Payment Action")
            %td
              %select{:id => $prefix . "payment_action", :name => $baseDpmHtmlName . "[payment_action]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::paymentActions(), $c->get($baseDpmConfigPath . '/payment_action'))
          %tr
            %td
              %label{:for => $prefix . "order_status"} = $this->_("New Order Status")
            %td
              %select{:id => $prefix . "order_status", :name => $baseDpmHtmlName . "[order_status]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::orderStatuses(), $c->get($baseDpmConfigPath . '/order_status'))
          %tr
            %td
              %label{:for => $prefix . "test"} = $this->_("Test Mode")
            %td
              %select{:id => $prefix . "test", :name => $baseDpmHtmlName . "[test]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseDpmConfigPath . '/test'))
          %tr
            %td
              %label{:for => $prefix . "cgi_url"} = $this->_("Gateway URL")
            %td
              %input{:id => $prefix . "cgi_url", :name => $baseDpmHtmlName . "[cgi_url]", :type => "text", :value => FCom_AuthorizeNet_Model_Settings::gatewayDpmUrl($c)}/
          %tr
            %td
              %label{:for => $prefix . "currency"} = $this->_("Accepted Currency")
            %td
              %select{:id => $prefix . "currency", :name => $baseDpmHtmlName . "[currency]"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::currencies(), $c->get($baseAimConfigPath . '/currency'))
          %tr
            %td
              %label{:for => $prefix . "debug"} = $this->_("Debug")
            %td
              %select{:id => $prefix . "debug", :name => $baseDpmHtmlName . "[debug]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseDpmConfigPath . '/debug'))
          %tr
            %td
              %label{:for => $prefix . "email_customer"} = $this->_("Email Customer")
            %td
              %select{:id => $prefix . "email_customer", :name => $baseDpmHtmlName . "[email_customer]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseDpmConfigPath . '/email_customer'))
          %tr
            %td
              %label{:for => $prefix . "merchant_email"} Merchant's Email
            %td
              %input{:id => $prefix . "merchant_email", :name => $baseDpmHtmlName . "[merchant_email]", :type => "text", :value => $c->get( $baseDpmConfigPath . "merchant_email")}/
          %tr
            %td
              %label{:for => $prefix . "cctypes"} = $this->_("Credit Card Types")
            %td
              %select{:id => $prefix . "cctypes", :multiple => "multiple", :name => $baseDpmHtmlName . "[cctypes][]", :size => "10"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::cardTypes(), $c->get($baseDpmConfigPath . '/cctypes'))
          %tr
            %td
              %label{:for => $prefix . "useccv"} = $this->_("Credit Card Verification")
            %td
              %select{:id => $prefix . "useccv", :name => $baseDpmHtmlName . "[useccv]"}
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $c->get($baseDpmConfigPath . '/useccv'))
          %tr
            %td
              %label{:for => $prefix . "allowspecific"} = $this->_("Payment from Applicable Countries")
            %td
              %select{:id => $prefix . "allowspecific", :name => $baseDpmHtmlName . "[allowspecific]"}
                - echo BUtil::optionsHtml(array(0=>'All Allowed Countries', 1=>'Specific Countries'), $c->get($baseDpmConfigPath . '/allowspecific'))
          %tr
            %td
              %label{:for => $prefix . "specificcountry"} = $this->_("Payment from Specific Countries")
            %td
              %select{:id => $prefix . "specificcountry", :multiple => "multiple", :name => $baseDpmHtmlName . "[specificcountry][]", :size => "10"}
                - echo BUtil::optionsHtml( FCom_AuthorizeNet_Model_Settings::countries(), $c->get($baseDpmConfigPath . '/specific_country'))
          %tr
            %td
              %label{:for => $prefix . "min_order_total"} = $this->_("Minimum Order Total")
            %td
              %input{:id => $prefix . "min_order_total", :name => $baseDpmHtmlName . "[min_order_total]", :type => "text", :value => $c->get( $baseDpmConfigPath . "min_order_total")}/
          %tr
            %td
              %label{:for => $prefix . "max_order_total"} = $this->_("Maximum Order Total")
            %td
              %input{:id => $prefix . "max_order_total", :name => $baseDpmHtmlName . "[max_order_total]", :type => "text", :value => $c->get($baseDpmConfigPath . "max_order_total")}/
          %tr
            %td
              %label{:for => $prefix . "sort_order"} = $this->_("Sort Order")
            %td
              %input{:id => $prefix . "sort_order", :name => $baseDpmHtmlName . "[sort_order]", :type => "text", :value => $c->get( $baseDpmConfigPath . "sort_order")}/
