- $c = $this->model
- $prefix = "authorizenet_"
- $mname =  BModuleRegistry::currentModuleName()
%fieldset
  .settings-container
    .group
      %h3
        %a(href="#") = $this->_('Authorize.net API')
      %div
        %table
          %tr
            %td
              %label{:for => $prefix . "title"} = $this->_("Title")
            %td
              %input{:id => $prefix . "title", :name => "config[modules][" . $mname . "][title]", :type => "text", :value => $c->get('modules/'. $mname . '/title')}/
          %tr
            %td
              %label{:for => $prefix . "login"} = $this->_("API Login ID")
            %td
              %input{:id => $prefix . "login", :name => "config[modules][" . $mname . "][login]", :type => "password", :value => $c->get('modules/'. $mname . '/login')}/
          %tr
            %td
              %label{:for => $prefix . "trans_key"} = $this->_("Transaction Key")
            %td
              %input{:id => $prefix . "trans_key", :name => "config[modules][" . $mname . "][trans_key]", :pwfprops => ",", :type => "password", :value => $c->get('modules/'. $mname . '/trans_key')}/
          %tr
            %td
              %label{:for => $prefix . "payment_action"} = $this->_("Payment Action")
            %td
              %select{:id => $prefix . "payment_action", :name => "config[modules][" . $mname . "][payment_action]"}
                - echo $this->optionsHtml( FCom_AuthorizeNet_Model_Settings::paymentActions(), $c->get('modules/'. $mname . '/payment_action'))
          %tr
            %td
              %label{:for => $prefix . "order_status"} = $this->_("New Order Status")
            %td
              %select{:id => $prefix . "order_status", :name => "config[modules][" . $mname . "][order_status]"}
                - echo $this->optionsHtml( FCom_AuthorizeNet_Model_Settings::orderStatuses(), $c->get('modules/'. $mname . '/order_status'))
          %tr
            %td
              %label{:for => $prefix . "test"} = $this->_("Test Mode")
            %td
              %select{:id => $prefix . "test", :name => "config[modules][" . $mname . "][test]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/test'))
          %tr
            %td
              %label{:for => $prefix . "cgi_url"} = $this->_("Gateway URL")
            %td
              %input{:id => $prefix . "cgi_url", :name => "config[modules][" . $mname . "][cgi_url]", :type => "text", :value => FCom_AuthorizeNet_Model_Settings::gatewayUrl($c)}/
          %tr
            %td
              %label{:for => $prefix . "currency"} = $this->_("Accepted Currency")
            %td
              %select{:id => $prefix . "currency", :name => "config[modules][" . $mname . "][currency]"}
                - echo $this->optionsHtml( FCom_AuthorizeNet_Model_Settings::currencies(), $c->get('modules/'. $mname . '/currency'))
          %tr
            %td
              %label{:for => $prefix . "debug"} = $this->_("Debug")
            %td
              %select{:id => $prefix . "debug", :name => "config[modules][" . $mname . "][debug]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/debug'))
          %tr
            %td
              %label{:for => $prefix . "email_customer"} = $this->_("Email Customer")
            %td
              %select{:id => $prefix . "email_customer", :name => "config[modules][" . $mname . "][email_customer]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/email_customer'))
          %tr
            %td
              %label{:for => $prefix . "merchant_email"} = $this->_("Merchant's Email")
            %td
              %input{:id => $prefix . "merchant_email", :name => "config[modules][" . $mname . "][merchant_email]", :type => "text", :value => $c->get('modules/'. $mname . '/merchant_email')}/
          %tr
            %td
              %label{:for => $prefix . "cctypes"} = $this->_("Credit Card Types")
            %td
              %select{:multiple => "multiple", :id => $prefix . "cctypes", :name => "config[modules][" . $mname . "][cctypes][]", :size => "10"}
                - echo $this->optionsHtml( FCom_AuthorizeNet_Model_Settings::cardTypes(), $c->get('modules/'. $mname . '/cctypes'))
          %tr
            %td
              %label{:for => $prefix . "useccv"} = $this->_("Credit Card Verification")
            %td
              %select{:id => $prefix . "useccv", :name => "config[modules][" . $mname . "][useccv]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/useccv'))
          %tr
            %td
              %label{:for => $prefix . "allowspecific"} = $this->_("Payment from Applicable Countries")
            %td
              %select{:id => $prefix . "allowspecific", :name => "config[modules][" . $mname . "][allowspecific]"}
                - echo $this->optionsHtml(array(0=>'All Allowed Countries', 1=>'Specific Countries'), $c->get('modules/'. $mname . '/allowspecific'))
          %tr
            %td
              %label{:for => $prefix . "specificcountry"} = $this->_("Payment from Specific Countries")
            %td
              %select{:multiple => "multiple", :id => $prefix . "specificcountry", :name => "config[modules][" . $mname . "][specific_country][]", :size => "10"}
                - echo $this->optionsHtml( FCom_AuthorizeNet_Model_Settings::countries(), $c->get('modules/'. $mname . '/specific_country'))
          %tr
            %td
              %label{:for => $prefix . "min_order_total"} = $this->_("Minimum Order Total")
            %td
              %input{:id => $prefix . "min_order_total", :name => "config[modules][" . $mname . "][min_order_total]", :type => "text", :value => $c->get('modules/'. $mname . '/min_order_total')}/
          %tr
            %td
              %label{:for => $prefix . "max_order_total"} = $this->_("Maximum Order Total")
            %td
              %input{:id => $prefix . "max_order_total", :name => "config[modules][" . $mname . "][max_order_total]", :type => "text", :value => $c->get('modules/'. $mname . '/max_order_total')}/
          %tr
            %td
              %label{:for => $prefix . "sort_order"} = $this->_("Sort Order")
            %td
              %input{:id => $prefix . "sort_order", :name => "config[modules][" . $mname . "][sort_order]", :type => "text", :value => $c->get('modules/'. $mname . '/sort_order')}/
          %tr
            %td
              %label{:for => $prefix . "allow_partial_authorization"} = $this->_("Allow Partial Authorization")
            %td
              %select{:id => $prefix . "allow_partial_authorization", :name => "config[modules][" . $mname . "][allow_partial_authorization]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/allow_partial_authorization'))
          %tr
            %td
              %label{:for => $prefix . "centinel"} = $this->_("3D Secure Card Validation")
            %td
              %select{:id => $prefix . "centinel", :name => "config[modules][" . $mname . "][centinel]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/centinel'))
          %tr{:style => ""}
            %td
              %label{:for => $prefix . "centinel_is_mode_strict"} = $this->_("Severe 3D Secure Card Validation")
            %td
              %select{:id => $prefix . "centinel_is_mode_strict", :name => "config[modules][" . $mname . "][centinel_is_mode_strict]"}
                - echo $this->optionsHtml(array(0=>'No', 1=>'Yes'), $c->get('modules/'. $mname . '/centinel_is_mode_strict'))
              %p
                %span = $this->_("Severe Validation Removes Chargeback Liability on Merchant")
          %tr{:style => ""}
            %td
              %label{:for => $prefix . "centinel_api_url"} = $this->_("Centinel API URL")
            %td
              %input{:id => $prefix . "centinel_api_url", :name => "config[modules][" . $mname . "][centinel_api_url]", :type => "text", :value => $c->get('modules/'. $mname . '/centinel_api_url')}/
              %p
                %span  = $this->_("If empty, a default value will be used. Custom URL may be provided by CardinalCommerce agreement.")
