{% if not THIS.get('products_data').state.c %}

    <div class="alert">{{ "There are no products matching the selection." |_ }}</div>

{% else %}

    {{ THIS.view('catalog/compare/block') | raw }}

    <section id="category">
        {{ THIS.view('catalog/product/pager').set('state', THIS.get('products_data').state) | raw }}
        {{ THIS.view('catalog/product/list-rows').set('products', THIS.get('products_data').rows).set('category', THIS.get('category')) | raw }}
    </section>

{% endif %}
