{% if not THIS.get('products_data').state.c %}
    <div class="alert alert-info">{{ "There are no products matching the selection." |_ }}</div>
{% else %}
    <section class="f-category-prod-listing">

      {{ THIS.view('catalog/product/pager') | raw }}

      <div class="f-prod-listing f-prod-listing-rows">
        {{ THIS.view('catalog/product/list-rows').set('products', THIS.get('products_data').rows).set('category', THIS.get('category')) | raw }}
      </div>

    </section>

{% endif %}
