{% set s = THIS.get('state') %}
{% set url = REQUEST.currentUrl() %}
{% set viewAs = REQUEST.get('view') ? REQUEST.get('view') : 'list' %}

{% set psOptions = { 25:25, 50:50, 100:100, 500:500 } %}
{% set sortOptions = THIS.get("sort_options") %}
{% if not sortOptions %}
    {% set sortOptions = {
        'product_name asc': 'Product Name (A-Z)',
        'product_name desc': 'Product Name (Z-A)',
        'local_sku asc': 'SKU (A-Z)',
        'local_sku desc': 'SKU (Z-A)',
        'base_price asc': 'Price (Lower first)',
        'base_price desc': 'Price (Higher first)'
    } %}
{% endif %}

<div class="pager">
    <form id="product_list_pager" name="product_list_pager" autocomplete="off" method="get" action="">
        {% if THIS.get('query') %}
            <input type="hidden" name="q" value="{{ THIS.get('query') }}" />
        {% endif %}

        {{ THIS.hook('catalog/product/pager.fields', { pager_view: THIS }) | raw }}

        <div class="pager-count">
            <strong class="count">{{ "Found: %s." | _(s.c ? s.c : 0) }}</strong>&nbsp;&nbsp;
            <label>{{ "Page" |_ }}:</label>
            {% if s.p > 1 %}
                <a href="{{ UTIL.setUrlQuery(url, { p: s.p-1 }) }}" class="arrow-left"><big>&laquo;</big></a>
            {% endif %}
                <input type="text" name="p" value="{{ s.p }}" size="3"/>
                <button type="button" class="button btn-aux" onclick="this.form.submit()"><span>{{ 'Go' |_ }}</span></button>
                {{ 'of %s' | _(s.mp) }}
            {% if s.p < s.mp %}
                <a href="{{ UTIL.setUrlQuery(url, { p: s.p+1 }) }}" class="arrow-right"><big>&raquo;</big></a>
            {% endif %}
        </div>
        <div class="pager-rows">
            <label>{{ "Rows:" |_ }}</label>
            <select name="ps" onchange="this.form.submit()" class="select2">
                {{ THIS.optionsHtml(psOptions, s.ps) | raw }}
            </select>
        </div>
        <div class="pager-sort">
            <label>{{ "Sort:" |_ }}</label>
            <select name="sc" onchange="this.form.submit()" class="select2">
                {{ THIS.optionsHtml(sortOptions, s.sc) | raw }}
            </select>
        </div>
        <div class="pager-layout">
            <span class="options-select">
                <a href="{{ UTIL.setUrlQuery(url, { view: 'grid' }) }}" class="option grid {{ viewAs=='grid' ? 'active' : '' }}"><span class="icon"></span>{{ "View as Grid" |_ }}</a>
                <a href="{{ UTIL.setUrlQuery(url, { view: 'list' }) }}" class="option list {{ viewAs=='list' ? 'active' : '' }}"><span class="icon"></span>{{ "View as List" |_ }}</a>
            </span>
        </div>
    </form>
</div>

