.control-buttons-block {
	padding: 15px 0 0;
	text-align: right;
	button, a, input {
		margin-bottom: 15px;
	}
}
button, .button {
	padding: 6px 16px;
	transition: 0.1s all ease-in;
	display: inline-block;
}
.button2 {
	background-color: #514943;
	border: 1px solid #514943;
	font-size: 12px;
	color: #fff;
	font-family: $f-med;
	&:hover, &:focus {
		background-color:  #1b1b1b;
		border: 1px solid #1b1b1b;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button1 {
	background-color: transparent;
	font-size: 12px;
	color: #868a8a;
	font-family: $f-med;
	border: 1px solid transparent;
	&:hover, &:focus {
		border: 1px solid #868a8a;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button3 {
	background-color: transparent;
	font-size: 12px;
	color: #2d2d2d;
	font-family: $f-med;
	border: 1px solid #e5dfdf;
	&:hover, &:focus {
		background-color: #8b8b8b;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24); 
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button4 {
	background-color: #3ec234;
	font-size: 12px;
	color: #fff;
	font-family: $f-med;
	border: 1px solid #3ec234;
	&:hover, &:focus {
		background-color: #16870d;
		color: #fff;
		border: 1px solid #16870d;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button5 {
	background-color: #e5e5e5;
	font-size: 12px;
	font-family: $f-med;
	border: 1px solid #e5e5e5;
	padding: 8px 4px;
	width: auto;
	span {
		color: #454d54;	
	}
	&:hover, &:focus {
		background-color: #e5e5e5;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.btn-sm, .btn-group-sm > .btn {
	border-radius: 1px;
}
.daterangepicker td.start-date {
	border-radius: 1px 0 0 1px;
}
.button6 {
	background-color: #ff2b42;
	font-size: 12px;
	font-family: $f-main-bold;
	border: 1px solid #ff2b42;
	padding: 6px 14px;
	width: auto;
	color: #fff;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		background-color: #d40017;
		border: 1px solid #d40017;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button7 {
	background-color: transparent;
	font-size: 12px;
	color: #ff2d43;
	font-family: $f-med;
	border: 1px solid transparent;
	padding: 6px 16px;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		border: 1px solid #ff2d43;
		color: #d40017;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button8 {
	background-color: #00a65a;
	font-size: 12px;
	color: #fff;
	font-family: $f-med;
	border: 1px solid #00a65a;
	&:hover, &:focus {
		background-color: #02894b;
		border: 1px solid #02894b;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button9 {
	background-color: #00c0ef;
	font-size: 12px;
	color: #fff;
	font-family: $f-med;
	border: 1px solid #00c0ef;
	&:hover, &:focus {
		background-color: #038fb1;
		border: 1px solid #038fb1;
		color: #fff;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button10 {
	background-color: transparent;
	font-size: 12px;
	font-family: $f-main-bold;
	border: 1px solid transparent;
	width: auto;
	color: #000;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		border: 1px solid #000;
		color: #000;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button11 {
	background-color: transparent;
	font-size: 12px;
	font-family: $f-main-bold;
	border: 1px solid #c9c9c9;
	width: auto;
	color: #4d4d4d;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		background: #514943;
		color: #fff;
		border: 1px solid #c9c9c9;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button12 {
	background-color: #4c8cf6;
	font-size: 12px;
	font-family: $f-main-bold;
	border: 1px solid #4c8cf6;
	width: auto;
	color: #fff;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		background: #115dda;
		color: #fff;
		border: 1px solid #115dda;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}
.button13 {
	background-color: #e1e1e1;
	font-size: 12px;
	font-family: $f-main-bold;
	border: 1px solid #e1e1e1;
	width: auto;
	color: #000;
	transition: 0.1s all ease-in;
	&:hover, &:focus {
		background: #514943;
		color: #fff;
		border: 1px solid #514943;
	}
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}