.control-buttons-block {
	margin: 15px 0 15px;
	button {
		margin-bottom: 4px;
	}
	.select2-container {
		min-width: 250px;
		text-align: left;
	}
}

.f-grid-filter-panel {
	.control-buttons-block {
		margin: 15px 0 0px;
	}
}

button, .button {
	width: 133px;
	text-align: center;
	padding: 8px 16px;
	transition: 0.1s all ease-in;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	border-radius: 5px;
	&:active {
		-webkit-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		-moz-box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
		box-shadow: inset 0 7px 13px rgba(0,0,0,.24);
	}
}

.button1 {
	box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
	background-color: #ff9000;
	border: 1px solid #d67d0b;
	color: #fff;
	span {
		color: #fff;
	}
	&:active, &:focus {
		background-color: #ca7302;
		box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
	}
	&:hover {
		background: #ca7302;
	}
}

.button2 {
	background-color: #fff;
	border: solid 1px #d67d0b;
	color: #ff8f00;
	box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5);
	span {
		color: #ff8f00;
	}
	&:active, &:focus {
		background-color: #ff8f00;
		border: solid 1px #d67d0b;
		color: #fff;
		box-shadow: 1px 2px 0 0 rgba(211, 111, 23, 0.5), inset 2px 2px 3px 0 rgba(44, 42, 42, 0.5);
	}
	&:hover  {
		background-color:  #ff8f00;
		border: solid 1px #d67d0b;
		color: #fff;
	}
}

.button3 {
	background-color: transparent;
	border: 1px solid #e5dfdf;
	color: #2d2d2d;
	span {
		color: #2d2d2d;
	}
	&:focus {
		background-color: transparent;
		color: #2d2d2d;
		border: 1px solid #e5dfdf;
	}
	&:hover {
		background-color: #8b8b8b;
		color: #fff;
		span {
			color: #fff;
		}
	}
}

.button4 {
	background-color: #3ec234;
	border: 1px solid #3ec234;
	color: #fff;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #3ec234;
		color: #fff;
		border: 1px solid #3ec234;
	}
	&:hover {
		background-color: #16870d;
		color: #fff;
		border: 1px solid #16870d;
	}
}

.button5 {
	background-color: #f2f2f2;
	border: 1px solid #e5e5e5;
	color: #454d54;	
	span {
		color: #454d54;	
	}
	&:focus {
		background-color: #f2f2f2;
		border: 1px solid #e5e5e5;
	}
	&:hover {
		background-color: #f2f2f2;
		color: #454d54;	
		span {
			color: #454d54;	
		}
	}
}

.button6 {
	background-color: #ff2b42;
	font-weight: bold;
	border: 1px solid #ff2b42;
	color: #fff;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #ff2b42;
		border: 1px solid #ff2b42;
		color: #fff;
	}
	&:hover {
		background-color: #d40017;
		border: 1px solid #d40017;
		color: #fff;
	}
}

.button7 {
	background-color: transparent;
	color: #ff2d43;
	border: 1px solid transparent;
	span {
		color: #ff2d43;
	}
	&:focus {
		background-color: transparent;
		border: 1px solid transparent;
		box-shadow: none;
		span {
			color: #ff2d43;
		}
	}
	&:hover {
		border: 1px solid #ff2d43;
		span {
			color: #ff2d43;
		}
	}
}

.button8 {
	background-color: #00a65a;
	color: #fff;
	border: 1px solid #00a65a;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #00a65a;
		color: #fff;
		border: 1px solid #00a65a;
	}
	&:hover {
		background-color: #02894b;
		border: 1px solid #02894b;
		color: #fff;
	}
}

.button9 {
	background-color: #00c0ef;
	color: #fff;
	border: 1px solid #00c0ef;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #00c0ef;
		color: #fff;
		border: 1px solid #00c0ef;
	}
	&:hover {
		background-color: #038fb1;
		border: 1px solid #038fb1;
		color: #fff;
	}
}

.button10 {
	background-color: transparent;
	font-weight: bold;
	border: 1px solid transparent;
	width: auto;
	color: #000;
	transition: 0.1s all ease-in;
	span {
		color: #000;
	}
	&:focus {
		background-color: transparent;
		border: 1px solid transparent;
		color: #000;
	}
	&:hover {
		border: 1px solid #000;
		color: #000;
	}
}

.button11 {
	background-color: transparent;
	font-weight: bold;
	border: 1px solid #c9c9c9;
	width: auto;
	color: #4d4d4d;
	transition: 0.1s all ease-in;
	span {
		color: #4d4d4d;
	}
	&:focus {
		background-color: transparent;
		border: 1px solid #c9c9c9;
		color: #4d4d4d;
	}
	&:hover {
		background: #514943;
		color: #fff;
		border: 1px solid #c9c9c9;
		span {
			color: #fff;
		}
	}
}

.button12 {
	background-color: #4c8cf6;
	border: 1px solid #4c8cf6;
	color: #fff;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #4c8cf6;
		border: 1px solid #4c8cf6;
		color: #fff;
	}
	&:hover {
		background: #115dda;
		color: #fff;
		border: 1px solid #115dda;
	}
}

.button13 {
	background-color: #e1e1e1;
	border: 1px solid #e1e1e1;
	color: #000;
	span {
		color: #000;
	}
	&:focus {
		background-color: #e1e1e1;
		border: 1px solid #e1e1e1;
		color: #000;
	}
	&:hover {
		background: #514943;
		color: #fff;
		border: 1px solid #514943;
		span {
			color: #fff;
		}
	}
}

.button14 {
	background-color: #00c0ef;
	color: #fff;
	border: 1px solid #00c0ef;
	padding: 0px 6px;
	span {
		color: #fff;
	}	
	&:focus {
		background-color: #038fb1;
		border: 1px solid #038fb1;
		color: #fff;
	}
	&:hover {
		background: #038fb1;
		color: #fff;
		border: 1px solid #038fb1;
	}
	&:active, &.active {
		background-color: #038fb1;
		border: 1px solid #038fb1;
	}
}

.button15 {
	background-color: #00a65a;
	color: #fff;
	border: 1px solid #00a65a;
	padding: 0px 6px;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #02894b;
		border: 1px solid #02894b;
		color: #fff;
	}
	&:hover {
		background: #02894b;
		color: #fff;
		border: 1px solid #02894b;
	}
	&:active, &.active {
		background-color: #02894b;
		border: 1px solid #02894b;
	}
}

.button16 {
	background-color: #dac303;
	border: 1px solid #dac303;
	color: #fff;
	padding: 0px 6px;
	span {
		color: #fff;
	}
	&:focus {
		background-color: #cbb607;
		border: 1px solid #cbb607;
		color: #fff;
	}
	&:hover {
		background: #cbb607;
		color: #fff;
		border: 1px solid #cbb607;
	}
	&:active, .active {
		background-color: #cbb607;
		border: 1px solid #cbb607;
	}
}

.button-lock {
	border: 0;
	background: none;
	.fa {
		font-size: 22px;
	}
	.fa-lock {
		display: inline-block;
		color: darkred;
	}
	.fa-unlock {
		display: none;
		color: limegreen;
	}
	&.open {
		.fa-lock {
			display: none;
		}
		.fa-unlock {
			display: inline-block;
		}
	}
}

.col-md-2, .col-lg-2 {
	.control-buttons-block {
		text-align: center;
	}
}

.btn-sm, .btn-group-sm > .btn {
	border-radius: 1px;
}

.dropdown.action.dropdown-buttons {
	.color1 {
		background-color: transparent;
		color: #868a8a;
		span {
			color: #868a8a;
		}
	}
	.color2 {
		background-color: #514943;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color3 {
		background-color: transparent;
		color: #2d2d2d;
		span {
			color: #2d2d2d;
		}
	}
	.color4 {
		background-color: #3ec234;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color5 {
		background-color: #e5e5e5;
		color: #454d54;
		span {
			color: #454d54;
		}
	}
	.color6 {
		background-color: #ff2b42;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color7 {
		background-color: transparent;
		color: #ff2d43;
		span {
			color: #ff2d43;
		}
	}
	.color8 {
		background-color: #00a65a;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color9 {
		background-color: #00c0ef;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color10 {
		background-color: transparent;
		color: #000;
		span {
			color: #000;
		}
	}
	.color11 {
		background-color: transparent;
		color: #4d4d4d;
		span {
			color: #4d4d4d;
		}
	}
	.color12 {
		background-color: #4c8cf6;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color13 {
		background-color: #e1e1e1;
		color: #000;
		span {
			color: #000;
		}
	}
	.color14 {
		background-color: #00c0ef;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color15 {
		background-color: #00a65a;
		color: #fff;
		span {
			color: #fff;
		}
	}
	.color16 {
		background-color: #dac303;
		color: #fff;
		span {
			color: #fff;
		}
	}
}
.caret {
	margin-left: 7px;
}
@media (max-width: 767px) {
	.control-buttons-block {
		margin: 5px 0 5px 0;
		text-align: center;
		button, a, input {
			margin-bottom: 5px;
		}
		.select2-container {
			min-width: 120px;
			width: 100% !important;
		}
	}
	button, .button {
		padding: 4px 8px;
		font-size: 11px;
		font-weight: normal;
	}
}