input[type="checkbox"] {
	& + span {
		width: 20px;
		height: 20px;
		border: solid 1px #d0dae3;
		display: inline-block;
		text-align: center;
		margin-right: 6px; 
		border-radius: 3px;
		padding: 3px 0;
		cursor: pointer;
		i {
			display: inline-block;
			font-size: 14px;
			opacity: 0;
			visibility: hidden;
			color: #fff;
		}
	}
	&:checked {
		& + span {
			background: #d8d8d8;
		}
	}
}
.selector-dropdown {
	label {
		color: #2e4354;
		font-weight: normal;
		display: inline-block;
		padding: 3px 9px;
		width: 100%;
		cursor: pointer;
	}
	input[type="checkbox"] {
		& + span {
			width: 12px;
			height: 12px;
			border-radius: 3px;
			padding: 0;
			position: relative;
			i {
				font-size: 9px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
		&:checked {
			& + span {
				background: #d0dae3;
			}
		}
	}
	.dropdown-menu {
		margin: 0;
		padding: 0;
		top: 21px;
		left: 9px;
		border: solid 1px #d0dae3;
		border-radius: 0px 3px 3px 3px;
		& > li > a {
			border-bottom: solid 1px #d0dae3;
			padding: 0;
			&:hover {
				background-color: #d0dae3;
				input[type="checkbox"] + span { 
					border: solid 1px #2e4354;
				}
			}
			&:active {
				box-shadow: inset 0 1px 3px 0 rgba(112, 112, 112, 0.5);
				input[type="checkbox"] + span { 
					border: solid 1px #2e4354;
				}
			}
		}
		
		& > li:last-child a {
			border: 0;
		} 
	}
	.action-button {
		label {
			padding: 0;
			width: initial;
		}	
	}
}
input[type="radio"] + span {
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: rgba(255,255,255,0);
	border: solid 1px #ccd1d9;
	display: inline-block;
	text-align: center;
	padding: 1px 0px;
	margin-right: 6px; 
	vertical-align: middle;
	cursor: pointer;
	i {
		display: none;
		font-size: 8px;
		color: #ccd1d9;
	}
}
label {
	input[type="checkbox"], input[type="radio"] {
		height: 0;
		width: 0;
		display: block;
		&:checked + span i {
			display: inline-block;
			opacity: 1;
			visibility: visible;
		}
	}
}
textarea {
	resize: vertical;
}
.pagination {
	input {
		border: 1px solid #eaeaea;
		width: 30px;
		padding: 8px 0px;
		text-align: center;
		color: #474646;
	}
}
.input-group-addon:first-child {
	border-radius: 5px;
}
.input-group-addon:last-child {
	border-left: 1px solid #ebebeb; 
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
	border-left: 0;
}
.input-group-addon {
	border: 0;
	.filter-sub {
		padding: 0;
		width: auto;
		min-width: 100%;
		top: 30px;
		box-shadow: none;
		background-color: #dde4ea;
		border-radius: 5px;
	}
	li {
		border-bottom: 1px solid #fff;
		a {
			padding: 4px 10px 4px 10px;
			color: #2e4354;
		}
	}
	.select2-container .select2-selection--multiple {
		border-radius: 0 5px 5px 0;
	}
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

.login-container {
	input[type="text"], input[type="password"] {
		padding: 12px 20px;
		width: 100%;
	}
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: solid #ebebeb 1px;
	border-radius: 5px;
	padding: 0px 0 2px; 
}
.select2-container--default .select2-selection--multiple {
	border: 1px solid #ebebeb;
}
.select2-container--default .select2-search--inline .select2-search__field {
	font-size: 12px;
	box-shadow: none;
	margin: 5px 0 0 0;
	line-height: 1.4;
	padding: 2px 7px 1px;
}
.select2-container .select2-selection--multiple {
	min-height: auto;
	padding: 0px 0 2px 0;
	border-radius: 0;
}
.form-control {
	font-size: 12px;
	padding: 7px 12px;
	border-radius: 0;
	box-shadow: none;
	border: 1px solid #ebebeb;
	height: auto;
	min-width: 100px;
	color: #474646;
	&:hover,
	&:focus,
	&:active {
		border: 1px solid #ebebeb;
		box-shadow: none;
	}
	&:focus {
		box-shadow: 0px 1px 6px 1px rgba(152, 167, 152, 0.3);
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"].form-control,
	input[type="time"].form-control,
	input[type="datetime-local"].form-control,
	input[type="month"].form-control {
		line-height: 1.4;
	}
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	background: #e3e3e3;
	border: none;
	border-radius: 5px;
	color: #868a8a;
	padding: 2px 8px;
	margin: 5px 3px 0px 0;
}
.select2-container .select2-selection--single {
	height: 34px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 34px;
}
.f-section {
	padding: 20px;
}
.select2-container--default .select2-selection--single {
	border: 1px solid #e8edf1;
	border-radius: 5px;
}
/*.select2-container {
	min-width: 100%;
}*/


input[type="checkbox"]:focus + .checkbox-block {
	box-shadow: 0px 1px 6px 1px rgba(15, 84, 17, 0.3);
}
input[type="checkbox"]:checked + .checkbox-block {
	background: #4dd865;
	border: 1px solid #4dd865;
	.checkbox-elem {
		left: 20px;
		border: 1px solid #fff;
	}
}
fieldset {
	border: 0;
}

.translate-icon {
	position: absolute;
	right: -13px;
	top: 0;
	font-size: 18px;
	padding: 4px 5px;
	color: #5f5f5f;
}
.form-group {
	label {
		display: block;
	}
	.control-label {
		display: inline-block;
		font-weight: bold;
		font-size: 12px;
		color: #000;
		cursor: pointer;
		text-align: right;
		padding-top: 7px;
	}
	.error-message {
		visibility: hidden;
	}
	.delete {
		margin-left: 10px;
	}
}
.param-block {
	.delete {
		margin-left: 0;
		margin-right: 10px;
	}
}
.checkbox-block {
	width: 48px;
	height: 28px;
	border-radius: 20px;
	border: 1px solid #eee;
	transition: 0.1s all ease-in; 
	position: relative;
	cursor: pointer; 
	background: #fff;
	.checkbox-elem {
		width: 26px;
		height: 26px;
		border-radius: 100%;
		background: #ffffff;
		position: absolute;
		left: -1px;
		top: 0px;
		transition: 0.2s all ease-in;
		border: 1px solid #eee;
		box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.06); 
	}
}

.error-message {
	color: darkred;
	padding: 0 0 0 6px;
	visibility: visible;
}
.error {
	.error-message {
		visibility: visible;
	}
	.form-control {
		border: 1px solid darkred;
	}
}
.required {
	.control-label {
		position: relative;
		padding-right: 2em;
		&:after {
			content: "*";
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 5px;  
		}
	}
}
.multiselect {
	min-height: 33px !important;
	color: #474646 !important;
}
.multiselect__select {
	height: 33px !important;
}
.multiselect__tags {
	min-height: 33px !important;
	border-radius: 0 !important;
	max-height: 33px !important;
	padding: 4px 40px 0 8px !important;
}
.multiselect__input, .multiselect__single {
	font-size: 12px !important;
}
.multiselect__select:before {
	top: 54% !important;
}
.select2-results__option {
	font-weight: 500;
}
@media (max-width: 767px) {
	.translate-icon {
		position: absolute;
		right: 15px;
		top: 0;
		font-size: 18px;
		padding: 4px 5px;
	}
	.required {
		.control-label {
			padding-top: 7px;
		}
	}
}