input[type="checkbox"] + span {
	width: 24px;
	height: 24px;
	background-color: rgba(255,255,255,1);
	border: solid 1px #ebebeb;
	display: inline-block;
	text-align: center;
	margin-right: 6px; 
	border-radius: 2px;
	padding: 3px 0;
	cursor: pointer;
	i {
		display: inline-block;
		font-size: 14px;
		opacity: 0;
		visibility: hidden;
		color: #868a8a;
	}
}
input[type="radio"] + span {
	width: 21px;
	height: 21px;
	border-radius: 21px;
	background-color: rgba(255,255,255,0);
	border: solid 1px #ccd1d9;
	display: inline-block;
	text-align: center;
	padding: 1px 0px;
	margin-right: 6px; 
	vertical-align: middle;
	cursor: pointer;
	i {
		display: none;
		font-size: 8px;
		color: #ccd1d9;
	}
}
input[type="checkbox"], input[type="radio"] {
	display: none;
	&:checked + span i {
		display: inline-block;
		opacity: 1;
		visibility: visible;
	}
}
textarea {
	resize: vertical;
}
.pagination {
	input {
		border: 1px solid #eaeaea;
		width: 30px;
		padding: 8px 0px;
		text-align: center;
		color: #474646;
	}
}
.input-group-addon:first-child {
	border-right: 1px solid #ebebeb; 
}
.input-group-addon:last-child {
	border-left: 1px solid #ebebeb; 
}
.input-group-addon {
	background-color: #f2f2f2;   
	border: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-radius: 1px;
	&:hover, &:focus, &:active {
		background-color: #f2f2f2;
		border: 1px solid #ebebeb;
		border-radius: 1px;
		border-right: 1px solid #ebebeb;
	}
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

input[type="text"], input[type="password"] {
	border: 1px solid #ebebeb;
	border-radius: 1px;
	width: 100%;
	font-size: 12px;
}
.login-container {
	input[type="text"], input[type="password"] {
		padding: 12px 20px;
	}
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #ebebeb 1px;
    border-radius: 1px;
	    padding: 0px 0 2px; 
}
.select2-container--default .select2-selection--multiple {
    border: 1px solid #ebebeb;
  }
.select2-container--default .select2-search--inline .select2-search__field {
	    font-size: 12px;
    box-shadow: none;
	margin: 5px 0 0 0;
	line-height: 1.4;
       padding: 2px 0px 1px;
}
.select2-container .select2-selection--multiple {
    min-height: auto;
	padding: 0px 0 2px 0;
	border-radius: 0;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	input[type="date"].form-control,
	input[type="time"].form-control,
	input[type="datetime-local"].form-control,
	input[type="month"].form-control {
		line-height: 1.4;
	}
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	    background: #e3e3e3;
    border: none;
    border-radius: 1px;
	color: #868a8a;
	    padding: 2px 8px;
	   margin: 5px 3px 0px 0;
}
.select2-container .select2-selection--single {
    height: 33px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 33px;
}
.f-section {
	padding: 20px;
}
.select2-container--default .select2-selection--single {
    border: 1px solid #ebebeb;
    border-radius: 1px;
}
.select2-container {
   min-width: 100%;
}



input[type="checkbox"]:checked + .checkbox-block {
	background: #4dd865;
	border: 1px solid #4dd865;
	.checkbox-elem {
		left: 20px;
		border: 1px solid #fff;
	}
}
fieldset {
	border: 0;
}

.translate-icon {
	position: absolute;
	right: -13px;
	top: 0;
	font-size: 18px;
	padding: 4px 5px;
}
.form-group {
	label {
		display: block;
	}
	.control-label {
		display: inline-block;
		font-weight: bold;
		font-size: 12px;
		color: #000;
		cursor: pointer;
	}
	.error-message {
		visibility: hidden;
	}
}

.checkbox-block {
	width: 48px;
	height: 28px;
	border-radius: 20px;
	border: 1px solid #eee;
	transition: 0.1s all ease-in; 
	position: relative;
	cursor: pointer; 
	background: #fff;
	.checkbox-elem {
		width: 26px;
		height: 26px;
		border-radius: 100%;
		background: #ffffff;
		position: absolute;
		left: -1px;
		top: 0px;
		transition: 0.2s all ease-in;
		border: 1px solid #eee;
		box-shadow: 2px 1px 3px 0px rgba(0, 0, 0, 0.06); 
	}
}

.error-message {
	color: darkred;
	padding: 0 0 0 6px;
	visibility: visible;
}
.error {
	.error-message {
		visibility: visible;
	}
	.form-control {
		border: 1px solid darkred;
	}
}
.required {
	.control-label {
		position: relative;
		padding-right: 2em;
		&:after {
			content: "*";
			display: inline-block;
			position: absolute;
			right: 15px;
			top: 5px;
		}
	}
}
@media (max-width: 767px) {
	.translate-icon {
		position: absolute;
		right: 15px;
		top: 0;
		font-size: 18px;
		padding: 4px 5px;
	}

}