.cke_reset_all {
	.cke_dialog {
		width: 60%;
		min-width: 600px;
		margin: 0 auto;
		table {
			min-width: inherit;
		}
	}
	table {
		min-width: inherit;
	}
}

@media (max-width: 767px) {
	.cke_reset_all {
		.cke_dialog {
			width: 80%;
			min-width: 200px;
		}
		table {
			min-width: inherit;
		}
	}
}

