@media (min-width: 1366px) {
	.visible-lg {
		display: inline-block !important;
	}
}

@media (max-width: 767px) {
	.visible-xs {
		display: inline-block !important;
	}
}

.cke_editor_editor_dialog {
	width: 50% !important;
	margin: 0 auto  !important;
}