.tree-block {
	ul {
		padding: 0;
	}
	.f-buttons-block {
		display: table;
		width: 100%;
	}
	.f-icon-button {
		display: table-cell;
	}
}
.tree-node {
	cursor: pointer;
	.f-opened-line-link {
		display: none;
	}
	&.open {
		font-weight: bold;
	}
	.node-line {
		white-space: nowrap;
		.node-name {
			display: inline-block;
			width: 72%;
			vertical-align: top;
			white-space: normal;
		}
		&.open {
			.f-closed-line-link {
				display: none;
			}
			.f-opened-line-link {
				display: inline-block;
			}
		}
	}
	.node-label {
		padding: 6px 0;
		display: inline-block;
	}
	& > ul {
		padding-left: 32px;
		line-height: 1.5em;
		.tree-node > ul {
			padding-left: 32px;
			line-height: 1.5em;
			.tree-node > ul {
				padding-left: 32px;
				line-height: 1.5em;
			}
		}
	}

	& > .node-line {
		.add-child {
			display: none;
		}
		&:hover .add-child {
			display: inline-block;
			width: 16px;
		}
		&.active .node-label {
			font-weight: bold;
			color: #000;
		}
	}
	& * {
		color: #595959;
	}

}
.f-closed-line-link, .f-opened-line-link {
	margin-right: 5px;
}
.leaf-icon,
.folder-icon {
	display: inline-block;
	padding: 6px 4px 6px 0;
}
