- $model = $this->model;

%div
    %header.adm-main-header = $this->_('Customer Group Details')
    .customer-group-details
        %fieldset
            %h3.form-group-title = $this->_('Group Details')
            %ul.form-list
                %li.label-l
                    %label(for="model-title") = $this->_('Group Title')
                    %input#model-title(type="text" name="model[title]" value="#{$model->title}")
                %li.label-l
                    %label(for="model-code") = $this->_('Group Code')
                    %input#model-code(type="text" name="model[code]" value="#{$model->code}")
