{% set orderCtrl =  APP.instance('Sellvana_Sales_Admin_Controller_Orders') %}
<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Orders"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        <p style="margin-left: 10px;margin-bottom: 15px">{{ "No results found for Orders"|_ }}</p>
    </div>
</div>