- $m = $this->model

%fieldset
    %ul.form-list
        %li.label-l
            %label(for="main-node_name") = $this->_('Node Name')
            %input#main-node_name(type="text" name="model[node_name]" value="#{$m->node_name}")
        %li.label-l
            %label(for="main-url_key") = $this->_('URL Key')
            %input#main-url_key(type="text" name="model[url_key]" value="#{$m->url_key}")
        %li.label-l
            %label(for="main-node_type") = $this->_('Node Type')
            %select#main-node_type(name="model[node_type]")
                - echo $this->optionsHtml($this->node_types, $m->node_type)
        %li.label-l
            %label(for="main-reference") = $this->_('Reference')
            %input#main-reference(type="text" name="model[reference]" value="#{$m->reference}")
