<tr>
    <template v-for="col in columns">
        <th v-if="col.data_cell_vm === 'GridDataCell_RowSelect'" v-show="!col.hidden">
            <label @click.prevent="selectRow(col)"><input type="checkbox" :checked="isRowSelected(col)"/><span><i class="fa fa-check" aria-hidden="true"></i></span></label>
        </th>
        <th v-else-if="col.data_cell_vm === 'GridDataCell_Actions'" v-show="!col.hidden">
            <template v-for="act in col.actions">
                <router-link v-if="act.link" :to="rowActionLink(row, col, act)" class="edit"><i :class="act.icon_class" aria-hidden="true"></i></router-link>
                <a href="#" v-if="act.delete_url" @click.prevent="deleteRow(row, col, act)" class="delete"><i :class="act.icon_class" aria-hidden="true"></i></a>
            </template>
        </th>
        <sv-comp-grid-data-cell v-else-if="col.data_cell_vm" :grid="grid" :column="col" v-show="!col.hidden"></sv-comp-grid-data-cell>
        <td v-else v-show="!col.hidden">
            <span :class="cellClass(row, col)">{{cellData(row, col) }}</span>
        </td>
    </template>
</tr>