<tr>
    <th>
        <label>
            <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span></label>
    </th>
	<th><router-link to="/sales/orders/edit-order"><i class="fa fa-pencil" aria-hidden="true"></i></router-link></th>
    <td><span>BLAH BLAH</span></td>
    <td><span>100000001</span></td>
    <td></td>
    <td><span class="processing">Processing</span></td><!-- placed, shipped, processing -->
    <td><span>Gurvich</span></td>
    <td><span>New York</span></td>
    <td><span>US</span></td>
    <td><span>New York</span></td>
    <td><span>US</span></td>
    <td><span>Gurvich</span></td>
    <td><span>None</span></td>
    <td><span class="processing">Processing</span></td>
</tr>