<tr>
    <th v-for="col in columns" v-show="!col.hidden">
        <template v-if="col.header_cell_vm === 'GridHeaderCell_RowSelect'">
            <i class="fa fa-list" aria-hidden="true"></i><span>A</span>
        </template>
        <sv-comp-grid-header-cell v-else-if="col.header_cell_vm" :grid="grid" :column="col"></sv-comp-grid-header-cell>
        <template v-else>
            <a href="#" :class="{'sorted-up':sorted(col, 'up', 0), 'sorted-down':sorted(col, 'down', 0)}" @click.prevent="toggleSort(col)"
                ><i class="fa fa-caret-up" aria-hidden="true" v-if="sorted(col, 'up', 1)"></i
                ><i class="fa fa-caret-down" aria-hidden="true" v-if="sorted(col, 'down', 1)"></i
                >{{col.label|_}}</a>
        </template>
    </th>
</tr>