<div>
    <template>
        <ul class="pagination pagination-sm pagination-griddle pagesize">
            <li class="active"><a href="#" data-value="10" class="js-change-url page-size">10</a></li>
            <li class=""><a href="#" data-value="20" class="js-change-url page-size">20</a></li>
            <li class=""><a href="#" data-value="50" class="js-change-url page-size">50</a></li>
            <li class=""><a href="#" data-value="100" class="js-change-url page-size">100</a></li>
        </ul>

        <ul class="pagination pagination-sm pagination-griddle page">
            <li class="prev"><a href="#">Previous</a></li>
            <li class="page active">
                <input type="number" min=1 step="1" value="1" />
            </li>
            <li><span>of</span><span>1</span></li>
            <li class="next"><a href="#">Next</a></li>
        </ul>
    </template>
</div>