<div v-if="grid.config && grid.config.columns" class="dropdown columns" :class="{open:ddOpen(grid.config.id+'/panel-columns')}">
    <a href="#" class="filter-toggle" @click.prevent.stop="ddToggle(grid.config.id+'/panel-columns')">{{'Columns'|_}}<b class="caret"></b></a>
    <div class="dropdown-menu" @click.stop>
        <ol class="ui-sortable" v-sortable="{onUpdate:sortingUpdate}">
            <li v-for="col in grid.config.columns">
                <i class="handle fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" :checked="!col.hidden" @click="toggleColumn(col)"/><span><i class="fa fa-check" aria-hidden="true"></i></span><span>{{col.label}}</span></label>
            </li>
        </ol>
    </div>
    <div class="filter-pagination-block">
    	<ul>
			<li><a href="#">10</a></li>
			<li><a href="#">20</a></li>
			<li><a href="#">30</a></li>
			<li><a href="#">50</a></li>
			<li><a href="#">100</a></li>
    	</ul>
    </div>
</div>