<div class="dropdown export last-dropdown" :class="{open:ddOpen(grid.id+'/panel-export')}">
    <a href="#" class="btn filter-toggle" @click.prevent.stop="ddToggle(grid.id+'/panel-export')"><span>Export</span><b class="caret"></b></a>
    <div class="dropdown-menu">
        <ol>
            <li>
                <label>
                    <input type="radio" name="export" /><span><i class="fa fa-circle" aria-hidden="true"></i></span><span>CSV</span></label>
            </li>
        </ol>
        <div class="control-buttons-block">
            <button class="button1" type="button">Reset</button>
            <button class="button2" type="button">Export</button>
        </div>
    </div>
</div>