<div class="dropdown filter" :class="{open:ddOpen(grid.config.id+'/panel-filters')}">
    <a href="#" class="btn filter-toggle" @click.prevent.stop="ddToggle(grid.config.id+'/panel-filters')"><span>{{'Filter'|_}}</span><b class="caret"></b></a>
    <div class="dropdown-menu" @click.stop="ddOpClear()" style="min-width:600px">
        <form class="select-filter">
            <select v-model="filterToAdd" @change="addFilter()" :options="availableFilters" :params="addFilterSelect2Params">
                <option value="">{{(availableFilters.length ? 'Add filter...' : 'No more filters available to add')|_}}</option>
                <option v-for="flt in availableFilters" :value="flt.id">{{flt.text}}</option>
            </select>
            <!--<button type="button" class="button4" @click="addFilter()">{{'Add'|_}}</button>-->
        </form>
        <ul class="filter-box">
            <li>
                <div class="input-group" v-for="(flt, i) in addedFilters">
                    <a href="#" @click.prevent="removeFilter(i)"><i class="fa fa-trash"></i></a>
                    <label>{{flt.config.label|_}}</label>
                    <div class="input-group-btn dropdown" :class="{open:ddOpOpen(flt)}">
                        <button class="button5 dropdown-toggle filter-text-sub" data-toggle="dropdown"
                            :aria-expanded="ddOpOpen(flt)"
                            @click.stop="ddOpToggle(flt)"><span>{{flt.config.ops[flt.op]}}</span><span class="caret"></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li v-for="(opLabel, op) in flt.config.ops"><a class="filter-op" href="#" @click.prevent="switchOp(flt, op)">{{opLabel|_}}</a></li>
                        </ul>
                    </div>
                    <div v-if="flt.op.match(/^(equals|starts|ends|lt|lte|gt|gte)$/)" class="input-group-btn not-range">
                        <input v-if="flt.config.type === 'text'" type="text" :placeholder="'text'|_" class="form-control" v-model="flt.value">
                        <input v-if="flt.config.type === 'number'" type="number" :placeholder="'number'|_" class="form-control" v-model="flt.value">
                        <input v-if="flt.config.type === 'date'" type="date" :placeholder="'date'|_" class="form-control" v-model="flt.value">
                    </div>
                    <div v-if="flt.op.match(/^(contains|not_contains)$/)" class="input-group-btn not-range">
                        <input type="text" :placeholder="'value'|_" class="form-control" v-model="flt.value">
                    </div>
                    <div v-if="flt.op.match(/^(in|not_in)$/)" class="input-group-btn not-range">
                        <select2 class="form-control" v-model="flt.values" multiple aria-multiselectable="true" :options="select2Options(flt.config.options)"></select2>
                    </div>
                    <div v-if="flt.op.match(/^(between|not_between)$/)" class="input-group-btn range">
                        <input v-if="flt.config.type === 'text'" type="text" :placeholder="'text'|_" class="form-control" v-model="flt.from">
                        <input v-if="flt.config.type === 'number'" type="number" :placeholder="'number'|_" class="form-control" v-model="flt.from">
                        <input v-if="flt.config.type === 'date'" type="date" :placeholder="'date'|_" class="form-control" v-model="flt.from">

                        <input v-if="flt.config.type === 'text'" type="text" :placeholder="'text'|_" class="form-control" v-model="flt.to">
                        <input v-if="flt.config.type === 'number'" type="number" :placeholder="'number'|_" class="form-control" v-model="flt.to">
                        <input v-if="flt.config.type === 'date'" type="date" :placeholder="'date'|_" class="form-control" v-model="flt.to">
                    </div>
                </div>
<!--
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>From</span><span class="caret" data-></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter-op range" href="#">between</a></li>
                            <li><a class="filter-op not-range" href="#">from</a></li>
                            <li><a class="filter-op not-range" href="#">to</a></li>
                            <li><a class="filter-op not-range" href="#">is equal to</a></li>
                            <li><a class="filter-op range" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn range">
                        <input type="text" data-type="from" placeholder="From" class="form-control js-number1">
                        <input type="text" data-type="to" placeholder="To" class="form-control js-number2">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>Between</span><span class="caret"></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter_op range" data-id="between" href="#">between</a></li>
                            <li><a class="filter_op not_range" data-id="from" href="#">from</a></li>
                            <li><a class="filter_op not_range" data-id="to" href="#">to</a></li>
                            <li><a class="filter_op not_range" data-id="equal" href="#">is equal to</a></li>
                            <li><a class="filter_op range" data-id="not-in" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="datepicker input-group-btn range">
                        <input type="text" placeholder="Select date range" class="form-control daterange">
                        <span id="daterange2" class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-btn dropdown open">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>Between</span><span class="caret"></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter_op range" data-id="between" href="#">between</a></li>
                            <li><a class="filter_op not_range" data-id="from" href="#">from</a></li>
                            <li><a class="filter_op not_range" data-id="to" href="#">to</a></li>
                            <li><a class="filter_op not_range" data-id="equal" href="#">is equal to</a></li>
                            <li><a class="filter_op range" data-id="not-in" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="datepicker input-group-btn not-range">
                        <input type="text" placeholder="Select date" data-format="yyyy-MM-dd" class="form-control">
                        <span class="input-group-addon"  id="daterange1">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
-->
            </li>
        </ul>
        <div class="control-buttons-block">
            <button class="button1" type="button" @click="resetFilters()">{{'Reset'|_}}</button>
            <button class="button2" type="button" @click="applyFilters()">{{'Apply Filters'|_}}</button>
        </div>
    </div>
</div>