<div class="option-box">
	<ol>
		<li v-for="opt in formatOptions">
			<label class="f-radio-block">
				<input type="radio" name="export" :value="opt.value" :checked="opt.value===type" class="f-input-radio"/>
				<span><i class="fa fa-circle" aria-hidden="true"></i></span>
				<span>{{opt.label|_}}</span>
			</label>
		</li>
	</ol>
	<div class="f-button-block text-right">
		<button class="button button1" type="button" @click="submit()">{{'Export'|_}}</button>
	</div>
	<div v-show="false">
		<iframe v-for="url in export_urls" :src="url"></iframe>
	</div>
</div>