<div class="dropdown filter">
    <a href="#" class="btn filter-toggle"><span>Filter</span><b class="caret"></b></a>
    <div class="dropdown-menu">
        <form class="select-filter">
            <select>
                <option>Order Date</option>
                <option>Order Total</option>
                <option>Payment State</option>
                <option>Order State</option>
                <option>Order State</option>
                <option>Order State</option>
                <option>Order State</option>
            </select>
            <button type="submit" class="button4">Add</button>
        </form>
        <ul class="filter-box">
            <li>
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button class="button5 dropdown-toggle filter-text-sub" data-toggle="dropdown" aria-expanded="true"><span>Between</span><span class="caret" data-></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter-op range" href="#">between</a></li>
                            <li><a class="filter-op not-range" href="#">from</a></li>
                            <li><a class="filter-op not-range" href="#">to</a></li>
                            <li><a class="filter-op not-range" href="#">is equal to</a></li>
                            <li><a class="filter-op range" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn not-range">
                        <input type="text" placeholder="Number" class="form-control js-number">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-btn dropdown">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>From</span><span class="caret" data-></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter-op range" href="#">between</a></li>
                            <li><a class="filter-op not-range" href="#">from</a></li>
                            <li><a class="filter-op not-range" href="#">to</a></li>
                            <li><a class="filter-op not-range" href="#">is equal to</a></li>
                            <li><a class="filter-op range" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="input-group-btn range">
                        <input type="text" data-type="from" placeholder="From" class="form-control js-number1">
                        <input type="text" data-type="to" placeholder="To" class="form-control js-number2">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-btn dropdown open">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>Between</span><span class="caret"></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter_op range" data-id="between" href="#">between</a></li>
                            <li><a class="filter_op not_range" data-id="from" href="#">from</a></li>
                            <li><a class="filter_op not_range" data-id="to" href="#">to</a></li>
                            <li><a class="filter_op not_range" data-id="equal" href="#">is equal to</a></li>
                            <li><a class="filter_op range" data-id="not-in" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="datepicker input-group-btn range">
                        <input type="text" placeholder="Select date range" class="form-control daterange">
                        <span id="daterange2" class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-btn dropdown open">
                        <button class="button5 dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><span>Between</span><span class="caret"></span></button>
                        <ul class="dropdown-menu filter-sub">
                            <li><a class="filter_op range" data-id="between" href="#">between</a></li>
                            <li><a class="filter_op not_range" data-id="from" href="#">from</a></li>
                            <li><a class="filter_op not_range" data-id="to" href="#">to</a></li>
                            <li><a class="filter_op not_range" data-id="equal" href="#">is equal to</a></li>
                            <li><a class="filter_op range" data-id="not-in" href="#">not in</a></li>
                        </ul>
                    </div>
                    <div class="datepicker input-group-btn not-range">
                        <input type="text" placeholder="Select date" data-format="yyyy-MM-dd" class="form-control">
                        <span class="input-group-addon"  id="daterange1">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="control-buttons-block">
            <button class="button1" type="button">Reset</button>
            <button class="button2" type="button">Apply Filters</button>
        </div>
    </div>
</div>