<div class="dropdown columns" :class="{open:ddOpen(grid.id+'/panel-columns')}">
    <a href="#" class="btn filter-toggle" @click.prevent.stop="ddToggle(grid.id+'/panel-columns')"><span>Columns</span><b class="caret"></b></a>
    <div class="dropdown-menu">
        <ol class="ui-sortable">
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Action</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Order Date</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Discount</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Internal ID</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Order Total</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Overall State</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>ID</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Due</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Payment State</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Assisted by</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Paid</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Delivery State</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>ID</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Due</span></label>
            </li>
            <li><i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                <label>
                    <input type="checkbox" name="" /><span><i class="fa fa-check" aria-hidden="true"></i></span><span>Payment State</span></label>
            </li>
        </ol>
    </div>
</div>