<form method="post" action="{{ APP.href('promo/add') }}">
    <label>{{ 'Coupon Code:'|_ }}
        <input type="text" name="promo[coupon_code]">
    </label>
    <button type="submit">{{ 'Apply'|_ }}</button>
</form>