{% set cnt = THIS.get('cnt') ?: 6 %}
{% set popular = APP.instance('Sellvana_Catalog_Frontend').getPopularProducts(cnt) %}

{% if popular %}
    <div class="f-widget f-widget-featured-prods f-prod-listing f-prod-listing-grid f-widget-popular-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Popular Products'|_ }}</strong>
        </header>
        <div class="f-widget-content">
            {{ THIS.view('catalog/product/grid-tiles').set({
                lg_columns: cnt,
                md_columns: cnt,
                sm_columns: 4,
                xs_columns: 2,
                products: popular,
                simple_view: true,
                list_name: 'Popular Products',
            }) | raw }}
        </div>
    </div><!-- /.f-widget-featured-prods -->
{% endif %}
