{% set popular = APP.instance('Sellvana_Catalog_Frontend').getPopularProducts(THIS.get('cnt')) %}

{% if popular %}
    <div class="f-widget f-widget-featured-prods">
        <header class="f-widget-header">
            <strong class="f-widget-title">{{ 'Popular Products'|_ }}</strong>
        </header>

        <div class="f-widget-content">
            {{ THIS.view('catalog/product/grid-tiles').set({
                products: popular,
                simple_view: true,
                list_name: 'Popular Products',
            }) | raw }}
        </div>
    </div><!-- /.f-widget-featured-prods -->
{% endif %}
