
/* WIDGET: Admin bar */
.admin-toolbar-wrapper {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:5000;
}
.admin-toolbar-wrapper .admin-toolbar {
    border:1px solid #e6e6e6;
    background: #ffccaa;
    padding:5px 5px 6px;
}
.admin-toolbar-wrapper + script + .page-wrapper { margin-top:20px; }
.admin-toolbar-wrapper .avatar { margin:0 5px 3px; border-radius:4px; }
