<div>
	<div class="payment-info">
		<div class="icon">
			<i class="fa fa-credit-card-alt" aria-hidden="true"></i>
		</div>
		<div class="data">
			<span>Payment:</span>
			<p>Unpaid</p>
		</div>
	</div>
	<div class="total-info">
		<div class="icon">
			<i class="fa fa-money" aria-hidden="true"></i>
		</div>
		<div class="data">
			<span>Grand Total:</span>
			<p>$1,548.40</p>
		</div>
	</div>
	<div class="delivery-info">
		<div class="icon">
			<i class="fa fa-truck" aria-hidden="true"></i>
		</div>
		<div class="data">
			<span>Delivery:</span>
			<p>Unpaid</p>
		</div>
	</div>
	<div class="overall-info">
		<div class="icon">
			<i class="fa fa-line-chart" aria-hidden="true"></i>
		</div>
		<div class="data">
			<span>Overall Status</span>
			<p>Canceled</p>
		</div>
	</div>
</div>