{% set prod = THIS.get('product') %}
{% set customFields = APP.instance('Sellvana_CatalogFields_Model_ProductFieldData').getProductFieldSetData([prod.id()]) %}

{% if customFields %}
    <div class="f-tab-heading">
        <h5 class="f-tab-title">{{ 'Additional Info'|_ }}</h5>
    </div>
    {% for cf in customFields[prod.id()] %}
        <div class="form-group" style="overflow: hidden">
            <label class="col-md-2 control-label">{{ cf.set_name |_ }}</label> <br>
            {% for field in cf.fields %}
                <div class="col-md-12">
                    <label class="control-label">{{ field.field_name ~": "~ field.value |_ }}</label>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}