<html>
<head>
    {{ THIS.view('head') | raw }}
    <script>
        require(['jquery'], function($) {
            $.get("{{ APP.href('marketclient/site/request_nonce') }}", function(response) {
//document.write(response.setup_url); return;
                location.href = response.setup_url;
                //window.open(response.setup_url, 'FCom_MarketClient');
                //$('#market-remote-container').html('<iframe width="100%" height="100%" src="' + response.setup_url + '"></iframe>');
            });
        })
    </script>
</head>
<body style="padding:40px; text-align:center;">
    <h2>{{ 'Please wait, establishing secure connection to marketplace...'|_ }}</h2>
    <!--<div id="market-remote-container" style="height:100%"></div>-->
</body>
