<style>
    #multilang-field-{{ config.id }} .select2-container .select2-choice {
        height: 33px;
        width: 150px;
        font-size: 0.8em;
    }
</style>

{% set config = THIS.get('config') %}

<script type="text/javascript">
    require(['underscore', 'react', 'griddle.fcomLanguage'], function(_, React, FComMultiLanguage) {
        var config = {{ UTIL.toJSON(config) | raw }};
        var defaultLangs = [];
        if (config.defaultLangs) {
            defaultLangs = _(config.defaultLangs).map(function (locale, i) {
                return {
                    id: locale,
                    text: locale
                };
            });
        }

        var containerEle = document.getElementById('multilang-field-{{ config.id }}');
        React.unmountComponentAtNode(containerEle);
        React.render(
            React.createElement(FComMultiLanguage, {
                id: config.id,
                inputType: config.inputType,
                availLangs: config.availLangs ? JSON.parse(config.availLangs) : [],
                modalConfig: config.modalConfig,
                select2Config: config.select2Config || {},
                defaultLangs: defaultLangs
            }), containerEle
        );
    });
</script>

<div id="multilang-field-{{ config.id }}"></div>