{% set config = THIS.get('config') %}

<script type="text/javascript">
    require(['underscore', 'react', 'griddle.fcomLanguage'], function(_, React, FComMultiLanguage) {
        var config = {{ UTIL.toJSON(config) | raw }};
        var containerEle = document.getElementById('multilang-field-{{ config.id }}');

        React.render(
            React.createElement(FComMultiLanguage, {
                id: config.id,
                availLangs: config.availLangs ? JSON.parse(config.availLangs) : [],
                modalConfig: config.modalConfig,
                select2Callback: config.select2Callback
            }), containerEle
        );
    });
</script>

<div id="multilang-field-{{ config.id }}"></div>