{% set fieldSetsCtrl = APP.instance('FCom_CustomField_Admin_Controller_FieldSets') %}

<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h1 class="pull-left">
                <i class="icon-file"></i>
                <span>{{ "FIeld Sets" |_ }}</span>
            </h1>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="box">
        <div class="box-content">
            {{ THIS.view('jqgrid').set('config', fieldSetsCtrl.fieldSetsGridConfig())|raw }}
        </div>
    </div>

    <div class="box">
        <div class="box-content">
            {{ THIS.view('jqgrid').set('config', fieldSetsCtrl.fieldsGridConfig())|raw }}
        </div>
    </div>
</div>

<script>
    function updateFieldSet(subgrid) {
        var grid = subgrid.parent().closest('.ui-jqgrid-btable'), data = subgrid.jqGrid('getRowData');
        var fields = [], id = subgrid.attr('id').match(/_([0-9]+)_/)[1];
        for (i=0; i<data.length; i++) {
            fields.push(data[i].id);
        }
        $.post('#{BApp::href('customfields/fieldsets/set_field_grid_data')}',
                {set_id:id, field_ids:fields.join(',')},
                function(data, status, xhr) {
                    grid.jqGrid('setRowData', id, {field_codes:data.field_codes});
                }
        );
    }

    require(['jquery'], function($) {
        $(function() {
            /*
            var linkedProductslayout = $('#fieldsets-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth: '40%',
                west__spacing_open: 20,
                west__closable: false,
                triggerEventsOnLoad: true,
                onresize: function (pane, $Pane, paneState)
                {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function (index)
                    {
                        if (!this.id.match(/_t$/)) {
                            $(this).setGridWidth(paneState.innerWidth - 20);
                        }
                    });
                }
            });
            */
        })
    })
</script>