<div class="f-login-container">
	<img :src="assetUrl('FCom_AdminSPA', 'img/logo_blue.png')" alt="" />
	<div>
		<form class="f-form-container">
			<p>{{'Welcome, please sign in'|_}}</p>
			<div class="f-form-group row">
				<label class="col-md-12 f-form-label" for="username">{{'Username'|_}}</label>
				<input type="text" v-model="username" class="f-input" @keyup.enter="submit" id="username">
			</div>
			<div class="f-form-group row">
				<label class="col-md-12 f-form-label" for="password">{{'Password'|_}}</label>
				<input type="password" v-model="password" class="f-input" @keyup.enter="submit" id="password">
			</div>
			<div class="f-form-group row">
				<label>
					<div class="col-xs-4">
						<checkbox v-model="remember_me"></checkbox>
					</div>
					<span class="col-xs-8 f-form-label">{{'Remember me'|_}}</span>
				</label>
			</div>
			<router-link to="/password-recover" class="f-login-link">{{'Forgot your password?'|_}}</router-link>
			<div class="f-buttons-block text-right">
				<button @click="submit" class="button button1" v-ladda="{on:logging_in}">Sign in</button>
			</div>
		</form>
	</div>
</div>