<div class="login-container">
	<img :src="assetUrl('FCom_AdminSPA', 'img/logo-big.png')" alt="" />
	<form>		
		<p><t>Welcome, please sign in</t></p>
		<label>
			<span><t>Username</t></span>
			<input type="text" v-model="username">
		</label>
		<label>
			<span><t>Password</t></span>
			<input type="password" v-model="password">
		</label>
		<router-link to="/password-recover"><t>Forgot your password?</t></router-link>
		<div class="control-buttons-block">
			<input type="button" @click="submit" value="Sign in" class="button button6">
		</div>
	</form>
</div>