<div>
      <div class="row">
            <div class="col-md-12">
                  <div class="f-buttons-block text-right">
                        <button type="button" class="button button1" @click="save()">{{'Save'|_}}</button>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="f-content-block">
                        <div class="f-block-title">
                              <p class="f-block-title__text">{{'Account Information'|_}}</p>
                        </div>
                        <fieldset class="f-form-container">
                              <sv-comp-form-field
                                    v-for="f in form.config.fields" :key="f.name"
                                    v-if="f.tab==='account'"
                                    v-show="formFieldShowCond(f)"
                                    :form="form" :field="f.name"
                                    v-model="form[f.model][f.name]"
                                    @event="processFieldEvent"></sv-comp-form-field>
                        </fieldset>
                  </div>
            </div>
            <div class="col-md-6">
                  <div class="f-content-block"></div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-6">
                  <div class="f-content-block">
                        <div class="f-block-title">
                              <p class="f-block-title__text">{{'Personal Information'|_}}</p>
                        </div>
                        <fieldset class="f-form-container">
                              <sv-comp-form-field
                                    v-for="f in form.config.fields" :key="f.name"
                                    v-if="f.tab==='personal'"
                                    v-show="formFieldShowCond(f)"
                                    :form="form" :field="f.name"
                                    v-model="form[f.model][f.name]"
                                    @event="processFieldEvent"></sv-comp-form-field>
                        </fieldset>
                  </div>
            </div>
      </div>
</div>