<th class="dropdown selector-dropdown" :class="{open:ddOpen(grid.config.id+'/row-select-header')}">
  <!--  <a href="#" @click.prevent="ddToggle(grid.config.id+'/row-select-header')" class="dropdown-toggle" data-toggle="dropdown">
        {{(showSelectedOnly ? 'Selected' : 'All')|_}}
        <span v-if="selectedCnt">({{selectedCnt}})</span>
    </a>-->
	<a href="#" @click.prevent.stop="ddToggle(grid.config.id+'/row-select-header')" class="dropdown-toggle" data-toggle="dropdown">
		<div class="action-button">
			<label><input type="checkbox" :checked="selectedCnt"><span><i aria-hidden="true" class="fa fa-check"></i></span></label>
			<span v-if="selectedCnt">{{selectedCnt}}</span>
			<span class="caret-back"><b class="caret"></b></span>
		</div>
	</a>
	<ul class="dropdown-menu" :class="{open:ddOpen(grid.config.id+'/row-select-header')}">
		<li v-if="hasUnselectedOnPage"><a href="#" @click.prevent="selectVisible"><label><input type="checkbox" checked><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Select Visible'|_}}</label></a></li>
		<li v-if="hasSelectedOnPage"><a href="#" @click.prevent="unselectVisible"><label><input type="checkbox"><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Unselect Visible'|_}}</label></a></li>
		<li v-if="selectedCnt"><a href="#" @click.prevent="unselectAll"><label><input type="checkbox"><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Unselect All'|_}}</label></a></li>
		<!--<li><a href="#" @click.prevent="viewAll"><label>{{'View All'|_}}</label></a></li>-->
		<!--<li><a href="#" @click.prevent="viewSelected"><label>{{'View Selected'|_}}</label></a></li>-->
	</ul>
</th>