<th>
	<div class="f-dropdown f-selector-dropdown" :class="{open:ddOpen(grid.config.id+'/row-select-header')}">
	  <!--  <a href="#" @click.prevent="ddToggle(grid.config.id+'/row-select-header')" class="dropdown-toggle" data-toggle="dropdown">
		  {{(showSelectedOnly ? 'Selected' : 'All')|_}}
		  <span v-if="selectedCnt">({{selectedCnt}})</span>
	    </a>-->
		<a href="#" @click.prevent.stop="ddToggle(grid.config.id+'/row-select-header')" class="f-dropdown__toggle" data-toggle="dropdown">
			<div class="f-action-button-s">
				<label class="f-selector-dropdown__label"><input type="checkbox" :checked="selectedCnt" class="f-input-checkbox f-input-checkbox-s"><span><i aria-hidden="true" class="fa fa-check"></i></span></label>
				<span v-if="selectedCnt">{{selectedCnt}}</span>
				<span class="caret-back"><b class="caret"></b></span>
			</div>
		</a>
		<ul class="f-dropdown__menu" :class="{open:ddOpen(grid.config.id+'/row-select-header')}">
			<li v-if="hasUnselectedOnPage" class="f-dropdown__menu__item"><a href="#" @click.prevent="selectVisible" class="f-dropdown__menu__link"><label><input type="checkbox" checked class="f-input-checkbox f-input-checkbox-b"><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Select Visible'|_}}</label></a></li>
			<li v-if="hasSelectedOnPage" class="f-dropdown__menu__item"><a href="#" @click.prevent="unselectVisible" class="f-dropdown__menu__item"><label><input type="checkbox" class="f-input-checkbox f-input-checkbox-b"><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Unselect Visible'|_}}</label></a></li>
			<li v-if="selectedCnt" class="f-dropdown__menu__item"><a href="#" @click.prevent="unselectAll" class="f-dropdown__menu__item"><label><input type="checkbox" class="f-input-checkbox f-input-checkbox-b"><span><i aria-hidden="true" class="fa fa-check"></i></span>{{'Unselect All'|_}}</label></a></li>
			<!--<li><a href="#" @click.prevent="viewAll"><label>{{'View All'|_}}</label></a></li>-->
			<!--<li><a href="#" @click.prevent="viewSelected"><label>{{'View Selected'|_}}</label></a></li>-->
		</ul>
	</div>
</th>