{% set customerCtrl =  APP.instance('FCom_Customer_Admin_Controller_Customers') %}
<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Customers"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        <p style="margin-left: 10px;margin-bottom: 15px">{{ "No results found for Customers"|_ }}</p>
    </div>
</div>
