.f-login-container {
	width: 30%;
	min-width: 500px;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, .03);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 50px;
	text-align: center;
	p {
		font-size: 22px;
		color: #0086c0;
		text-align: center;
		margin-bottom: 15px;
	}
	img {
		margin-bottom: 30px;
		width: 50%;
		min-width: 100px;
		max-width: 200px;
	}
	form {
		text-align: left;
		& > span {
			display: block;
			width: 80%;
			margin: 0 auto 20px;
			text-align: center;
			color: #000000;
		}
	}	
	.f-form-label {
		text-align: left;
	}
	.f-buttons-block {
		text-align: right;
	}
}
.f-login-link {
	color: #0086c0;
	display: inline-block;
	&:hover {
		color: #054e6d;
	}
}
@media (max-width: 767px) {
	.f-login-container {
		width: 80%;
		min-width: 300px;
		margin: 0 auto;
		padding: 20px 10px;
		p {
			font-size: 16px;
		}
		.f-buttons-block {
			text-align: center; 
		}
		.f-form-container {
			padding: 10px;
		}
	}
	.f-login-link {
		margin: 0 0 15px 0;
	}
}

@media (max-width: 767px) and (orientation: landscape) {
	.f-login-container {
		position: relative;
		top: 0;
		left: 0;
		margin: 0 auto;
		transform: translate(0);
	}
}