
.f-admin-container {
	min-height: 100%;
}

.f-admin-main-view {
	min-height: 100%;
	margin: 0;
	margin-left: 272px;
	margin-top: 118px;
	min-width: 276px;
	padding: 0px 15px 80px 0px;
	.nav {
		a:hover {
			color: #000;
		}
	}
}

.main-nav-closed {
	.f-admin-main-view {
		margin-left: 67px;
	}
}

@media (min-width: 768px) and (max-width: 1365px) {
	.f-admin-main-view {
		margin-top: 130px;
	}
	.main-nav-closed .f-admin-main-view {
		margin-left: 17px;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.f-admin-main-view {
		min-height: 100%;
		margin-right: 13px;
		margin-left: 13px;
		min-width: 276px;
		padding: 0px 0px 90px 0px;
	}
	.main-nav-closed {
		.f-admin-main-view {
			margin-left: 13px;
		}
	}
}

@media (max-width: 767px) {
	.f-admin-main-view {
		min-height: 100%;
		margin-right: 13px;
		margin-left: 13px;
		margin-top: 185px;
		min-width: 276px;
		padding: 0px 0px 90px 0px;
	}
	.main-nav-closed {
		.f-admin-main-view {
			margin-left: 13px;
		}
	}
}