.nav .dropdown {
    display: inline-block;
}

.content-block {
    background: #fff; 
    box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);
    border-radius: 2px;
	margin-bottom: 20px;
    .navbar {
        min-height: auto;
    }
}

.panel-header {
    background: #eee;
	border: 1px solid #fff;
    a {
        font-size: 14px;
        color: #000;
        padding: 8px 10px;
        display: inherit;
    }
}

.panel-container {
    padding: 8px 10px;
}