not{% set cart = THIS.get('cart') %}
<div class="page-checkout-review">
    <form action="{{APP.href('checkout')}}" method="post">
        <div class="col-checkout-review-left">
            <header class="page-title">
                <h1 class="title">{{'Review and Place Order'|_}}</h1>
            </header>
            {% if THIS.messagesHtml() %}
                <p class="error">{{ THIS.messagesHtml() | raw }}</p>
            {% endif %}
            <h2>{{'Review the information below then click "Place your order"' |_}}</h2>
            <div class="col2-set">
                <div class="col first">
                    <h4>{{ "Shipping to" |_}}</h4>
                    {{ THIS.get('shipping_address').as_html() | raw }}
                    {% if THIS.get('guest_checkout') %}
                        <small><a href="{{ APP.href('checkout/address?t=s') }}">{{ 'Change' |_ }}</a></small>
                    {% else %}
                        <small><a href="{{ APP.href('customer/address/choose?t=s') }}">{{ 'Change' |_ }}</a></small>
                    {% endif %}
                </div>
            {% if THIS.get('shipping_methods') %}
                <div class="col last">
                    <h4>{{ "Shipping Options" |_ }}:</h4>
                    <ul>
                        {% for shippingMethod, shippingClass in THIS.get('shipping_methods') %}
                        <li>{{ shippingClass.getDescription() }} ({{ shippingClass.getEstimate() }})
                            <ul>
                            {% for serviceKey, service in shippingClass.getServicesSelected() %}
                                <li style="margin-left: 20px;">
                                    <input type="radio" name="shipping" value="{{ shippingMethod ~ ':' ~ serviceKey }}"
                                    {{ shippingMethod == cart.get('shipping_method') and
                                            serviceKey == cart.get('shipping_service') ? 'checked' : '' }}> {{service}}</li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    <button type="submit" name="update" class="button btn-aux btn-sz1"><span>{{ "Apply changes" |_ }}</span></button>
                </div>
            {% endif %}
            </div>
            <div class="divider"></div>
            <div class="col2-set">
                <div class="col first">
                    <h4>{{ "Billing address" |_ }}</h4>
                    {% if cart.get('shipping_same') %}
                        <p>{{ 'Same as shipping' |_ }}</p>
                    {% else %}
                        {{ THIS.get('billing_address').as_html() | raw }}
                    {% endif %}

                    {% if THIS.get('guest_checkout') %}
                        <small><a href="{{ APP.href('checkout/address?t=b') }}">{{ "Change" |_ }}</a></small>
                    {% else %}
                        <small><a href="{{ APP.href('customer/address/choose?t=b') }}">{{ "Change" |_ }}</a></small>
                    {% endif %}
                </div>
                <div class="col last">
                    <h4>{{ "Payment method" |_ }}</h4>
                    {% if THIS.get('payment_method') %}
                        <small><a href="{{ APP.href('checkout/payment') }}">{{ "Change" |_ }}</a></small><br/>

                        <i>{{ THIS.get('payment_method').getName() }}</i><br/>
                        {{ THIS.get('payment_method').getCheckoutFormView().set('payment_details', THIS.get('payment_details')) | raw }}
                    {% else %}
                        <a href="/checkout/payment" style="color:red">{{ "Select payment method" |_ }}</a><br/>
                    {% endif %}
                </div>
            </div>
            <div class="divider"></div>
            <section class="data-table">
                <table>
                    <col width="500"/>
                    <col width="70"/>
                    <col width="70"/>
                    <col width="70"/>
                    <thead>
                        <tr>
                            <th class="a-left">{{ "Product" |_ }}</th>
                            <th class="a-right">{{ "Price" |_ }}</th>
                            <th class="a-center">{{ "Qty" |_ }}</th>
                            <th class="a-right">{{ "Subtotal" |_ }}</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for item in cart.items() %}
                    {% set p = item.product() %}
                    {% if p %}
                        <tr id="tr-product-{{p.get('id')}}">
                            <td class="a-left">
                                <span class="product-name"><a href="{{ p.url(THIS.get('category')) }}">{{ p.get('product_name') }}</a></span>
                            </td>
                            <td class="a-right">
                                <div class="price-box">
                                    {{ p.get('base_price') | currency }}
                                </div>
                            </td>
                            <td class="a-center">
                                <div class="price-box">
                                    {{ item.get('qty') | number_format }}
                                </div>
                            </td>
                            <td class="a-right">
                                <span class="price">{{ item.rowTotal() | currency }}</span>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                    </tbody>
                    <tfoot>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tfoot>
                </table>
            </section>
            <p><a href="{{APP.href('cart')}}">{{ "Need to change quantities or remove items?" |_ }}</a></p>

            {% if THIS.get('guest_checkout') %}
                <label for="#">{{ "Create an account?" |_ }}</label>
                <input type="checkbox" name="create_account" value="1" class="required"><br/>
                <label for="#">{{ 'E-mail' |_ }}</label>
                <input type="text" name="account[email]" value="<?=$this->billing_address->email?>" class="required"><br/>
                <label for="#">{{ "Password" |_ }}</label>
                <input type="password" name="account[password]" class="required" id="model-password"/><br/>
                <label for="#">{{ "Confirm Password" |_ }}</label>
                <input type="password" name="account[password_confirm]" class="required" equalto="#model-password"/><br/>
            {% endif %}
        </div>
        <!-- .col-checkout-left ends -->
        <div class="col-checkout-review-right">
            {% if THIS.get('totals') %}
            <div class="cart-totals">
                <div class="block-promo">
                    <header class="block-title">{{ "Coupon, discount or promo code" |_ }}</header>
                    <p><input type="text" name="coupon_code"><button type="submit" name="coupon_submit" class="button btn-aux btn-sz1"><span>{{ "Apply" |_ }}</span></button></p>
                </div>
                <table>
                {% for total in THIS.get('totals') %}
                    <tr class="{{ total.getRowClass() }}">
                        <td class="title">{{ total.getLabelFormatted() }}</td>
                        <td>{{ total.getValueFormatted() }}{% if total.getError() %}<br/>(<span class="error">{{ total.getError() }}</span>){% endif %}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}
            <ul class="checkout-btns">
                <li><button type="submit" name="place_order" value="new_order" class="button btn-sz2"><span>{{ "Place your order" |_ }}</span></button></li>
            </ul>
        </div>
        <!-- .col-checkout-right ends -->
    </form>
</div>
