<div class="block block-list block-viewed">
    <div class="block-title">
        <strong><span>{{ "Recently Viewed Products" | _ }}</span></strong>
    </div>
    <div class="block-content">
        <ol id="recently-viewed-items">
            <li class="item">
                <p class="product-name"><a href="tray-acrylic-pwd-3lb.html">Tray Acrylic Material white, pwd/liq, 3lb/16oz</a></p>
            </li>
        </ol>
    </div>
</div>