<div class="block">
    <div class="block-title">{{"We Recommend" | _ }}</div>
    <div class="block-content">
        <ul class="products-list">
            <li class="item">
                <a href="#" class="product-image"><img src="" alt="A2/B2, Compact Tip Refills, 0.25 gm/ea, pk20, 7837" width="160" height="160"/></a>
                <h4 class="product-name"><a href="#">A2/B2, Compact Tip Refills, 0.25 gm/ea, pk20, 7837</a></h4>
                <div class="price-box">
                    {{"As low as" | _ }} $29.72
                </div>
                <p class="product-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </li>
            <li class="item">
                <a href="#" class="product-image"><img src="" alt="A2/B2, Compact Tip Refills, 0.25 gm/ea, pk20, 7837" width="160" height="160"/></a>
                <h4 class="product-name"><a href="#">A2/B2, Compact Tip Refills, 0.25 gm/ea, pk20, 7837</a></h4>
                <div class="price-box">
                    {{"As low as" | _ }} $29.72
                </div>
                <p class="product-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum.</p>
            </li>
        </ul>
    </div>
</div>