{% if THIS.get('mode') == 'sidebar' %}

    <div class="block">
        <div class="block-title">{{ "Weekly Specials" | _ }}</div>
        <div class="block-content">

        </div>
    </div>

{% else %}

    <div class="block block-weekly-specials">
        <div class="block-title">{{ "Weekly Specials" | _ }}</div>
        <div class="block-content">

        </div>
    </div>
{% endif %}