<div class="row">
    <div class="col-sm-10">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn">Reset</button>
                <button class="btn">Clone</button>
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
        <table>
            <tr>
                <td style='padding-right:20px;'>
                    <select id="product-edit-available-sets" class="select2 form-control" style="width:150px;" placeholder='Choose fieldset...'>
                        {{ UTIL.optionsHtml(APP.instance('FCom_CustomField_Model_Set').as_values('set_name')) | raw }}
                    </select>

                </td>
                <td style='padding-right:70px;'>
                    <button class="btn btn-primary" id="product-edit-add-set" type="button">Add Field Set</button>

                </td>
                <td style='padding-right:20px;'>
                    <select id="product-edit-available-fields" class="select2 form-control" style="width:150px;" placeholder='Choose field...'>
                        {{ UTIL.optionsHtml(APP.instance('FCom_CustomField_Model_Field').as_values('field_name')) | raw }}
                    </select>

                </td>
                <td>
                    <button class="btn btn-primary" type="button" id="product-edit-add-field">Add Field</button>
                </td>
            </tr>
        </table>

        <div class="box box-bordered blue-border box-nomargin">
            <div class="box-header box-header-small blue-background">
                <div class="title">Small &amp; Bordered</div>
                <div class="actions">
                    <a href="#" class="btn box-remove btn-xs btn-link"><i class="icon-remove"></i>
                    </a>

                    <a href="#" class="btn box-collapse btn-xs btn-link"><i></i>
                    </a>
                </div>
            </div>
            <div class="box-content">
                Explicabo voluptate eos ipsam et recusandae quasi laudantium est velit nihil perspiciatis minima corrupti neque sint dolores lorum consequatur voluptatem
            </div>
        </div>
	</div>
</div>

