%fieldset.adm-section-group

    %table(width="90%")
        %tr
            %td(width="50%")
                - echo $this->view('jqgrid')->set('config', FCom_CustomField_Admin_Controller_Products::i()->fieldsetsGridConfig())
            %td(width="50%")
                - echo $this->view('jqgrid')->set('config', FCom_CustomField_Admin_Controller_Products::i()->fieldsGridConfig())
                
    #custom-fields-partial(data-src="#{BApp::href('customfields/products/fields_partial/?id='.$this->model->id)}")
        - echo $this->view('customfields/products/fields-partial')->set('model', $this->model)

:javascript
    function addCustomFieldSets() {
        var sel = $(this).jqGrid('getGridParam', 'selarrrow');
        console.log(sel);
        partial('#custom-fields-partial', {params:{add_fieldset_ids:sel}});
    }
    function addCustomFields() {
        var sel = $(this).jqGrid('getGridParam', 'selarrrow');
        console.log(sel);
        partial('#custom-fields-partial', {params:{add_field_ids:sel}});
    }

:css
    #pager-product_fieldsets .ui-pg-table,
    #pager-product_fields .ui-pg-table { table-layout:auto !important; }
