{% set fieldSetModel = APP.instance('FCom_CustomField_Model_Set') %}
{% set ctrl = APP.instance('FCom_CustomField_Admin_Controller_Products') %}
<div class="row">
    <div class="col-sm-10">
        <div class="pull-right">
            <div class="btn-group">
                <button class="btn">Reset</button>
                <button class="btn">Clone</button>
                <button class="btn btn-danger">Delete</button>
                <button class="btn btn-primary">Save</button>
            </div>
        </div>
        <table>
            <tr>
                <td style='padding-right:20px;'>
                    <select id="sel_sets" class="select2 form-control" style="width:150px;" placeholder='Choose fieldset...'>
                        {{ UTIL.optionsHtml(fieldSetModel.as_values('set_name')) | raw }}
                    </select>

                </td>
                <td style='padding-right:70px;'>
                    <button class="btn btn-primary" id="btn_add_set" type="button">Add a Field Set</button>

                </td>
                <td style='padding-right:20px;'>
                    <select id="sel_fields" class="select2 form-control" style="width:150px;" placeholder='Choose field...'>
                        {{ UTIL.optionsHtml(APP.instance('FCom_CustomField_Model_Field').as_values('field_name')) | raw }}
                    </select>

                </td>
                <td>
                    <button class="btn btn-primary" type="button" id="btn_add_field">Add a Field</button>
                </td>
            </tr>
        </table>
        <hr>
        <div id='fields_list'/>
        <script type="template" id="fieldset-template">
            <div class="box-header box-header-small green-background">
                <div class="title"><%- rc.set_name %></div>
                <div class="actions">
                    <a href="#" class="btn box-remove btn-xs btn-link btn-edit">Edit
                    </a>

                    <a href="#" class="btn box-collapse btn-xs btn-link btn-remove">Remove
                    </a>
                </div>
            </div>
            <div class="box-content">
                <!-- field template here -->
            </div>
        </script>
</div>

<script>
var fieldSetAry = {{ ctrl.fieldsetAry() | raw }};
var fieldsAry = {{ ctrl.fieldAry() | raw }};

require(['backbone', 'underscore', 'jquery', 'select2'], function(Backbone, _, $) {

    $('#btn_add_set').click(function() {

    });


    $('#sel_sets').select2();
    $('#sel_fields').select2();

    var CustomField = {
        Models: {},
        Collections: {},
        Views: {}
    };

    CustomField.Models.FieldSet = Backbone.Model.extend({
    });

    CustomField.Collections.FieldSetCollection = Backbone.Collection.extend({

    });

    CustomField.Views.FieldSetView = Backbone.Model.extend({
        className: "box box-borderd green-border box-nomargin",
        template: _.template($('#fieldset-template').html()),
        render: function() {
            this.$el.html(this.template(this.model.toJSON()));
            return this;
        }
    });


    CustomField.Views.MainView = Backbone.Model.extend({
        el: '#fields_list',
        _addSetView: function(set) {
             var setView = new  CustomField.Views.FieldSetView({
                model: set
            });
            this.$el.append(setView.render().el);
        },
        render: function() {
            this.collection.each(this._addSetView, this);
        }
    });

    var fieldSets = new CustomField.Collections.FieldSetCollection();

});
</script>
