- $c = $this->model

.accordion.accordion-blue.panel-group#settings-FCom_Checkout
    .panel.panel-default
        .panel-heading
            %a.accordion-toggle = $this->_('Store Origin')
        .panel-collapse.collapse#settings-FCom_Checkout-group0
            .panel-body
                .form-group
                    %label.col-md-2.control-label = $this->_('Store City')
                    .col-md-5
                        %input.form-control(size="50" type="text" name="config[modules][FCom_Checkout][store_city]"
                            value="#{$c->get('modules/FCom_Checkout/store_city')}")
                .form-group
                    %label.col-md-2.control-label = $this->_('Store State / Region')
                    .col-md-5
                        %input.form-control(size="50" type="text" name="config[modules][FCom_Checkout][store_region]"
                            value="#{$c->get('modules/FCom_Checkout/store_region')}")
                .form-group
                    %label.col-md-2.control-label = $this->_('Store Zip / Postal Code')
                    .col-md-5
                        %input.form-control(size="50" type="text" name="config[modules][FCom_Checkout][store_postcode]"
                            value="#{$c->get('modules/FCom_Checkout/store_postcode')}")