<div class="container">
    <br>
    <h2 class="error404"><span>Error 404!</span></h2> <br><br>

    <div class="container centeralign">

        <img src="{{ APP.src('@FCom_FrontendTheme1/img/error-404.png') }}" alt="" title="">
        <br><br><br>

        <h2 class="font48">  We are Sorry !!!</h2>
        <h2>The page you are looking for could not found. <br> Please Check Top Menu.</h2>
    </div>
</div>

