{% set tags = APP.instance('Sellvana_Blog_Model_Tag').getTagCounts() %}
{% if tags %}
    <div class="widget">
        <header class="widget-header">
          <strong class="widget-title">{{ 'Tags'|_ }}</strong>
        </header>
        <ul class="blog-tags-list">
        {% for tag in tags %}
            <li>
                <a href="{{ tag.getUrl() }}"><label class="label label-default">{{ tag.get('tag_name') }}</label> ({{ tag.get('cnt') }})</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}