<div class='box-content' style="height: 300px; overflow-y: scroll">
    <table class="table table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{ "ID"|_ }}</th>
            <th>{{ "First Name"|_ }}</th>
            <th>{{ "Last Name"|_ }}</th>
            <th>{{ "Email"|_ }}</th>
            <th>{{ "Status"|_ }}</th>
            <th>{{ "Created"|_ }}</th>
        </tr>
        </thead>
        <tbody>
            <tr v-if="!widget.data.customers">
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
            <tr v-else v-for="customer in widget.data.customers">
                <td>{{ customer.id|_ }}</td>
                <td>{{ customer.firstname|_ }} </td>
                <td>{{ customer.lastname|_ }}</td>
                <td>{{ customer.email|_ }}</td>
                <td>{{ customer.status|_ }}</td>
                <td>{{ customer.create_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
