{% set c = THIS.get('model') %}
{% set mname = MODULES.currentModuleName() %}
{% set baseHtmlName = "config[modules][" ~ mname ~ "]" %}
{% set baseConfigPath = "modules/" ~ mname %}
{% set prefix = "sample_" %}

<h1>{{ mname }}</h1>