<div class='row'>
    <div class='col-sm-12'>
        <div class='box-content box-statistic'>
            <h3 class='title text-error'>0</h3>
            <small>{{ 'Unique'|_ }}</small>
            <div class='text-error icon-user align-right'></div>
        </div>
        <div class='box-content box-statistic'>
            <h3 class='title text-warning'>0</h3>
            <small>{{ 'Pageviews'|_ }}</small>
            <div class='text-warning icon-book align-right'></div>
        </div>
        <div class='box-content box-statistic'>
            <h3 class='title text-primary'>0</h3>
            <small>{{ 'Average time'|_ }}</small>
            <div class='text-primary icon-time align-right'></div>
        </div>
    </div>
</div>
