!!!
- echo '<html '.$this->getHtmlAttributes().'>'
%head
    - echo $this->hook('head')
    -#
        :javascript
            window.appConfig = {
                baseHref: '#{BApp::href()}'
            }
%body(class="#{$this->bodyClass}")
    -# .top-message
        -# Something happened here!

    - if (FCom_Admin_Model_User::i()->isLoggedIn())
        .fcom-admin-container#root-layout
            - echo $this->view('admin/header')
            .fcom-admin-main#main-container
                - echo $this->hook('main')
    - else
        .fcom-admin-container#root-layout
            - echo $this->hook('main')

    - echo $this->hook('before_body_end')
- echo '</html>'
