{% set orderTotal = APP.instance('Sellvana_Sales_Admin_Dashboard').getOrderTotal() %}

<div class='row'>
    {% for order in orderTotal %}
        {% set label = order.get('state_label') ?: '(No custom state)' %}
        <div class='col-sm-6'>
            <div class='box-content box-statistic'>
                <h3 class='title text-error dashboard-order-total' data-id="{{ order.id }}">{{ order.order|_ }}</h3>
                <small>{{ label }}</small>
                <div class='text-error icon-inbox align-right'></div>
            </div>
        </div>
    {% endfor %}
</div>
