%header.adm-page-title
    %span.title = $this->_('Upload and Import Customers')
    .btns-set

#import-accordion
    %h3
        %a(href="#") = $this->_('Step 1: Upload or select file')
    %div
        %form(method="post")
            - echo $this->view('jqgrid')->set('config', FCom_Customer_Admin_Controller_CustomersImport::i()->customerFilesGridConfig())
            %br
            %button.btn.st1.sz2#step1-next(type="button") = $this->_('Select file and go to next step')

    %h3
        %a(href="#") = $this->_('Step 2: Configure columns and other options')
    %div
        #import-config
    %h3
        %a(href="#") = $this->_('Step 3: Proceed with Import')
    %div
        #import-status
    %h3
        %a(href="#") = $this->_('Step 4: Review Import results')
    %div
        #import-review

:javascript
    $(function() {
        $('#import-accordion').accordion({});

        importsGrid = new FCom.Admin.MediaLibrary({
            grid:'#import_files',
            url:'<?=BApp::href('media/grid')?>',
            folder:'storage/import/customers'
        });

        $('#step1-next').click(function(ev) {
            var sel = importsGrid.getSelectedRows();
            if (!sel.length) {
                alert('Please select one file');
                return;
            }
            var row = $('#import_files').jqGrid('getRowData', sel[0]);
            $('#import-accordion').accordion('activate', 1);
            $('#import-config').html('Please wait loading file configuration...');
            $.getJSON('<?=BApp::href('customers/import/config')?>?file='+encodeURIComponent(row.file_name), function(data, status, xhr) {
                $('#import-config').html(data.html);
            });
        });

        $('#step2-next').live('click', function(ev) {
            $('#import-accordion').accordion('activate', 2);
            $('#import-status').html('Please wait starting import...');
            $.post('<?=BApp::href('customers/import/config')?>', $('#import-columns-form').serialize(), function(data, status, xhr) {
                $('#import-status').html(data);
            });
        });

        $('#step3-start').live('click', function(ev) {
            $('#import-status').load('<?=BApp::href('customers/import/status')?>?start=true');
        });

        $('#step3-stop').live('click', function(ev) {
            $.post('<?=BApp::href('customers/import/stop')?>', $('#import-columns-form').serialize(), function(data, status, xhr) {
                $('#import-status').html(data);
            });
        });
    });
