.fcom-chat-search
	width 85%
	margin 8px auto

	input[type="text"]
		border-radius 0
		padding-right 35px

	div
		border-radius 0
		background-color whiteColor

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		position absolute
		top 6px
		right 0px
		background-color transparent

.fcom-chat-gravatar
	margin 0px 10px

	img
		width 50px
		height 50px

.fcom-chat-name
	font-weight bold
	color lightBlueColor

.fcom-chat-status-online
	chatStatus(whiteColor, greenColor, 3px, 10px)

.fcom-chat-status-offline
	chatStatus(greenColor, whiteColor, 3px, 10px)
	border 1px solid greenColor

.fcom-chat-messages
	color greenColor
	width 200px

.fcom-chat-status
	width 250px
	float right
	padding-top 14px