// Dropdown icons
.fcom-dropdown
	height headerHeight
	width dropdownWidth
	display inline-block
	text-align center

	[class^='fcom-icon'],
	[class*='fcom-icon']
		margin 15px auto 0 auto

	img
		width 50px
		height 50px

	&:hover
		background url(dropdownHoverUrl) no-repeat bottom
		cursor pointer

.fcom-dropdown-avatar
	vertical-align top

	.fcom-dropdown
		padding-top 5px

.fcom-dropdown-menu
	color blackColor
	border none
	background none
	text-align left
	border-radius 0px
	border 1px solid borderGrayColor
	padding 0px 0px
	margin-top 15px

	li
		height headerHeight
		padding 5px
		background-color whiteColor
		border-bottom 1px solid borderGrayColor
		white-space nowrap
		width 100%
		display inline-block

		&:hover
			background-color: borderGrayColor

	[class^='fcom-icon'],
	[class*='fcom-icon']
		display inline-block

// Dropdown list
.fcom-dropdown-menu-label
	position relative
	top 15px
	padding 0px 0px 0px 10px
	display inline-block
	vertical-align top

.fcom-dropdown-menu-date
	position relative
	float right
	top 19px
	margin 0px 60px 0px 0px
	display inline-block
	color lightBlueColor
	font-size 0.8em

// List width
.fcom-dropdown-search
	width 600px
	top 22px

.fcom-dropdown-store
	width 250px

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		margin 12px 0px 0px 16px
	
.fcom-dropdown-chat
	width 500px

.fcom-dropdown-notification
	width 500px

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		margin 12px 0px 0px 16px

.fcom-dropdown-user
	width 250px

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		margin 12px 0px 0px 16px

// Others
.fcom-dropdown-inverted
	.fcom-dropdown-menu
		left auto
		right 0

	.fcom-dropdown-arrow
		right 14px

.fcom-dropdown-arrow
	background url(dropdownArrowUpUrl) no-repeat
	width 25px
	height 25px
	position absolute
	margin-left 20px
	top -13 // Can't avoid >.<