.fcom-header
	userSelection(none)
	height headerHeight
	background-color darkGrayColor
	position fixed
	top 0
	width 100%

	.fcom-header-brand
		padding 17px 10px 0 10px

	.fcom-header-navs
		text-align right

	&> [class^='col-'],
	&> [class*='col-']
		height headerHeight

.fcom-header-navs
	.dropdown
		display inline-block

.fcom-header-placeholder
	userSelection(text)
	display inline-block
	margin 0px 10px
	color whiteColor
	padding-top 20px
	vertical-align top

	div
		position relative

.fcom-header-placeholder-time
	padding-top 15px