.fcom-multilevel
	height headerHeight
	padding-top 15px
	display inline

	&:hover
		cursor pointer

.fcom-multilevel.open
	.fcom-icon-menu-close
		background-position 0px -93px

.fcom-multilevel-menu
	display none
	height 133px
	position fixed
	width 100%
	left 0px
	top 60

.fcom-multilevel-menu-firstLevel
	margin 0px 0px
	background-color grayColor

.fcom-multilevel-menu-secondLevel
	padding-left 35px
	top 193px
	background-color lightGrayColor

.fcom-multilevel-menu-round
	round(80px, darkGrayColor, darkGrayColor)
	margin-top 8px
	padding 17px 0px 0px 17px
	z-index 10

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		top 0px
		left 19px

.fcom-multilevel-menu-round-small
	round(34px, darkBlueColor, darkBlueColor)
	padding 8px 0px 0px 8px
	margin-left 50px
	z-index 11

	[class^='fcom-icon'], 
	[class*='fcom-icon']
		top 0px
		left 8px

.fcom-multilevel-menu-nav
	display inline-block
	margin 0px 10px
	padding-top 5px
	width 95px
	height 108px
	list-style none

	&:hover
		.fcom-multilevel-menu-round, 
		.fcom-multilevel-menu-round-small
			border 2px solid lightBlueColor

.fcom-multilevel-menu-label 
	color whiteColor
	position absolute
	margin-top 90px
	width 95px
	padding-right 15px
	text-align center

.fcom-multilevel-menu-nav.selected
	&> .fcom-multilevel-menu-round
		border 2px solid greenColor

	&> .fcom-multilevel-menu-round:hover
		border 2px solid lightBlueColor

.fcom-multilevel-menu-round-small:hover
	background-color lightBlueColor