.fcom-search
	position absolute
	top 14px
	left -320px
	width 320px
	display none

	input[type="text"]
		border-radius 0
		color whiteColor
		background-color lightGrayColor
		padding-right 66px

.fcom-search-group
	color whiteColor
	font-size .8em
	position absolute
	right 5px
	top 5px

	&:hover
		cursor: pointer

	div
		display inline-block

.fcom-search-label
	vertical-align top
	margin-top 5px

.fcom-search-status
	font-weight bold
	font-size 0.8em
	width 90px
	display inline-block

	span
		vertical-align top
		margin-top 18px

	.fcom-color-filler
		margin-top 4px

.fcom-search-order
	color lightBlueColor
	display inline-block
	width 60px
	vertical-align top
	margin-top 15px

.fcom-search-date
	width 100px
	vertical-align top
	margin-top 15px
	display inline-block

.fcom-search-name
	display inline-block
	vertical-align top
	margin-top 15px
	width 100px
	color whiteColor
	background-color lightBlueColor
	text-align center

.fcom-search-address
	display inline-block
	vertical-align top
	margin-top 4px
	margin-left 5px
	white-space normal
	width 220px