<script>
    $(document).ready(function() {      
        $('.f-admin-header').remove();
        $('#main-nav-bg').remove();
        $('#main-nav').remove();
    });
    window.ckeditor_all_images_register = function(grid) {
        ckeditor_all_images_grid = grid;
        grid.getGridSkeleton().Views.RowView.prototype._selectRow = function(ev) {            
            var selectedRows = grid.getSelectedRows();

            var checked = $(ev.target).is(':checked');
            $('.select-row').prop('checked', false);
            $(ev.target).prop('checked', checked);

            this.model.set('selected', checked);            
            selectedRows.reset();
            console.log(selectedRows.length);
            if (checked) {            
                selectedRows.add(this.model);
                $('.btn_media_add').removeClass('disabled');
            } else {            
        
                $('.btn_media_add').addClass('disabled');
            }
            console.log(selectedRows.length);
            ev.stopPropagation();
            ev.preventDefault();

            return;
        }

        grid.build();                
        $('.row:first').append("<div class='modal-footer'>"+
                "<button class='btn btn-primary btn-add btn_media_add disabled' data-dismiss='modal' type='button'>{{ "Add"|_ }}</button>"+
                "<button class='btn btn-default btn-close btn_media_close' data-dismiss='modal' type='button'>{{ "Close"|_ }}</button>"+
        "</div>");
        $('.btn_media_add').click(function() {
            var row = ckeditor_all_images_grid.getSelectedRows().at(0);
            var funcNum = '{{ REQUEST.get('CKEditorFuncNum') }}';           
            var path = FCom.Admin.baseUrl + row.get("folder") + row.get("subfolder") + "/" + row.get("file_name");
            window.opener.CKEDITOR.tools.callFunction(funcNum, path);            
            window.close();
        });

        $('.btn_media_close').click(function() {window.close(); });
    }
 
</script>
<div class='row'>
    <div class='col-sm-12'>
        {{ THIS.view('core/medialib').set('config', {
                                                        'id': 'ckeditor_all_images', 
                                                        'folder': 'media/images',                                                         
                                                        mode: 'thumbnail'
                                                    }
                                        ) | raw }}              
    </div>
</div>
