<form id="form-modules" method="post" name="form-modules" action="{{ THIS.get('form_url') }}">
  <div class="f-admin-main-view">
    <header class="f-admin-page-header">
      <span class="f-page-title">{{ 'Modules'|_ }}</span>
    </header>
    <div class="f-admin-main">
      {{ THIS.view('core/messages') | raw }}
      {{ THIS.view('core/backbonegrid') | raw }}
    </div>
  </div>
</form>
