<div class="row">
	<div class="col-md-12 col-lg-6">
		<div class="admin-main-content">
			<div class="row">
				<div class="col-md-12">
					<div class="form-horizontal">
						<div class="f-section">
							<div class="form-group">
								<div class="row">
									<div class="col-sm-5">
										<label>
											<p class="col-md-6 control-label">{{'Display in Navigation'|_}}</p>
											<div class="col-md-6">
												<checkbox v-model="test"></checkbox>
											</div>
										</label>
									</div>
									<div class="col-sm-3">
										<label>
											<p class="col-md-6 control-label">{{'Featured'|_}}</p>
											<div class="col-md-6">
												<checkbox v-model="test"></checkbox>
											</div>
										</label>
									</div>
									<div class="col-sm-3">
										<label>
											<p class="col-md-6 control-label">{{'Enable'|_}}</p>
											<div class="col-md-6">
												<checkbox v-model="test"></checkbox>
											</div>
										</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'ID:14'|_}}</p>
									<div class="col-md-9">
										<input class="form-control" type="text" />
										<a href="#" class="translate-icon"><i class="fa fa-globe" aria-hidden="true"></i></a>
									</div>
								</label>
							</div>
							<div class="form-group required">
								<label>
									<p class="col-md-3 control-label">{{'Label'|_}}</p>
									<div class="col-md-9">
										<input class="form-control" type="text" />
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'URL Key '|_}}
									</p>
									<div class="col-md-9">
										<input class="form-control" type="number" />
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'Nav Sort Order'|_}}</p>
									<div class="col-md-9">
										<input class="form-control" type="number" />
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'Page Title'|_}}</p>
									<div class="col-md-9">
										<input class="form-control" type="text" />
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'Meta Title'|_}}</p>
									<div class="col-md-9">
										<input class="form-control" type="text" />
										<a href="#" class="translate-icon"><i class="fa fa-globe" aria-hidden="true"></i></a>
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'Meta Description'|_}}</p>
									<div class="col-md-9">
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</label>
							</div>
							<div class="form-group">
								<label>
									<p class="col-md-3 control-label">{{'Meta Keywords'|_}}</p>
									<div class="col-md-9">
										<textarea class="form-control" rows="5"></textarea>
									</div>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-lg-6">
		<div class="admin-main-content">
			<div class="multilanguage-block">
				<div class="block-title">
					<p>Multi Language</p>
				</div>
				<div>
					<div class="row form-group">
						<div class="col-xs-5">
							<select2 class="form-control">
								<option>Language1</option>
								<option>Language2</option>
							</select2>
						</div>
						<div class="col-xs-5">
							<input class="form-control" type="text" />
						</div>
						<div class="col-xs-1">
							<a href="#" class="delete"><i aria-hidden="true" class="fa fa-trash"></i></a>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-xs-5">
							<select2 class="form-control">
								<option>Language1</option>
								<option>Language2</option>
							</select2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>