<!--{ title: Sitemap }-->

<h1>LIST OF CATEGORIES AND PRODUCTS</h1>

<ul>
    <li><a href="#">Category 1</a></li>
    <li><a href="#">Category 2</a></li>
    <li><a href="#">Category 3</a></li>
</ul>

<ul>
    <li><a href="#">Product 1</a></li>
    <li><a href="#">Product 2</a></li>
    <li><a href="#">Product 3</a></li>
</ul>

<ul>
    <li><a href="#">Featured Search 1</a></li>
    <li><a href="#">Featured Search 2</a></li>
    <li><a href="#">Featured Search 3</a></li>
</ul>

<a href="#">link to next page</a>
