<!DOCTYPE html>
<html>
<head>
    <script>
        var SvAppData = ({{ data|json_encode|raw }});
    </script>
    {{ THIS.view('head') | raw }}
</head>
<body>
{% verbatim %}
<div id="sv-app" @click="pageClick()" v-show="isLoaded" :class="{'main-nav-opened':ui.mainNavOpen, 'main-nav-closed':!ui.mainNavOpen}">
    <sv-comp-header v-if="isLoggedIn" ></sv-comp-header>
    <sv-comp-nav v-if="isLoggedIn"></sv-comp-nav>
    <main>

        <div class="f-admin-container">

            <div class="f-admin-main-view ">
				<sv-comp-header-breadcrumbs :mobile="true"></sv-comp-header-breadcrumbs>
				 <router-view></router-view>
            </div>

        </div>
    </main>
    <sv-comp-messages></sv-comp-messages>
    <div class="overlay" id="overlay" :class="{open:ui.overlayActive}" @click="$store.commit('overlay', false)"></div>
  </div>
{% endverbatim %}
</body>
</html>