<!DOCTYPE html>
<html>
<head>
    {{ THIS.view('head') | raw }}
</head>
<body>
<div id="sv-app" @click="pageClick()">
    <sv-comp-header v-if="isLoggedIn"></sv-comp-header>
    <main :class="{'main-nav-opened':ui.mainNavOpen, 'main-nav-closed':!ui.mainNavOpen}">
        <div class="f-admin-container">
            <sv-comp-menu v-if="isLoggedIn"></sv-comp-menu>
            <div class="f-admin-main-view ">
                <router-view></router-view>
            </div>
        </div>
    </main>
</div>
</body>
</html>