.page-header .breadcrumb li,
.page-header .breadcrumb a { font-size:12pt; }
.page-header.with-breadcrumbs div.pull-left { margin-top:15px;}

#categories-layout.spliter_panel .vspliter { width: 1px; color: #ddd; background: #ddd; }
#categories-layout .jstree-default.jstree-focused { background: none; }
#categories-layout #categories { padding-top: 15px; padding-bottom: 15px; }
#categories-layout .jstree a { height: 18px; line-height: 18px; }