/**
 * Author:Denteva
 * Copyright:Denteva
 * Website:http://www.denteva.com
 */
 
/* =============================================================================
   Reset Boilerplate
   ========================================================================== */
   
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio, canvas, video { display:inline-block; *display:inline; *zoom:1; }
audio:not([controls]) { display:none; }
[hidden] { display:none; }

html { font-size:100%; overflow-y:scroll; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; background:url(../img/body_bg.gif); font:13px/1.2 'Helvetica Nue', Arial, Helvetica, sans-serif; }
html, body {
	height:100%;
	margin:0;
	padding:0;
	}
body, button, 
input, select, 
textarea 		{ font-family:sans-serif; color:#2f2f2f; }

::-moz-selection{ background:#a6b7d4; color:#fff; text-shadow:none; }
::selection 	{ background:#a6b7d4; color:#fff; text-shadow:none; }

a 				{ color:#0640A9; text-decoration:none; }
a:visited 		{ color:#0640A9; }
a:hover 		{ color:#0640A9; text-decoration:none; }
a:focus 		{ outline:thin dotted; }
a:hover, 
a:active 		{ outline:0; }

abbr[title] 	{ border-bottom:1px dotted; }
b, strong 		{ font-weight:bold; }
blockquote 		{ margin:1em 40px; }
dfn 			{ font-style:italic; }
hr 				{ display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins 			{ background:#ff9; color:#000; text-decoration:none; }
mark 			{ background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, 
kbd, samp 		{ font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
pre 			{ white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q 				{ quotes:none; }
q:before, 
q:after 		{ content:""; content:none; }
small 			{ font-size:85%; }
sub, sup 		{ font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup 			{ top:-0.5em; }
sub 			{ bottom:-0.25em; }
ul, ol 			{ list-style:none; margin:0; padding:0; }
dd 				{ margin:0 0 0 40px; }
nav ul, 
nav ol 			{ list-style:none; list-style-image:none; margin:0; padding:0; }
img 			{ border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
svg:not(:root) 	{ overflow:hidden; }
figure 			{ margin:0; }
form 			{ margin:0; }
fieldset 		{ border:0; margin:0; padding:0; }
label 			{ cursor:pointer; }
legend 			{ border:0; *margin-left:-7px; padding:0; }
button, input, 
select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input 	{ line-height:normal; *overflow:visible; }
table button, 
table input 	{ *overflow:auto; }
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance:none; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; resize:vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:top; }


/* =============================================================================
   Global Elements
   ========================================================================== */

/* Forms - Lists */
.msgs li { 
	border:1px solid #e1d19d; 
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin-bottom:10px; 
	padding:15px 15px 15px 42px; 
	font-weight:bold; 
	font-size:13px; 
	}
.msgs .success-msg { border-color:#658f26; background-position:10px -230px; background-color:#cff3a0; color:#355d0b; }
.msgs .notice-msg { background-position:10px 10px; background-color:#fff4d0; color:#574628; }
.msgs .error-msg { border-color:#dd5734; background-position:10px -105px; background-color:#fbe2db; color:#bf2e0b; }

/* Forms - Lists */
.form-list li { margin-bottom:8px; }
.form-list label { line-height:1.2; }
.form-list li.label-l label { float:left; width:100px; margin-top:5px; }
.form-list li.label-top label { display:block; margin-bottom:2px; }

/* Forms - Inputs */
/* Inputs have sz1 */
input[type="text"], input[type="password"] {
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border:1px solid #aaa;
	box-shadow:inset 2px 2px 3px 0 #ddd;
	-moz-box-shadow:inset 2px 2px 3px 0 #ddd;
	-webkit-box-shadow:inset 2px 2px 3px 0 #ddd;
	padding:4px 5px;
	color:#444;
	font-size:15px;
	}
input[type="text"].sz1, input[type="password"].sz1 {
	padding:6px 5px;
	font-size:17px;
	}
	
/* Forms - Buttons */
/* Buttons have st1, st2, sz1 */
button.btn, input[type="submit"].btn {
	display:inline-block;
	height:auto;
	border-radius:16px;
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	font:bold 14px/1 'Helvetica Nue', Arial, Helvetica, sans-serif;
	overflow:visible;
}
button.st1, input[type="submit"].st1 {
	/* Key button in page */
	border:none;
	color:#fff;
	background:-moz-linear-gradient(top,#7c94bf 0%,#32548e);
	background:-webkit-gradient(linear, left top, left bottom, from(#7c94bf),to(#32548e));
	text-shadow:0 -1px 0 #2c4779;
	}
button.st2, input[type="submit"].st2 {
	border:1px solid #adadad;
	background-image:linear-gradient(bottom, rgb(216,216,216) 0%, rgb(240,240,242) 100%);
	background-image:-o-linear-gradient(bottom, rgb(216,216,216) 0%, rgb(240,240,242) 100%);
	background-image:-moz-linear-gradient(bottom, rgb(216,216,216) 0%, rgb(240,240,242) 100%);
	background-image:-webkit-linear-gradient(bottom, rgb(216,216,216) 0%, rgb(240,240,242) 100%);
	background-image:-ms-linear-gradient(bottom, rgb(216,216,216) 0%, rgb(240,240,242) 100%);
	background-image:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(216,216,216)),
		color-stop(1, rgb(240,240,242))
	);
	color:#444;
	}
button.sz1, input[type="submit"].sz1 { padding:8px 25px; font-size:14px; }


/* =============================================================================
   Global Structure
   ========================================================================== */

/* Wrapper */
.adm-wrapper {
	position:relative;
	width:100%;
	height:auto;
	min-height:100%;
	}
.adm-middle { padding:0 20px 20px 205px; }
.adm-middle.collapsed-nav { padding-left:50px; }

/* Header */
.adm-topbar { 
	border-bottom:1px solid #760700; 
	height:30px;
	background:#c50f00; 
	color:#fff; 
	font-size:12px; 
	text-shadow:0 -1px 0 #8a1810; 
	}
.adm-topbar a { color:#fff;}
.adm-topbar .app-logo { float:left; }
.adm-topbar .sup-links { float:right; }
.adm-topbar .sup-links li { float:left; }
   
/* Sidebar */
.adm-nav-bg {
	position:absolute;
	top:31px;
	bottom:0;
	z-index:-1;
	width:185px;
	background:#e9e9e9;
	border-right:1px solid #acacac;
	}
.adm-nav { 
	position:absolute;
	top:31px;
	width:185px;
	font:12px/1.2 'Lucida Grande', Arial, Helvetica, sans-serif; 
	text-shadow:0 1px 0 #fff;
	z-index:0;
	}
.adm-nav a { 
	display:block;
	border-top:1px solid #fff;
	border-bottom:1px solid #d4d4d4;
	padding:5px 10px 5px 30px;
	color:#444; 
	}
.adm-nav a:hover { border-top-color:#e3e3e3; background:#e3e3e3;}
.adm-nav li.nav-group > header { 
	border-bottom:1px solid #b6b6b6;
	background-image:linear-gradient(bottom, rgb(218,218,218) 0%, rgb(235,235,235) 100%);
	background-image:-o-linear-gradient(bottom, rgb(218,218,218) 0%, rgb(235,235,235) 100%);
	background-image:-moz-linear-gradient(bottom, rgb(218,218,218) 0%, rgb(235,235,235) 100%);
	background-image:-webkit-linear-gradient(bottom, rgb(218,218,218) 0%, rgb(235,235,235) 100%);
	background-image:-ms-linear-gradient(bottom, rgb(218,218,218) 0%, rgb(235,235,235) 100%);
	background-image:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(218,218,218)),
		color-stop(1, rgb(235,235,235))
	);
	text-transform:uppercase; 
	}
.adm-nav li.nav-group > header span { display:block; padding:4px 10px 4px 30px; font-weight:bold; }
.adm-nav li.nav-group.active > header {}
.adm-nav li.nav-group li.active a {
	border-top-color:#7992bd;
	border-bottom:none;
	background-image: linear-gradient(bottom, rgb(121,146,189) 0%, rgb(165,182,211) 100%);
	background-image: -o-linear-gradient(bottom, rgb(121,146,189) 0%, rgb(165,182,211) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(121,146,189) 0%, rgb(165,182,211) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(121,146,189) 0%, rgb(165,182,211) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(121,146,189) 0%, rgb(165,182,211) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(121,146,189)),
	color-stop(1, rgb(165,182,211))
	);
	margin-top:-1px;
	color:#fff;
	text-shadow:0 -1px 0 #536d98;
	z-index:9;
}
.adm-nav .nav-group-merge span { background-position:7px -353px; }
.adm-nav .nav-group-catalog span { background-position:7px -402px; }

/* =============================================================================
   Per Page
   ========================================================================== */
.adm-login-form { 
	margin:45px auto;
	width:510px;
	}
.adm-login-form form {
	margin-bottom:8px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #bbb;
	padding:30px;
	background:#fff;
	box-shadow:0 2px 2px #ddd;
	-moz-box-shadow:0 2px 2px #ddd;
	-webkit-box-shadow:0 2px 2px #ddd;
	}
.adm-login-form .copyright { font-size:.9em; text-align:center; }
.adm-login-form .section-title {
	margin:-30px -30px 30px -30px;
	border-bottom:1px solid #bbb;
	background:#eee;
	padding:12px 20px;
	font-size:20px;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
	}
.adm-login-form li.label-l label { width:130px; font-size:15px; }
.adm-login-form input[type="text"],
.adm-login-form input[type="password"] { width:250px; }
.adm-login-form .btn { margin-left:130px; }
.adm-login-form .app-logo { width:145px; height:29px; background:url(../img/logo_sz1.png) no-repeat; text-indent:-999em; }
.adm-login-form .msgs { margin:-13px 0 16px; }

/* =============================================================================
   Typography
   ========================================================================== */



/* =============================================================================
   Sprite
   ========================================================================== */
.msgs li,
.adm-nav li.nav-group > header span { background-image:url(../img/sprite.png); background-repeat:no-repeat; }
   
   
/* =============================================================================
   Clearfix
   ========================================================================== */
.topbar:after,
.form-list li:after,
.clearer:after { content:""; display:table; clear:both; }

