
<div class="f-header-col-callouts hidden-xs">
  <div class="container">
    <div class="row">
      <a href="#" class="col-sm-4">
        Free Ground Shipping
        <small>On orders over $100</small>
      </a>
      <a href="#" class="col-sm-4">
        We Ship Globally
        <small>See list of countries</small>
      </a>
      <a href="#" class="col-sm-4">
        Easy returns and exchange
        <small>We've made it easy for you!</small>
      </a>
    </div>
  </div>
</div>
