- $formUrl = BApp::href('catalog/categories/tree_form/')
.fcom-admin-main-container.fcom-admin-sidebar-view#categories-layout

    %form.fcom-admin-main-content#categories-tree-form(action="#{$formUrl}" method="post")
        #categories-form-container
            &nbsp;
    %aside.fcom-admin-nav-sidebar.fcom-admin-tree-sidebar
        .ui-widget-header
            %span.title
                = $this->_('Categories')
            %input.entypo.lock#categories-tree-lock(type="checkbox")
        .fcom-admin-expand-toggles
            %a.js-expand-all(href='') = $this->_('Expand All')
            %a.js-collapse-all(href='') = $this->_('Collapse All')
        #categories

:javascript
    require(['jquery', 'jstree', 'fcom.admin'], function($) {
        $(function() {
            $('.fcom-admin-nav-sidebar').resizable({
                handles: 'e',
                resize: function(ev, ui) {
                    $('#categories-layout').css('padding-left', ui.size.width+'px');
                }
            });
            FCom.Admin.checkboxButton('#categories-tree-lock', {def:true,
                on:{icon:'icon-lock', label:'Editing Locked'},
                off:{icon:'icon-lock-open', label:'Editing Unlocked'}
            });
            $('.js-expand-all').click(function() { $('#categories').jstree('open_all', $('#1>ul>li')); return false });
            $('.js-collapse-all').click(function() { $('#categories').jstree('close_all', $('#1>ul>li')); return false });

            FCom.Admin.tree('#categories', {
                url:'#{BApp::href('catalog/categories/tree_data')}'
                , on_click: function (n) { loadForm(n.attr('id')); }
                //, on_dblclick: function (n) { loadForm(n.attr('id')); }
                , on_select: function (n) { loadForm(n.attr('id')); }
                , lock_flag: '#categories-tree-lock'
            });
            /*
            var cmsNavLayout = $('#categories-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth:400,
                west__spacing_open:1,
                west__closable:false,
                triggerEventsOnLoad: true,
                onresize:function(pane, $Pane, paneState) {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function(index) {
                        if (!this.id.match(/_t$/)) {
                            $(this).setGridWidth(paneState.innerWidth - 20);
                        }
                    });
                }
            });
            */
            function loadForm(id) {
                var url = '#{$formUrl}?id='+id;
                $('#categories-form-container').load(url, function() {
                    $('#categories-tree-form').attr('action', url);
                    window.adminForm = FCom.Admin.form({
                        tabs:     '.adm-tabs li',
                        panes:    '.adm-tabs-content',
                        url_get:  url,
                        url_post: url
                    });
                });
            }

        })
    })
