<li class="dropdown medium only-icon widget">
  <a href="#" data-toggle="dropdown" class="dropdown-toggle">
    <i class="icon-comments-alt"></i>&nbsp;<span class="badge badge-inverse" style="display:none;" id="totalUnreads"></span>
  </a>
    <ul class="dropdown-menu" id="adminUserList">
      <li role="presentation" class="dropdown-header">{{'User Chat'|_}}</li>
      <li id="adminStatus">
        <script type='text/template' class='template' id='statusTemplate'>
          <span class="user-avatar <%- rc.status %>">
            <img width="30" height="30" src="<%- rc.avatar %>" alt="<%- rc.username %>"/>
          </span>
          <div class="user-chat-status">
            <select class='js-adminuser-status' value='<%- rc.status %>'>
              {{ UTIL.optionsHtml({online:'Online', away:'Away', na:'N/A', offline:'Offline'}) | raw }}
            </select>
          </div>
        </script>
      </li>
      <li class="divider"></li>
      <script type='text/template' class='template' id= 'userTemplate'>
        <!-- .online OR .offline OR .away OR do-not-disturb -->
        <span class="user-avatar <%- rc.status %>">
          <img width="30" height="30" src="<%- rc.avatar %>" alt="<%- rc.username %>">
        </span>
        <div class="user-chat-status">
          <span class="user-name"><%- rc.username %>
        </div>
      </script>
    </ul>
</li>
