<div class="f-content-block">
    <button v-if="form.campaign.status == 'I' || form.campaign.status == 'C' || form.campaign.status == 'S'"
            type="button" class="button button1" @click="startCampaign">{{'Start'|_}}</button>
    <button v-if="form.campaign.status == 'R'" type="button" class="button button2" @click="pauseCampaign">{{'Pause'|_}}</button>
    <button v-if="form.campaign.status == 'P'" type="button" class="button button2" @click="resumeCampaign">{{'Resume'|_}}</button>
    <button v-if="form.campaign.status == 'R'" type="button" class="button button4" @click="stopCampaign">{{'Stop'|_}}</button>

    <br><br>
    <table class="f-secondary-table" style="width:auto">
        <tr><th>{{'Status'|_}} </th><td>{{form.status_options[form.campaign.status]}}</td></tr>
        <tr><th>{{'Total'|_}} </th><td>{{form.campaign.cnt_total}}</td></tr>
        <tr><th>{{'Sent:'|_}} </th><td>{{form.campaign.cnt_sent}}</td><td>{{'{pct}% of total' | _({pct: percent('sent', 'total')}) }}</td></tr>
        <tr><th>{{'Success:'|_}} </th><td>{{form.campaign.cnt_success}}</td><td>{{'{pct}% of sent' | _({pct: percent('success', 'sent')}) }}</td></tr>
        <tr><th>{{'Error:'|_}} </th><td>{{form.campaign.cnt_error}}</td><td>{{'{pct}% of sent' | _({pct: percent('error', 'sent')}) }}</td></tr>
        <tr><th>{{'Opened Email:'|_}} </th><td>{{form.campaign.cnt_opened}}</td><td>{{'{pct}% of successfully sent' | _({pct: percent('opened', 'success')}) }}</td></tr>
        <tr><th>{{'Clicked Links:'|_}} </th><td>{{form.campaign.cnt_clicked}}</td><td>{{'{pct}% of opened' | _({pct: percent('clicked', 'opened')}) }}, {{'{pct}% of sent' | _({pct: percent('clicked', 'success')}) }}</td></tr>
        <tr><th>{{'Unsubscribed:'|_}} </th><td>{{form.campaign.cnt_unsub}}</td><td>{{'{pct}% of opened' | _({pct: percent('unsub', 'opened')}) }}, {{'{pct}% of sent' | _({pct: percent('unsub', 'success')}) }}</td></tr>
    </table>
</div>