{% set c = THIS.get('model') %}

<h2>{{ "Product Reviews Settings"|_}}</h2>

<div class="accordion accordion-blue panel-group" id="settings-FCom_ProductReviews">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" class="accordion-toggle">{{ 'General Settings'|_ }}</a>
        </div>
        <div class="panel-collapse accordion-body in" id="settings-FCom_ProductReviews-group0">
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="model-need_approve">{{ 'Reviews need approve'|_ }}</label>
                    <div class="col-md-5">
                        <input type="hidden" name="config[modules][FCom_ProductReviews][need_approve]" value="0" />
                        <input type="checkbox" id="model-need_approve" class="switch-cbx" value="1"
                               name="config[modules][FCom_ProductReviews][need_approve]" {{ c.get('modules/FCom_ProductReviews/need_approve') == 1 ? 'checked="checked"' : '' }}  />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
