<div class="f-site-main" role="main">
    <div class="container" id="f-prod-review-form-container">
        {{ THIS.view('core/messages')|raw }}
        {{ THIS.view('prodreviews/review-form')|raw }}
    </div>
</div>
