- $c = $this->grid['config'];

.backgrid(id="#{$c['id']}")

:javascript
    require(['jquery', 'fcom.admin'], function($) {
        $(function() {
            var config = #{$this->getBackgridConfigJson()};
            console.log(JSON.stringify(config), config.columns[2]);
            var grid = new FCom.BackgridView(config);
            grid.render();
        });
    })
