- $c = $this->grid['config'];

#backgrid-toolbar-template(style="display:none")
    %div


%div(id="#{$c['id']}")

:javascript
    require(['jquery', 'fcom.admin', 'jquery.dragtable'/*, 'jquery.colResizable'*/], function($) {
        $(function() {
            var config = #{$this->getBackgridConfigJson()};
            console.log('config', config);
            var grid = new FCom.BackgridView(config);
            var $container = $("##{$c['id']}");
            console.log('grid', grid);
            grid.render();
            $container.prepend($('#backgrid-toolbar-template').html());
            /*
            var $thead = $container.find('.backgrid thead');
            var $copy = $thead.clone(true).css({position:'fixed', top:0, left: $thead.offset().left});
            $('body').append($('<table class="backgrid">').append($copy));

            $(window).scroll(function(ev) {
                var top = $(window).scrollTop();
                console.log(top);
            });
            */
        });
    })
