- $c = $this->grid['config'];

.backgrid-container(id="#{$c['id']}")

:javascript
    require(['jquery', 'fcom.admin', 'jquery.dragtable'], function($) {
        $(function() {
            var config = #{$this->getBackgridConfigJson()};
            console.log('config', config);
            var grid = new FCom.BackgridView(config);
            console.log('grid', grid);
            grid.render();
        });
    })
