{% $c = $this->grid['config'] %}

<script id="backgrid-toolbar-template" type="text/template">
    <div class="row">
        <div class="span6">
            <label>
                <select>
                    <option></option>
                </select>
            </label>
        </div>
    </div>
</script>

<div id="{{ $c['id'] }}"></div>

<script>
    require(['jquery', 'fcom.admin', 'jquery.dragtable'/*, 'jquery.colResizable'*/, 'fcom.backgrid.toolbar'], function($) {
        $(function() {
            var config = #{$this->getBackgridConfigJson()};
            console.log('config', config);
            var grid = new FCom.BackgridView(config);
            var $container = $("##{$c['id']}");
            console.log('grid', grid);
            grid.render();
            $container.prepend($('#backgrid-toolbar-template').html());
            /*
            var $thead = $container.find('.backgrid thead');
            var $copy = $thead.clone(true).css({position:'fixed', top:0, left: $thead.offset().left});
            $('body').append($('<table class="backgrid">').append($copy));

            $(window).scroll(function(ev) {
                var top = $(window).scrollTop();
                console.log(top);
            });
            */
        });
    })
</script>
