<div>
    <div v-for="error in errors" class="error">{{error}}</div>
    <table class="">
        <thead>
        <tr>
            <th></th>
            <th v-if="options.customer_groups">{{'Customer Group'|_}}</th>
            <th v-if="options.multi_site">{{'Site'|_}}</th>
            <th v-if="options.multi_currency">{{'Currency'|_}}</th>
            <th>{{'Price Type'|_}}</th>
            <th>{{'Amount'|_}}</th>
            <th>{{'Operation'|_}}</th>
            <th>{{'Conditions'|_}}</th>
            <th>{{'Preview'|_}}</th>
        </tr>
        <!--<tr>-->
            <!--<td></td>-->
            <!--<td v-if="options.customer_groups">-->
                <!--<select class="form-control" v-model="filter.customer_group_id">-->
                    <!--<option value="">{{'Show all'|_}}</option>-->
                    <!--&lt;!&ndash;<option :value="null">{{'Default'|_}}</option>&ndash;&gt;-->
                    <!--<option v-for="o in options.customer_groups" :value="o.id">{{o.text}}</option>-->
                <!--</select>-->
            <!--</td>-->
            <!--<td v-if="options.multi_site">-->
                <!--<select class="form-control" v-model="filter.site_id">-->
                    <!--<option value="">{{'Show all'|_}}</option>-->
                    <!--&lt;!&ndash;<option :value="null">{{'Default'|_}}</option>&ndash;&gt;-->
                    <!--<option v-for="o in options.multi_site" :value="o.id">{{o.text}}</option>-->
                <!--</select>-->
            <!--</td>-->
            <!--<td v-if="options.multi_currency">-->
                <!--<select class="form-control" v-model="filter.currency_code">-->
                    <!--<option value="">{{'Show all'|_}}</option>-->
                    <!--&lt;!&ndash;<option :value="null">{{'Default'|_}}</option>&ndash;&gt;-->
                    <!--<option v-for="o in options.multi_currency" :value="o.id">{{o.text}}</option>-->
                <!--</select>-->
            <!--</td>-->
        <!--</tr>-->
        </thead>
        <tbody>
        <tr v-for="price in visiblePrices()">
            <td>
                <a v-if="!price.is_base_price" href="#" @click.prevent="removePrice(price)"><i class="fa fa-trash"></i></a>
            </td>
            <td v-if="options.customer_groups">
                <select class="form-control" v-model="price.customer_group_id" :disabled="price.is_base_price">
                    <option :value="null">{{'Default'|_}}</option>
                    <option v-for="o in options.customer_groups" :value="o.id">{{o.text}}</option>
                </select>
            </td>
            <td v-if="options.multi_site">
                <select class="form-control" v-model="price.site_id" :disabled="price.is_base_price">
                    <option :value="null">{{'Default'|_}}</option>
                    <option v-for="o in options.multi_site" :value="o.id">{{o.text}}</option>
                </select>
            </td>
            <td v-if="options.multi_currency">
                <select class="form-control" v-model="price.currency_code" :disabled="price.is_base_price">
                    <option :value="null">{{'Default'|_}}</option>
                    <option v-for="o in options.multi_currency" :value="o.id">{{o.text}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" v-model="price.price_type" :disabled="price.is_base_price">
                    <option v-for="o in options.price_types" :value="o.id">{{o.text|_}}</option>
                </select>
            </td>
            <td>
                <input type="number" class="form-control" v-model="price.amount" style="width:80px; min-width:80px">
                <div v-if="price.error" class="error">{{price.error|_}}</div>
            </td>
            <td>
                <div class="input-group input-group-sm">
                    <span class="input-group-btn">
                        <select v-model="price.operation" class="form-control">
                            <option v-for="o in options.price_operations" :value="o.value">{{o.label|_}}</option>
                        </select>
                    </span>
                    <span class="input-group-btn">
                        <select v-if="price.operation !== '=$'" v-model="price.base_field" class="form-control" style="min-width:70px; width:70px">
                            <option v-for="o in availableBaseFields(price)" :value="o.value">{{o.label|_}}</option>
                        </select>
                    </span>
                </div>
            </td>
            <td>
                <div v-if="price.price_type === 'sale' || price.price_type === 'promo'" class="input-group">
                    <input type="date" v-model="price.valid_from" class="form-control">
                    <span class="input-group-addon">-</span>
                    <input type="date" v-model="price.valid_to" class="form-control">
                </div>
                <div v-if="price.price_type === 'tier'" class="input-group">
                    <span class="input-group-addon">{{'Qty'|_}}</span>
                    <input v-model="price.qty" class="form-control">
                </div>
            </td>
            <td>
                <strong>{{pricePreview(price) | currency}}</strong>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td v-if="options.customer_groups"></td>
            <td v-if="options.multi_site"></td>
            <td v-if="options.multi_currency"></td>
            <td>
                <select class="form-control" v-model="new_price_type">
                    <option value="">{{'Add Price...'|_}}</option>
                    <option v-for="o in options.price_types" :value="o.id">{{o.text}}</option>
                </select>
            </td>
        </tr>
        </tfoot>
    </table>
</div>