/*Links colors*/ 
$c-m: #20aaad;
$c-h: #f7941d;


/*Text colors*/

$t-main: #868a8a;
$t-sec: #555a60;
$t-lig: #909090;


$content-width: 1020px;
$tablet-width: 768px;
$mobile-width: 300px;

/*Box-shadow*/

$box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.11);

/*Background color*/

$back-l: #fafafa;
$back-d: #f6f6f6;
$background-new-label: #1dbb81;
$alert: #d32f2f;
/*Fonts*/

$f-main: "GothamProRegular";
$f-main-lig:  "GothamProLight";; 
$f-main-bold:  "GothamProBold";
$f-med:  "GothamProMedium";

/*Fonts sizes*/

$s-main: 12px;
/*$s-big: 18px;
$s-sm: 14px;
$s-title: 26px;*/

