- $m = $this->model
- $prodCtrl = FCom_Catalog_Admin_Controller_Products::i()

#linked-products-layout
    .ui-layout-west
        .group-container
            - echo $this->view('jqgrid')->set('config', $prodCtrl->linkedProductGridConfig($m, 'related'))
            - echo $this->view('jqgrid')->set('config', $prodCtrl->linkedProductGridConfig($m, 'similar'))
    .ui-layout-center
        - echo $this->view('jqgrid')->set('config', FCom_Catalog_Admin_Controller_Products::i()->productLibraryGridConfig('products'))

:javascript
    require(['jquery', 'fcom.admin'], function($) {
        $(function() {
            /*
            var linkedProductslayout = $('#linked-products-layout').height($('.adm-wrapper').height()).layout({
                useStateCookie: true,
                west__minWidth:'40%',
                west__spacing_open:20,
                west__closable:false,
                triggerEventsOnLoad: true,
                onresize:function(pane, $Pane, paneState) {
                    $('.ui-jqgrid-btable:visible', $Pane).each(function(index) {
                        $(this).setGridWidth(paneState.innerWidth - 20);
                    });
                }
            });
            */
            $('#linked-products-layout').resizeWithWindow();

            $('#linked-products-layout .ui-layout-west .ui-jqgrid-btable').each(function(idx, el) {
                new FCom.Admin.TargetGrid({source:'#linked-products-all', target:el});
            });
        })
    })

- echo $this->hook('catalog/products/tab/linked-products', array('model'=>$this->model))
