.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  .dd-list {
    padding-left: 30px;
  }
}

.dd-collapsed .dd-list {
  display: none;
}

.dd-item, .dd-empty, .dd-placeholder {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.dd-handle {
  display: block;
  margin: 5px 0;
  padding: 10px 10px;
  color: $dark;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid $light;
  background: $white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;

  &:hover {
    color: $contrast;
    cursor: move;
  }
}

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  line-height: 1;
  padding-top: 7px;
  text-align: center;
  font-weight: bold;

  &:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
  }
  &[data-action="collapse"]:before {
    content: '-';
  }
}

.dd-placeholder {
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: lighten($light, 10%);
  border: 1px dashed $contrast;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999;

  > .dd-item .dd-handle {
    margin-top: 0;
  }
}