- $rowsView = $this->get('rows_view')
- if (!$rowsView) $rowsView = $this->view('admin/grid/rows')
- $rowsView->set($this->get())

.fcom-datagrid
    .fcom-datagrid__toolbar
        .fcom-datagrid__pager

        .fcom-datagrid__options

        .fcom-datagrid__actions

    %table.fcom-datagrid__grid
        %thead
            %tr
                - foreach ($this->columns as $col)
                    %th

        %tbody
            - echo $rowsView