<li class="dropdown user-menu" :class="{open: ddOpen('header-account')}">
    <a href="#" title="Login menu" class="dropdown-toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('header-account')">John Rich <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <img :src="assetUrl('FCom_AdminSPA', 'img/profile.png')" alt="" class='img-circle'/></a>
    <ul class="dropdown-menu">
        <li><router-link to="/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</router-link></li>
        <li><router-link to="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar / To Do</router-link></li>
        <li><router-link to="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</router-link></li>
    </ul>
    <ul>
        <li class="login-status" :class="{open:ddOpen('header-account-status')}">
            <a href="#" title="Status menu" class="status-toggle status online " @click.prevent.stop="ddToggle('header-account-status')"><i class="fa fa-check" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
                <li class="online"><a href="" @click="setStatus('online')"><i class="fa fa-check" aria-hidden="true"></i>Online</a></li>
                <li class="away"><a href=""><i class="fa fa-phone" aria-hidden="true"></i></i>Away</a></li>
                <li class="na"><a href=""><i class="fa fa-minus" aria-hidden="true"></i>N/A</a></li>
                <li class="offline"><a href=""><i></i>Offline</a></li>
            </ul>

        </li>
    </ul>
</li>