<li class="dropdown user-menu" :class="{open: ddOpen('header-account')}">
    <a href="#" title="Login menu" class="dropdown-toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('header-account')">{{user.firstname}} {{user.lastname}} <i class="fa fa-chevron-down" aria-hidden="true"></i>
        <img :src="user.thumb" :alt="user.firstname + ' ' + user.lastname" class='img-circle' width="47" height="47"/>
    </a>
    <ul class="dropdown-menu">
        <li><router-link to="/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</router-link></li>
        <li><router-link to="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i> Calendar / To Do</router-link></li>
        <li><router-link to="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign out</router-link></li>
    </ul>
    <ul>
        <li class="login-status" :class="{open:ddOpen('header-account-status')}">
            <a href="#" :title="_('Status menu')" class="status-toggle status" :class="curStatus.item_class" @click.prevent.stop="ddToggle('header-account-status')"><i :class="curStatus.icon_class" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
                <li v-for="st in statuses" :class="st.item_class"><a href="#" @click.prevent="setStatus(st)"><i :class="st.icon_class" aria-hidden="true"></i>{{st.label|_}}</a></li>
            </ul>
        </li>
    </ul>
</li>