<div class="breadcrumb" :class="{'visible-lg':!mobile, 'visible-xs':!mobile}">
    <ul>
        <li><a href="dashboard.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-line-chart" aria-hidden="true"></i><t>Sales</t></a></li>
        <li><a href="#"><t>Orders</t></a></li>
        <li class="penultimate"><a href="#"><t>Edit orders</t></a></li>
        <li><a href="#" class="favorite"><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i></a></li>
    </ul>
</div>