<li class="dropdown favourites" :class="{open:ddOpen('header-favorites')}">
    <a href="#" :title="_('Favorites')" class="dropdown-toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('header-favorites')">
        <i class="fa fa-star" aria-hidden="true"></i>
    </a>
    <div class="dropdown-menu">
        <ul class="dropdown-content customScroll">
            <li v-for="fav in favorites">
                <router-link :to="fav.link"><i :class="fav.icon_class" aria-hidden="true"></i> {{fav.label}}</router-link>
                <a href="#" @click.prevent.stop="removeFavorite(fav)" class="remove"><i class="fa fa-times"></i></a>
			  </li>
        </ul>
    </div>
</li>