<li class="dropdown favorites" :class="{open:ddOpen('header-favorites')}">
	<a href="#" :title="_('Favorites')" class="dropdown-toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('header-favorites')">
		<svg width="20" height="19" v-html="svgIconLink('icon-star')"></svg>
	</a>
	<ul class="dropdown-menu">
		<li v-for="fav in favorites" :class="{active: isActive(fav)}">
			<router-link :to="fav.link"><i :class="fav.icon_class" aria-hidden="true"></i> {{fav.label}}</router-link>
			<a href="#" @click.prevent.stop="removeFavorite(fav)" class="remove"><i class="fa fa-times"></i></a>
		</li>
	</ul>
</li>