<li class="f-header__navbar__item f-dropdown f-header__notification-block" :class="{open:ddOpen('header-local-notifications')}">
    <a href="#" title="Status menu" class="f-dropdown__toggle f-header__navbar__link" data-toggle="dropdown" @click.prevent.stop="ddToggle('header-local-notifications')">
		<svg width="20" height="19" v-html="svgIconLink('icon-notification')"></svg>
        <!--<span v-if="notifications.length" class="badge">{{notifications.length}}</span>-->
    </a>
      <div class="f-dropdown__menu">
            <ul class="f-dropdown__content" @click.stop>
                  <li v-for="n in notifications" v-html="n.html" class="f-dropdown__menu__item"></li>
            </ul>
      </div>
</li>