<li class="header__navbar__item f-dropdown header__setup-block" :class="{open:ddOpen('header__setup-block')}">
    <a href="#" :title="'Setup Progress: {percent}%'|_({percent:setup.progress})" class="f-dropdown__toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('header__setup-block')">
        <div class="setup-progress-label">{{ 'Setup Progress: {percent}%'|_({percent:setup.progress}) }}</div>
        <div class="setup-progress-container"><div class="setup-progress-bar" :style="{width:setup.progress+'%'}"></div></div>
    </a>
    <ul class="f-dropdown__menu">
        <li v-for="step in setup.steps" :class="{done: step.done}">
            <router-link :to="step.link"><i :class="step.icon_class" aria-hidden="true"></i> {{step.label}}</router-link>
            <a v-if="step.done" href="#" @click.prevent.stop class="done-icon"><i class="fa fa-check"></i></a>
        </li>
    </ul>
</li>