{% set user = APP.instance('FCom_Admin_Model_User') %}
{% if user.isLoggedIn() %}
    <style>
        .admin-toolbar {
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(198,198,198)), color-stop(1, rgb(226,225,226)));
            border-bottom: 1px solid #727272;
            padding: 3px;
        }
    </style>

    <div class="admin-toolbar">
        <button type="button" onclick="return adminToolbarEditPage()">Edit Page Contents</button>
    </div>

    <script>
        var editPageLoaded = false;
        mercuryPackages = {
            fcom: { javascripts: 'js/mercury.min.js,js/mercury_dialogs.js', stylesheets: 'css/mercury.bundle.css' }
        }
        mercuryOptions = {
            src: "{{ APP.src('FCom_FrontendCP', 'Frontend') }}",
            pack: 'fcom'
        }
        function adminToolbarEditPage() {
            $.getScript("{{ APP.src('FCom_FrontendCP', 'Frontend/js/mercury_loader.js') }}", function() {
            });
            return false;
        }
        $(window).on('mercury:ready', function() {
            console.log(123);
            Mercury.saveUrl = "{{ APP.href('frontendcp/update') }}";
        })
    </script>
{% endif %}
