// Fulleron Theme

// Variables and Mixins
@import 'styl/variables.styl'
@import 'styl/mixins.styl'

// Common components
@import 'styl/icons.styl'
@import 'styl/commons.styl'

//Header components
@import 'styl/header/header.styl'
@import 'styl/header/dropdown.styl'
@import 'styl/header/multilevel.styl'
@import 'styl/header/chat.styl'
@import 'styl/header/search.styl'

// Footer components
@import 'styl/footer/footer.styl'