.fcom-text-sm {
  font-size: 0.8em;
}
.fcom-text-lg {
  font-size: 1.5em;
}
.fcom-notification {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  background-color: #f7674d;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 0.8em;
  float: right;
}
.fcom-dismiss {
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #358fce;
  display: inline-block;
  right: 14px;
  margin-top: 13px;
}
.fcom-dismiss [class^='fcom-icon'],
.fcom-dismiss [class*='fcom-icon'] {
  top: 5px;
  left: 4px;
  position: absolute;
  margin: 0 0 !important;
}
.fcom-dismiss:hover {
  background-color: #358fce;
}
.fcom-dismiss:hover [class^='fcom-icon-close'],
.fcom-dismiss:hover [class*='fcom-icon-close'] {
  background-position: 0 -14px;
  top: 4px;
}
.fcom-color-filler {
  height: 40px;
  width: 5px;
  display: inline-block;
}
.fcom-text-gray {
  color: #7f7f7f;
}
.fcom-text-gray .fcom-color-filler {
  background-color: #7f7f7f;
}
.fcom-text-yellow {
  color: #eee00a;
}
.fcom-text-yellow .fcom-color-filler {
  background-color: #eee00a;
}
.fcom-text-orange {
  color: #e67206;
}
.fcom-text-orange .fcom-color-filler {
  background-color: #e67206;
}
.fcom-text-green {
  color: #6ebe6a;
}
.fcom-text-green .fcom-color-filler {
  background-color: #6ebe6a;
}
.fcom-text-red {
  color: #dc1c13;
}
.fcom-text-red .fcom-color-filler {
  background-color: #dc1c13;
}
.fcom-text-purple {
  color: #8000a1;
}
.fcom-text-purple .fcom-color-filler {
  background-color: #8000a1;
}
.fcom-text-black {
  color: #222222;
}
.fcom-text-black .fcom-color-filler {
  background-color: #222222;
}
.fcom-icon-xs {
  background: url('./bootstrap/img/fcom-icons-13.png') no-repeat top left;
  width: 13px;
  height: 13px;
}
.fcom-icon-sm {
  background: url('./bootstrap/img/fcom-icons-24.png') no-repeat top left;
  width: 24px;
  height: 24px;
}
.fcom-icon-md {
  background: url('./bootstrap/img/fcom-icons-30.png') no-repeat top left;
  width: 30px;
  height: 30px;
}
.fcom-icon-lg {
  background: url('./bootstrap/img/fcom-icons-40.png') no-repeat top left;
  width: 40px;
  height: 40px;
}
.fcom-icon-add {
  background-position: 0 0;
}
.fcom-icon-close-hover {
  background-position: 0 -14px;
}
.fcom-icon-close {
  background-position: 0 -28px;
}
.fcom-icon-box {
  background-position: 0 0;
}
.fcom-icon-bug {
  background-position: 0 -25px;
}
.fcom-icon-cart {
  background-position: 0 -50px;
}
.fcom-icon-config {
  background-position: 0 -75px;
}
.fcom-icon-envelope {
  background-position: 0 -100px;
}
.fcom-icon-flag-canada {
  background-position: 0 -125px;
}
.fcom-icon-flag-custom {
  background-position: 0 -150px;
}
.fcom-icon-flag-global {
  background-position: 0 -175px;
}
.fcom-icon-flag-mexico {
  background-position: 0 -200px;
}
.fcom-icon-flag-usa {
  background-position: 0 -225px;
}
.fcom-icon-graph {
  background-position: 0 -250px;
}
.fcom-icon-logout {
  background-position: 0 -275px;
}
.fcom-icon-search-open {
  background-position: 0 -300px;
}
.fcom-icon-settings {
  background-position: 0 -325px;
}
.fcom-icon-speaker {
  background-position: 0 -350px;
}
.fcom-icon-tag {
  background-position: 0 -375px;
}
.fcom-icon-user {
  background-position: 0 -400px;
}
.fcom-icon-warning {
  background-position: 0 -425px;
}
.fcom-icon-chat {
  background-position: 0 0;
}
.fcom-icon-github {
  background-position: 0 -31px;
}
.fcom-icon-menu-close {
  background-position: 0 -62px;
}
.fcom-icon-menu-open {
  background-position: 0 -93px;
}
.fcom-icon-options {
  background-position: 0 -124px;
}
.fcom-icon-search-invert {
  background-position: 0 -155px;
}
.fcom-icon-search {
  background-position: 0 -180px;
}
.fcom-icon-settings {
  background-position: 0 -211px;
}
.fcom-icon-store {
  background-position: 0 -242px;
}
.fcom-icon-catalog {
  background-position: 0 0;
}
.fcom-icon-cms {
  background-position: 0 -41px;
}
.fcom-icon-customer {
  background-position: 0 -82px;
}
.fcom-icon-dashboard {
  background-position: 0 -123px;
}
.fcom-icon-extensions {
  background-position: 0 -164px;
}
.fcom-icon-sales {
  background-position: 0 -205px;
}
.fcom-icon-shortcut {
  background-position: 0 -246px;
}
.fcom-icon-system {
  background-position: 0 -287px;
}
.fcom-icon-trash {
  background-position: 0 -328px;
}
.fcom-header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #222222;
  top: 0;
}
.fcom-header > [class^='col'],
.fcom-header > [class*='col'] {
  min-height: 60px;
  max-height: 60px;
}
.fcom-header-brand {
  padding: 17px 10px 0 10px;
}
.fcom-header-navs {
  text-align: right;
}
.fcom-header-navs .dropdown {
  display: inline-block;
}
.fcom-header-placeholder {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  min-height: 60px;
  max-height: 60px;
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  padding-top: 20px;
  vertical-align: top;
}
.fcom-header-placeholder div {
  position: relative;
}
.fcom-header-placeholder-time {
  padding-top: 15px;
}
.fcom-multilevel {
  min-height: 60px;
  max-height: 60px;
  padding-top: 15px;
}
.fcom-multilevel:hover {
  cursor: pointer;
}
.fcom-multilevel {
  display: inline;
}
.fcom-multilevel.open .fcom-icon-menu-close {
  background-position: 0 -93px;
}
.fcom-multilevel-menu {
  height: 133px;
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  top: 60;
}
.fcom-multilevel-menu-firstLevel {
  margin: 0;
  background-color: #252525;
}
.fcom-multilevel-menu-secondLevel {
  padding-left: 35px;
  top: 193px;
  background-color: #292929;
}
.fcom-multilevel-menu-round {
  min-width: 80px;
  max-width: 80px;
  min-height: 80px;
  max-height: 80px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  background-color: #222222;
  border: 2px solid #222222;
  padding-top: 17px;
  padding-left: 17px;
  z-index: 10;
  margin-top: 8px;
}
.fcom-multilevel-menu-round [class^='fcom-icon'],
.fcom-multilevel-menu-round [class*='fcom-icon'] {
  top: 0;
  left: 19;
}
.fcom-multilevel-menu-round-small {
  min-width: 34px;
  max-width: 34px;
  min-height: 34px;
  max-height: 34px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  background-color: #24292b;
  border: 2px solid #222222;
  padding-top: 8px;
  padding-left: 8px;
  margin-left: 50;
  z-index: 11;
}
.fcom-multilevel-menu-round-small [class^='fcom-icon'],
.fcom-multilevel-menu-round-small [class*='fcom-icon'] {
  top: 0;
  left: 8;
}
.fcom-multilevel-menu-nav {
  display: inline-block;
  margin: 0 10px;
  padding-top: 5px;
  width: 95px;
  height: 108px;
  list-style: none;
}
.fcom-multilevel-menu-nav:hover .fcom-multilevel-menu-round,
.fcom-multilevel-menu-nav:hover .fcom-multilevel-menu-round-small {
  border: 2px solid #358fce;
}
.fcom-multilevel-menu-label {
  color: #ffffff;
  position: absolute;
  margin-top: 90px;
  width: 95px;
  padding-right: 15px;
  text-align: center;
}
.fcom-multilevel-menu-nav.selected > .fcom-multilevel-menu-round {
  border: 2px solid #b0cf05;
}
.fcom-multilevel-menu-nav.selected > .fcom-multilevel-menu-round:hover {
  border: 2px solid #358fce;
}
.fcom-multilevel-menu-round-small:hover {
  background-color: #358fce;
}
.fcom-dropdown {
  min-height: 60px;
  max-height: 60px;
  width: 60px;
  display: inline-block;
  text-align: center;
}
.fcom-dropdown > [class^='fcom-icon'],
.fcom-dropdown > [class*='fcom-icon'] {
  margin: 0 auto;
  margin-top: 15px;
}
.fcom-dropdown img {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}
.fcom-dropdown .fcom-notification {
  margin-left: 30px;
  margin-top: 5px;
}
.fcom-dropdown:hover {
  background: url('./bootstrap/img/header-hover.png') no-repeat bottom;
  cursor: pointer;
}
.fcom-dropdown-avatar {
  vertical-align: top;
}
.fcom-dropdown-avatar .fcom-dropdown {
  padding-top: 5px;
}
.fcom-dropdown-menu {
  color: #000000;
  border: none;
  background: none;
  text-align: left;
  border-radius: 0px;
  border: 1px solid #bebebe;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
}
.fcom-dropdown-menu li {
  height: 60px;
  padding-top: 5px;
  background: #ffffff;
  border-bottom: 1px solid #bebebe;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
}
.fcom-dropdown-menu li span {
  display: inline-block;
}
.fcom-dropdown-menu li:hover {
  background-color: #F0F0F0;
}
.fcom-dropdown-menu li:last-child {
  border-bottom: none;
}
.fcom-dropdown-arrow {
  background: url('./bootstrap/img/arrow-up.png') no-repeat;
  min-width: 25px;
  max-width: 25px;
  min-height: 25px;
  max-height: 25px;
  position: absolute;
  margin-left: 20px;
  top: -13;
}
.fcom-dropdown-menu-label {
  position: relative;
  top: 15px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}
.fcom-dropdown-menu-date {
  position: relative;
  float: right;
  top: 19px;
  margin-right: 60px;
  display: inline-block;
  color: #358fce;
  font-size: 0.7em;
}
.fcom-dropdown-inverted .fcom-dropdown-menu {
  left: auto;
  right: 0;
}
.fcom-dropdown-inverted .fcom-dropdown-arrow {
  right: 14px;
}
.fcom-dropdown-search {
  width: 600px;
  top: 22px;
}
.fcom-dropdown-store {
  width: 250px;
}
.fcom-dropdown-store [class^='fcom-icon'],
.fcom-dropdown-store [class*='fcom-icon'] {
  margin: 0 0;
  margin-left: 16px;
  margin-top: 12;
}
.fcom-dropdown-chat {
  width: 500px;
}
.fcom-dropdown-notification {
  width: 500px;
}
.fcom-dropdown-notification [class^='fcom-icon'],
.fcom-dropdown-notification [class*='fcom-icon'] {
  margin: 0 0;
  margin-left: 16px;
  margin-top: 12;
}
.fcom-dropdown-user {
  width: 250px;
}
.fcom-dropdown-user [class^='fcom-icon'],
.fcom-dropdown-user [class*='fcom-icon'] {
  margin: 0 0;
  margin-left: 16px;
  margin-top: 12;
}
.fcom-chat-search {
  width: 85%;
  margin: 8px auto;
}
.fcom-chat-search input[type=text] {
  border-radius: 0;
  padding-right: 35px;
}
.fcom-chat-search div {
  border-radius: 0;
  background-color: #ffffff;
}
.fcom-chat-search [class^='fcom-icon'],
.fcom-chat-search [class*='fcom-icon'] {
  position: absolute;
  top: 6px;
  right: 0;
  background-color: transparent;
}
.fcom-chat-gravatar {
  margin: 0 10px;
}
.fcom-chat-gravatar img {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}
.fcom-chat-name {
  font-weight: bold;
  color: #358fce;
}
.fcom-chat-status-online {
  color: #ffffff;
  background-color: #b0cf05;
  padding: 3px;
  margin: 0 10px;
  width: 50px;
  text-align: center;
}
.fcom-chat-status-offline {
  color: #b0cf05;
  background-color: #ffffff;
  padding: 3px;
  margin: 0 10px;
  width: 50px;
  text-align: center;
  border: 1px solid #b0cf05;
}
.fcom-chat-messages {
  color: #b0cf05;
  width: 200px;
}
.fcom-chat-status {
  width: 250px;
  float: right;
  padding-top: 14px;
}
.fcom-search {
  position: absolute;
  top: 14;
  left: -320;
  width: 320px;
  display: none;
}
.fcom-search input[type="text"] {
  border-radius: 0;
  color: #ffffff;
  background-color: #252525;
  padding-right: 66px;
}
.fcom-search-group {
  color: #ffffff;
  font-size: 0.8em;
  position: absolute;
  right: 5px;
  top: 5px;
}
.fcom-search-group div {
  display: inline-block;
}
.fcom-search-group:hover {
  cursor: pointer;
}
.fcom-search-label {
  vertical-align: top;
  margin-top: 5;
}
.fcom-search-status {
  font-weight: bold;
  font-size: 0.8em;
  width: 90px;
  display: inline-block;
}
.fcom-search-status span {
  vertical-align: top;
  margin-top: 18px;
}
.fcom-search-status .fcom-color-filler {
  margin-top: 4px;
}
.fcom-search-order {
  color: #358fce;
  display: inline-block;
  width: 60px;
  vertical-align: top;
  margin-top: 15px;
}
.fcom-search-date {
  width: 100px;
  vertical-align: top;
  margin-top: 15px;
  display: inline-block;
}
.fcom-search-name {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
  width: 100px;
  color: #ffffff;
  background-color: #358fce;
  text-align: center;
}
.fcom-search-address {
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 5px;
  white-space: normal;
  width: 220px;
}
.fcom-footer {
  position: fixed;
  width: 100%;
  height: 30px;
  background-color: #252525;
  bottom: 0;
  width: auto;
  color: #ffffff;
  right: 0;
}
.fcom-footer [class^='fcom-icon'],
.fcom-footer [class*="fcom-icon"] {
  position: relative;
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
}
.fcom-footer-copyright {
  position: relative;
  top: 5px;
  margin: 0 10px;
  display: inline-block;
}
.fcom-timeline .header {
  color: #ffffff;
  background-color: #358fce;
  padding: 5px 5px;
  margin-right: 15px;
}
.fcom-timeline .header div {
  display: inline-block;
}
.fcom-timeline .header span {
  display: block;
}
.fcom-timeline .header button {
  background: #256fa7;
  border: 1px solid #256fa7;
  border-radius: 0;
  padding: 13px, 10px;
}
.fcom-timeline .header button:hover {
  border: 1px solid #256fa7;
  background-color: #358fce;
}
.fcom-timeline .header .controls {
  vertical-align: middle;
  display: inline-block;
}
