- $c = $this->model

.accordion.accordion-blue.panel-group#settings-FCom_Ogone
    .panel.panel-default
        .panel-heading
            %a.accordion-toggle = $this->_('Ogone API')
        .panel-collapse.collapse.in#settings-FCom_Ogone-group0
            .panel-body
                .form-group
                    %label.col-md-2.control-label = $this->_('Test/Live Mode')
                    .col-md-5
                        %select.form-control(name="config[modules][FCom_Ogone][mode]")
                            - echo BUtil::optionsHtml(array(0=>'Test', 1=>'Live'), $c->get('modules/FCom_Ogone/mode'))
                .form-group
                    %label.col-md-2.control-label = $this->_('PSPID')
                    .col-md-5
                        %input.form-control(type="text" name="config[modules][FCom_Ogone][pspid]"
                            value="#{ $c->get('modules/FCom_Ogone/pspid') }")
                .form-group
                    %label.col-md-2.control-label = $this->_('Feedback Message')
                    .col-md-5
                        %input.form-control(type="text" name="config[modules][FCom_Ogone][feedback_message]"
                            value="#{ $c->get('modules/FCom_Ogone/feedback_message') }")
    .panel.panel-default
        .panel-heading
            %a.accordion-toggle = $this->_('Owner Information')
        .panel-collapse.collapse.in#settings-FCom_Ogone-group1
            .panel-body
                .form-group
                    %label.col-md-2.control-label = $this->_('Address')
                    .col-md-5
                        %input.form-control(type="text" name="config[modules][FCom_Ogone][owner_address]"
                            value="#{ $c->get('modules/FCom_Ogone/owner_address') }")
