- $c = $this->model

%fieldset
    .settings-container
        .group
            %h3
                %a(href="#") = $this->_('Ogone API')
            %div
                %table
                    %tr
                        %td = $this->_('Test/Live Mode')
                        %td
                            %select(name="config[modules][FCom_Ogone][mode]")
                                - echo BUtil::optionsHtml(array(0=>'Test', 1=>'Live'), $c->get('modules/FCom_Ogone/mode'))
                    %tr
                        %td = $this->_('PSPID')
                        %td
                            %input(type="text" name="config[modules][FCom_Ogone][pspid]"
                                value="#{ $c->get('modules/FCom_Ogone/pspid') }")
                    %tr
                        %td = $this->_('Feedback Message')
                        %td
                            %input(type="text" name="config[modules][FCom_Ogone][feedback_message]"
                                value="#{ $c->get('modules/FCom_Ogone/feedback_message') }")
        .group
            %h3
                %a(href="#") = $this->_('Owner Information')
            %div
                %table
                    %tr
                        %td = $this->_('Address')
                        %td
                            %input(type="text" name="config[modules][FCom_Ogone][owner_address]"
                                value="#{ $c->get('modules/FCom_Ogone/owner_address') }")
