<div>
    <div class="f-options-title">
        <p class="f-options-title__text" v-text="_('Configure columns and other options')"></p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="f-column-name">Field</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Field Delimiter</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Skip First Lines</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Batch Size</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Multi Value Delimiter</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Nesting Level Delimiter</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
            </fieldset>
        </div>
        <div class="col-md-3">
            <div class="f-column-name">Column ContentDB Field</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Given Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Additional Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Family Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Yomi Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Given Name Yomi</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Additional Name Yomi</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Family Name Yomi</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Name Prefix</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Name Suffix</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Initials</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Nickname</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Short Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Maiden Name</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   Birthday</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Gender</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Location</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Billing Information</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Directory Server</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Mileage</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Occupation</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Hobby</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Sensitivity</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Priority</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Subject</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Notes</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Group Membership</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  E-mail 1 - Type</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">E-mail 1 - Value</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Phone 1 - Type</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Phone 1 - Value</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  Work</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Kyiv</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Kyiv</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Address 1 - PO Box</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">Address 1 - Region</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>

                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   Address 1 - Postal Code</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Address 1 - Country</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> Address 1 - Extended Address</label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <div class="f-column-name">DB FieldDefault</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row">
                    <label class="col-sm-5 f-form-label" for="id7">
                        {{'Choose field'|_}}
                    </label>
                    <div class="col-sm-7">
                        <select2 v-model="filterToAdd" :params="addFilterSelect2Params" :options="availableFilters">
                            <!--<option v-for="flt in availableFilters" :value="flt.id">{{flt.text|_}}</option>-->
                        </select2>
                    </div>
                </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.product_sku  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.product_name  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.short_description  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.description  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.url_key  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.base  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.sale  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.price.sale.from_date  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.price.sale.to_date  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.price.cost  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.msrp  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.map  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.price.tier  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.notes  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.ship_weight  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.net_weight  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.image_url  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.avg_rating  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.num_reviews  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.is_hidden  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.categories  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.images  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.uom  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.create_at  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.update_at  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
            </fieldset>
        </div>
    </div>
</div>