<div>
    <div class="f-options-title">
        <p class="f-options-title__text">{{ 'Configure columns and other options'|_ }}</p>
    </div>
    <div class="row" v-if="isLoaded">
        <div class="col-md-3">
            <div class="f-column-name">{{ 'Field'|_ }}</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row" v-for="fc in fileConfig">
                    <label class="col-sm-5 f-form-label" for="id7">{{ fc.label }}</label>
                    <div class="col-sm-7"> <input class="f-input" type="text" v-model="config[fc.field]" :value="config[fc.field] || fc.default"> </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-3">
            <div class="f-column-name">{{ 'Column ContentDB Field'|_ }}</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row" v-for="field in config.first_row">
                    <label class="col-sm-5 f-form-label" :for="'id' + field">{{ field }}</label>
                    <select2 v-model="field" :params="addFilterSelect2Params" :options="availableFilters"></select2>
                    <div class="col-sm-7"> <input class="f-input" type="text" :id="'id' + field" :value="field"> </div>
                </div>
            </fieldset>
        </div>
        <div class="col-md-6">
            <div class="f-column-name">{{ 'DB FieldDefault'|_ }}</div>
            <fieldset class="f-form-container f-import-forms">
                <div class="f-form-group row">
                    <label class="col-sm-5 f-form-label" for="id7">
                        {{'Choose field'|_}}
                    </label>
                    <div class="col-sm-7">
                        <select2 v-model="filterToAdd" :params="addFilterSelect2Params" :options="availableFilters">
                            <!--<option v-for="flt in availableFilters" :value="flt.id">{{flt.text|_}}</option>-->
                        </select2>
                    </div>
                </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.product_sku  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.product_name  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.short_description  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.description  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.url_key  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.base  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.sale  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.price.sale.from_date  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.price.sale.to_date  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.price.cost  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.msrp  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.price.map  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.price.tier  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.notes  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.ship_weight  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.net_weight  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.image_url  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.avg_rating  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.num_reviews  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.is_hidden  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7"> product.categories  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">   product.images  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.uom  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.create_at  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
                <div class="f-form-group row"> <label class="col-sm-5 f-form-label" for="id7">  product.update_at  <a href="#" class="f-delete"><i class="fa fa-trash"></i></a></label> <div class="col-sm-7"> <input class="f-input" type="text" id="id7"/> </div> </div>
            </fieldset>
        </div>
    </div>
    <div class="row" v-else-if="isError">{{ error }}</div>
    <div class="row" v-else></div>
</div>