<div class="f-bordered-block">
    <div class="f-bordered-block__title">
        <p>{{ 'Status'|_ }}{{ c.status }}</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="scrollable-area">
                <table class="f-total-table f-striped-table">
                    <tr>
                        <td>Rows Found</td>
                        <th>{{ c.rows_total }}</th>
                    </tr>
                    <tr>
                        <td>Rows Processed</td>
                        <th>{{ c.rows_processed }}</th>
                    </tr>
                    <tr>
                        <td>Rows Succeccful</td>
                        <th>{{ successful }}</th>
                    </tr>
                    <tr>
                        <td>Rows Depends</td>
                        <th>{{ c.rows_skipped }}</th>
                    </tr>
                    <tr>
                        <td>Rows Not Changed</td>
                        <th>{{ c.rows_nochange }}</th>
                    </tr>
                    <tr>
                        <td>Rows Empty/Comment</td>
                        <th>0</th>
                    </tr>
                    <tr>
                        <td>Rows With Errors:</td>
                        <th>{{ c.rows_error }}</th>
                    </tr>
                    <tr>
                        <td>Total Errors:</td>
                        <th>{{ c.errors.length }}</th>
                    </tr>
                    <tr>
                        <td>Total Warnings:</td>
                        <th>0</th>
                    </tr>
                    <tr>
                        <td>Running For</td>
                        <th class="f-status-td">{{ c.run_time }} <span class="f-line-valid"></span></th>
                    </tr>
                    <tr>
                        <td>Crunch Rate:</td>
                        <th class="f-status-td">{{ c.run_time ? (c.rows_processed / c.run_time)|number_format(2) : 0 }} row/sec <span class="f-line-warning"></span></th>
                    </tr>
                    <tr>
                        <td>Estimate Run Time</td>
                        <th>154 second (s)</th>
                    </tr>
                    <tr>
                        <td>Estimate Finish</td>
                        <th>35127</th>
                    </tr>
                    <tr>
                        <td>Memory Used</td>
                        <th>351273296</th>
                    </tr>
                    <tr>
                        <td>Peak Memory Used</td>
                        <th>351273296</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-7 col-lg-offset-1">
            <div class="scrollable-area">
                <table class="f-total-table f-striped-table f-errors-table" v-if="c.errors.length">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Line</th>
                        <th>Column</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="e in c.errors">
                        <td class="f-status-td">ERROR <span class="f-line-error"></span></td>
                        <th>{{ e.line }}</th>
                        <th>{{ e.col }}</th>
                        <td>{{ e.message }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>