{% set orderCtrl =  APP.instance('FCom_Sales_Admin_Controller_Orders') %}
<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ "Orders"|_ }}
        </h1>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/backbonegrid').set('grid', { "config" : orderCtrl.gridConfig()}) | raw }}
    </div>
</div>