

{% set isLoggedIn = APP.instance('FCom_Admin_Model_User').isLoggedIn() %}
{% set adminChatsEnabled = APP.m('FCom_AdminChat').run_status == 'LOADED' %}

{% if adminChatsEnabled %}
<script>
 var curUser='{{ APP.instance('FCom_Admin_Model_User').sessionuser().username }}';
</script>
<div id='adminChatMain'></div>
<script type='text/template' class='template' id= 'chatWinTemplate'>            
        <div class='chat chat-fixed' style='margin-right: <%- index*300 %>px'>
            <div class='col-sm-12'>
                <div class='box'>
                    <div class='box-header box-header-small contrast-background'>
                        <div class='title'>
                          <i class='icon-comments-alt'></i>
                          Chat
                        </div>
                        <div class='actions'>
                          <a class="btn box-remove btn-xs btn-link" href="#"><i class='icon-remove'></i>
                          </a>                          
                          <a class="btn box-collapse btn-xs btn-link" href="#"><i></i>
                          </a>
                        </div>
                    </div>
                    <div class='box-content box-no-padding'>
                        <div class='scrollable' data-scrollable-height='300' data-scrollable-start='bottom'>
                          <ul class='list-unstyled list-hover list-striped'>
                         
                          </ul>
                        </div>
                        <form class="new-message" method="post" action="#" accept-charset="UTF-8"><input name="authenticity_token" type="hidden" />
                            <input class='form-control' id='message_body' name='message[body]' placeholder='Type your message here...' type='text'>
                            <button class='btn btn-success' type='submit'>
                                <i class='icon-plus'></i>
                            </button>
                        </form>
              
                    </div>
                </div>
            </div>
        </div>
</script>

<script type='text/template' class='template' id='chatItemTempate'>

    <div class="avatar">
        <img width="23" height="23" src="http://www.gravatar.com/avatar/70b03db954aa45fc2559e85f5d5bd13e?default=identicon" alt="Avatar">
    </div>
    
    <div class="name-and-time">
        <div class="name pull-left">
            <small>
                <a href="#" class="text-contrast"><%- username %></a>
            </small>
        </div>
        <div class="time pull-right">
            <small class="date pull-right text-muted">
                <span title="October 10, 2013 - 17:47" data-placement="top" class="timeago fade has-tooltip in">3 days ago</span>
                <i class="icon-time"></i>
            </small>
        </div>
    </div>
    
    <div class="body">
        &nbsp;<%- text %>
    </div>

</script>

{% endif %}

<script>
    require(['jquery', 'fcom.adminchat'], function($, AdminChat) {
        AdminChat.init({
            username:"{{ APP.instance('FCom_Admin_Model_User').sessionUser().username }}",
            status:'{{ isLoggedIn?"online":"offline" }}'
        })
    });
</script>
