- $c = $this->model
%fieldset.form-horizontal
    .accordion#settings-FCom_Admin
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('HTML')
            .accordion-body.in
                .accordion-inner
                    .control-group
                        %label.control-label(for="input--theme-selection") = $this->_('Theme')
                        .controls
                            %select#input-theme-selection(name="config[modules][FCom_Admin][theme]")
                                - echo BUtil::optionsHtml(BLayout::i()->getThemes('FCom_Admin', true), $c->get('modules/FCom_Admin/theme'))
                    .control-group
                        %label.control-label(for="add-js-files") = $this->_('Additional JS Files')
                        .controls
                            %textarea#add-js-files(name="config[modules][FCom_Admin][add_js_files]"
                                rows="5") = $c->get('modules/FCom_Admin/add_js_files')
                    .control-group
                        %label.control-label(for="add-css-files") = $this->_('Additional CSS Files')
                        .controls
                            %textarea#add-css-files(name="config[modules][FCom_Admin][add_css_files]"
                                rows="5") = $c->get('modules/FCom_Admin/add_css_files')
                    .control-group
                        %label.control-label(for="add-js-code") = $this->_('Additional JS Code')
                        .controls
                            %textarea.js-code-editor#add-js-code(name="config[modules][FCom_Admin][add_js_code]" data-mode="javascript"
                                rows="5") = $c->get('modules/FCom_Admin/add_js_code')
                    .control-group
                        %label.control-label(for="add-css-style") = $this->_('Additional CSS Style')
                        .controls
                            %textarea.js-code-editor#add-css-style(name="config[modules][FCom_Admin][add_css_style]" data-mode="css"
                                rows="5") = $c->get('modules/FCom_Admin/add_css_style')

        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('Area Settings')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label(for="inputEmail") = $this->_('IP: Mode')
                        .controls
                            %textarea(name="config[mode_by_ip][FCom_Admin]"
                                rows="5") = $c->get('mode_by_ip/FCom_Admin')
                    .control-group
                        %label.control-label(for="inputEmail") = $this->_('Modules to run in RECOVERY mode')
                        .controls
                            %input(type="text" name="config[recovery_modules][FCom_Admin]"
                                value="#{ $c->get('recovery_modules/FCom_Admin') }")
