- $c = $this->model

%fieldset
    .settings-container
        .group
            %h3
                %a(href="#") = $this->_('Area Settings')
            %div
                %table
                    %tr
                        %td = $this->_('IP: Mode')
                        %td
                            %textarea(name="config[mode_by_ip][FCom_Admin]"
                                style="width:400px; height:100px") = $c->get('mode_by_ip/FCom_Admin')
                    %tr
                        %td = $this->_('Modules to run in RECOVERY mode')
                        %td
                            %input(type="text" name="config[recovery_modules][FCom_Admin]"
                                value="#{ $c->get('recovery_modules/FCom_Admin') }")
        .group
            %h3
                %a(href="#") = $this->_('HTML')
            %div
                %table
                    %tr
                        %td = $this->_('Theme')
                        %td
                            %select(name="config[modules][FCom_Admin][theme]")
                                - echo $this->optionsHtml(BLayout::i()->getThemes('FCom_Admin', true), $c->get('modules/FCom_Admin/theme'))
                    %tr
                        %td = $this->_('Additional JS Files')
                        %td
                            .js-ace(name="config[modules][FCom_Admin][add_js_files]"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Admin/add_js_files')
                    %tr
                        %td = $this->_('Additional CSS Files')
                        %td
                            .js-ace(name="config[modules][FCom_Admin][add_css_files]"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Admin/add_css_files')
                    %tr
                        %td = $this->_('Additional JS Code')
                        %td
                            .js-ace(name="config[modules][FCom_Admin][add_js_code]" data-mode="javascript"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Admin/add_js_code')
                    %tr
                        %td = $this->_('Additional CSS Style')
                        %td
                            .js-ace(name="config[modules][FCom_Admin][add_css_style]" data-mode="css"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Admin/add_css_style')

:javascript
    $(function() { FCom.Admin.initAce() })