- $c = $this->model

%fieldset.form-horizontal 
    .accordion#settings-FCom_Frontend
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('HTML')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Theme')
                        .controls
                            %select(name="config[modules][FCom_Frontend][theme]")
                                - echo BUtil::optionsHtml(BLayout::i()->getThemes('FCom_Frontend', true), $c->get('modules/FCom_Frontend/theme'))
                    .control-group
                        %label.control-label = $this->_('Theme')
                        .controls
                    .control-group
                        %label.control-label = $this->_('Additional JS Files')
                        .controls
                            %textarea(name="config[modules][FCom_Frontend][add_js_files]"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Frontend/add_js_files')
                    .control-group
                        %label.control-label = $this->_('Additional CSS Files')
                        .controls
                            %textarea(name="config[modules][FCom_Frontend][add_css_files]"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Frontend/add_css_files')
                    .control-group
                        %label.control-label = $this->_('Additional JS Code')
                        .controls
                            %textarea.js-code-editor(name="config[modules][FCom_Frontend][add_js_code]" data-mode="javascript"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Frontend/add_js_code')
                    .control-group
                        %label.control-label = $this->_('Additional CSS Style')
                        .controls
                            %textarea.js-code-editor(name="config[modules][FCom_Frontend][add_css_style]" data-mode="css"
                                style="width:400px; height:100px") = $c->get('modules/FCom_Frontend/add_css_style')
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('Area Settings')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('IP: Mode')
                        .controls
                            %textarea(name="config[mode_by_ip][FCom_Frontend]"
                                style="width:400px; height:100px") = $c->get('mode_by_ip/FCom_Frontend')
                    .control-group
                        %label.control-label = $this->_('Modules to run in RECOVERY mode')
                        .controls
                            %input(type="text" name="config[recovery_modules][FCom_Frontend]"
                                value="#{ $c->get('recovery_modules/FCom_Frontend') }")
        .accordion-group
            .accordion-heading
                .accordion-toggle = $this->_('Navigation')
            .accordion-body
                .accordion-inner
                    .control-group
                        %label.control-label = $this->_('Select top menu')
                        .controls
                            %select(name="config[modules][FCom_Frontend][nav_top][type]")
                                - echo BUtil::optionsHtml(array(''=>'Select an option', 'cms'=>'CMS menu', 'categories_root'=>'Categories menu by root id', 'categories_custom'=>'Categories menu by custom selection'), $c->get('modules/FCom_Frontend/nav_top/type'))
                    .control-group
                        %label.control-label = $this->_('Root id cms')
                        .controls
                            %input(type="text" name="config[modules][FCom_Frontend][nav_top][root_cms]"
                                value="#{ $c->get('modules/FCom_Frontend/nav_top/root_cms') }")
                    .control-group
                        %label.control-label = $this->_('Root id categories')
                        .controls
                        %td
                            %input(type="text" name="config[modules][FCom_Frontend][nav_top][root_category]"
                                value="#{ $c->get('modules/FCom_Frontend/nav_top/root_category') }")
                                

:javascript
    $(function() { FCom.Admin.initCodeEditors() })
