<div class='box-content' style="height: 300px; overflow-y: scroll">
    <table class="f-standart-table f-striped-table">
        <thead>
            <tr>
                <th>{{ "SKU"|_ }}</th>
                <th>{{ "Name"|_ }}</th>
                <th>{{ "Qty"|_ }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="!widget.data.products">
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
            <tr v-else v-for="product in widget.data.products">
                <td>{{ product.inventory_sku }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.qty_in_stock }}</td>
            </tr>
        </tbody>
    </table>
</div>
