<div class='box-content' style="max-height: 300px; overflow-y: auto">
    <table class="f-standart-table f-striped-table">
        <thead>
        <tr>
            <th>{{ "SKU"|_ }}</th>
            <th>{{ "Name"|_ }}</th>
            <th>{{ "Date added"|_ }}</th>
            <th>{{ "Category"|_ }}</th>
        </tr>
        </thead>
        <tr v-if="!widget.data.products">
            <td colspan="6">{{ "No data"|_ }}</td>
        </tr>
        <tr v-else v-for="product in widget.data.products">
            <td>{{ product.product_sku }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.create_at }}</td>
            <td>{{ product.categories }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>