<div class='box-content' style="max-height: 300px; overflow-y: auto">
    <table class="f-standart-table f-striped-table">
        <thead>
            <tr>
                <th>{{ "Term"|_ }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-if="!widget.data.terms">
                <td colspan="6">{{ "No data"|_ }}</td>
            </tr>
            <tr v-else v-for="term in widget.data.terms">
                <td>{{ term.query }}</td>
            </tr>
        </tbody>
    </table>
</div>