<div>
    <div class="row f-multiple-form">
        <div class="col-xs-5 text-right">
            <span>{{'Default'|_}}</span>
        </div>
        <div class="col-xs-5">
            <select2 class="f-input" v-model="default_mode">
                <option v-for="m in ipModes" :value="m.id">{{m.id}}</option>
            </select2>
        </div>
        <div class="col-xs-2">
            <a href="#" class="add-button f-multiple-form_button" @click.prevent="addMode">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div v-for="m in ipmodes_value" class="row f-multiple-form">
        <div class="col-xs-5 text-right">
            <input type="text" class="f-input" v-model="m.ip">
        </div>
        <div class="col-xs-5">
            <select2 class="f-input" v-model="m.mode">
                <option v-for="m in ipModes" :value="m.id">{{m.id}}</option>
            </select2>
        </div>
        <div class="col-xs-2">
            <a href="#" class="del-button f-multiple-form_button" @click.prevent="delMode(m)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>