<div>
    <div class="row ip-mode">
        <div class="col-xs-5 text-right">
            <span>{{'Default'|_}}</span>
        </div>
        <div class="col-xs-5">
            <select2 class="form-control" v-model="default_mode">
                <option v-for="m in ipModes" :value="m.id">{{m.id}}</option>
            </select2>
        </div>
        <div class="col-xs-2">
            <a href="#" class="add-mode" @click.prevent="addMode">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div v-for="m in ipmodes_value" class="row ip-mode">
        <div class="col-xs-5 text-right">
            <input type="text" class="form-control" v-model="m.ip">
        </div>
        <div class="col-xs-5">
            <select class="form-control" v-model="m.mode">
                <option v-for="m in ipModes" :value="m.id">{{m.id}}</option>
            </select>
        </div>
        <div class="col-xs-2">
            <a href="#" class="del-mode" @click.prevent="delMode(m)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>