
<div class="admin-main-content">
    <div class="multilanguage-block">
        <div class="block-title">
            <p>{{'Multi Language'|_}}</p>
        </div>
        <div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <select2 class="form-control">
                        <option>Language1</option>
                        <option>Language2</option>
                    </select2>
                </div>
                <div class="col-xs-5">
                    <input class="form-control" type="text" />
                </div>
                <div class="col-xs-1">
                    <a href="#" class="delete"><i aria-hidden="true" class="fa fa-trash"></i></a>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-xs-5">
                    <select2 class="form-control">
                        <option>Language1</option>
                        <option>Language2</option>
                    </select2>
                </div>
            </div>
        </div>
    </div>
</div>