- $c = $this->model;
- $paymentMethods = BUtil::arrayToOptions(FCom_Sales_Main::i()->getPaymentMethods(), '.getName');
- $shippingMethods = BUtil::arrayToOptions(FCom_Sales_Main::i()->getShippingMethods(), '.getName');

.accordion.accordion-blue.panel-group#settings-FCom_Sales
    .panel.panel-default
        .panel-heading
            %a.accordion-toggle = $this->_('Defaults')
        .panel-collapse.collapse.in#settings-FCom_Sales-group0
            .panel-body
                .form-group
                    %label.col-md-2.control-label = $this->_('Default Shipping Method')
                    .col-md-5
                        %select.form-control(name="config[modules][FCom_Sales][default_shipping_method]")
                            - echo BUtil::optionsHtml($shippingMethods, $c->get('modules/FCom_Sales/default_shipping_method'))
                .form-group
                    %label.col-md-2.control-label = $this->_('Default Payment Method')
                    .col-md-5
                        %select.form-control(name="config[modules][FCom_Sales][default_payment_method]")
                            - echo BUtil::optionsHtml($paymentMethods, $c->get('modules/FCom_Sales/default_payment_method'))