- $storeName = BConfig::i()->get('modules/FCom_Core/store_name')
%section.adm-login-form
    %form.fcom-admin-login#recovery-form(method="post" action="#{BApp::href('password/recover')}")
        %fieldset
            %header.fcom-admin-login-header
                %header.section-title = $this->_('Password Recover')
            .fcom-admin-login-content
                - echo $this->messagesHtml('admin')
                .control-group
                    %label(for="inputEmail") = $this->_('Email')
                    .controls
                        %input.required#inputEmail(type="email" name="email")
                        %button.btn.btn-primary(type="submit") = $this->_('Send Recovery Instructions')
                .control-group
                    %a(href="#{BApp::href()}")
                        &laquo;
                        = $this->_('Back to Login')
        %p.copyright.text-center
            &copy; #{date('Y').' '.$storeName.' '.$this->_('All rights reserved')}

:javascript
    $(function() {
        $('#recovery-form').validate();
    })