<fieldset>
    <div class="form-group">
        <div class="col-md-12">
            {{ THIS.view('jqgrid').set('config', APP.instance('FCom_Cms_Admin_Controller_Blocks').historyGridConfig(THIS.get('model')))|raw }}
        </div>
    </div>
</fieldset>
