- $m = $this->model

%fieldset.adm-section-group
    %ul.form-list
        %li
            %h4.label = $this->_('Handle')
            %input(type="text" name="model[handle]" value="#{$m->handle}")
        %li
            %h4.label = $this->_('Description')
            %input(type="text" name="model[description]" value="#{$m->description}")
        %li
            %h4.label = $this->_('Content')
            %textarea#main-content(name="model[content]") = $m->content
        %li
            %h4.label = $this->_('Content Format')
            %select(name="model[renderer]")
                - echo BUtil::optionsHtml(BLayout::i()->getAllRenderers(true), $m->renderer)
:javascript
    require(['jquery'], function($) {
        $(function() {
            adminForm.wysiwygCreate('main-content');
        });
    })
