{% set hlp = APP.instance('FCom_Admin_Model_User') %}
{% set user = hlp.isLoggedIn() ? hlp.sessionUser() : null %}

{% if user and user.getPermission('frontendcp') %}
    <style>
        .admin-toolbar-wrapper {
            width:100%,
            height:20px,
            position:fixed,
            top:0,
            left:0
        }
        .admin-toolbar {
            background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(198,198,198)), color-stop(1, rgb(226,225,226)));
            border-bottom: 1px solid #727272;
            padding: 3px;
        }
    </style>

    <div class="admin-toolbar-wrapper">
        <div class="admin-toolbar">
            <div class="f-right">
                <img src="{{ UTIL.gravatar(user.get('email')) }}" width="16" height="16" style="margin:3px 13px"/>
                {{ user.fullName() }}
            </div>
            {% if user.getPermission('frontendcp/edit') %}
                <button type="button" id="admin-toolbar--edit">{{ 'Edit Page Contents' |_ }}</button>
            {% endif %}
        </div>
    </div>

    <script>
        (function() {
            window.mercuryPackages = {
                fcom: { javascripts: 'js/mercury.js,js/mercury_dialogs.js', stylesheets: 'css/mercury.bundle.css' }
            }
            // updated mercury_loader.js:59: var options = window.mercuryOptions || { ... }
            window.mercuryOptions = {
                src: "{{ APP.src('FCom_FrontendCP', 'Frontend') }}",
                pack: 'fcom'
            }

            var currentlyEditing = window.frameElement && window.frameElement.id === 'mercury_iframe';
            var saveUrl = "{{ APP.href('frontendcp/update') }}";
            var uploadUrl = "{{ APP.href('frontendcp/upload') }}";
            if (!currentlyEditing) {
                $('#admin-toolbar--edit').click(function() {
                    $.getScript("{{ APP.src('FCom_FrontendCP', 'Frontend/js/mercury_loader.js') }}", function() {
                        $(window).on('mercury:ready', function() {
                            window.Mercury.saveUrl = saveUrl;
                            window.Mercury.config.uploading.url = uploadUrl;

                            //window.Mercury.config.regions.identifier = 'data-id';
                            window.Mercury.config.regions.dataAttributes = ['entity', 'model_id', 'field'];
                            //window.Mercury.config.regions.determineType = function(region) { console.log('determineType', region); };
                        })
                    });
                    return false;
                })
            } else {
                $('#admin-toolbar--edit').html("{{ 'Cancel Page Editing' |_ }}");
                $('#admin-toolbar--edit').click(function() {
                    top.location.href = location.href
                        .replace(/mercury_frame=true/, '')
                        .replace(/_=[0-9]+/, '')
                        .replace(/&$/, '')
                        .replace(/\?$/, '');
                    return false;
                })
            }
            $(document).ajaxSuccess(function(event, xhr, settings) {
console.log(event, xhr, settings);
            });
        })();
    </script>
{% endif %}
