<header class="fcom-admin-main-title">
    <span class="title">{{ THIS.get('title') }}</span>
    <div class="btn-group">
        {{ THIS.get('actions')|join(' ') | raw }}
    </div>
</header>
{{ THIS.view('core/messages') | raw }}
{{ THIS.view('core/htmlgrid-wrapper') | raw }}
