<div>
      <div class="f-control-panel">
            <div v-if="thumbUrl || formTitle" class="f-control-panel__elem">
                  <div class="f-form-title">
                        <img v-if="thumbUrl" :src="thumbUrl" width="80" class="f-thumb-img">
                        <p class="f-form-title__text" :class-bak="{'hidden-xs':!thumbUrl}">{{formTitle|_}}</p>
                  </div>
            </div>

            <!--Actions buttons for desktop-->

            <sv-comp-actions :groups="form.config.page_actions_groups" container-class="visible-lg visible-md f-control-panel__elem" @event="processActionEvent"></sv-comp-actions>
      </div>


      <!--add "f-control-panel" class only for mobile-->
      <div class="f-control-panel">
            <sv-comp-tabs :config="form.config" :tab="tab" container-class="" @event="processTabEvent"></sv-comp-tabs>

            <!--Actions buttons for mobile-->

            <sv-comp-actions :groups="form.config.page_actions_groups" container-class="hidden-lg hidden-md f-control-panel__elem" @event="processActionEvent"></sv-comp-actions>
      </div>

      <component v-for="t in formTabs" :key="t.name" v-show="tab === t" :is="t.component_config" :form="form" :tab="t.name" @event="processTabEvent"></component>

</div>