<div class="row">
      <div class="col-md-12 col-sm-12">
            <div class="f-form-title">
                  <img v-if="thumbUrl" :src="thumbUrl" width="80" class="f-thumb-img">
                  <p class="f-form-title__text hidden-xs">{{'Form name'|_}}</p>
            </div>
      </div>
      <div class="col-md-6 col-sm-12">
                  <div class='f-horizontal-menu' :class="{open:ddOpen('menu-open')}" >
                        <ul>
                              <li v-for="t in formTabs" :class="{active:tab === t.name}" class="f-horizontal-menu__item">
                                    <a href="#" @click.prevent="switchTab(t.name)" class="f-horizontal-menu__link"> {{t.label|_}} <i v-if="t.errors" class="fa fa-warning"></i><i v-if="t.edited" class="fa fa-pencil"></i>
                                    </a>
                              </li>
                              <li class="f-horizontal-menu__item f-dropdown">
                                    <div class="f-dropdown__toggle f-horizontal-menu__link" data-toggle="dropdown" @click.prevent.stop="ddToggle('menu-open')">Tabs</div>
                                    <ul class="f-horizontal-menu__dropdown-menu">
                                          <li v-for="t in formTabs" :class="{active:tab === t.name}" class="f-horizontal-menu__item">
                                                <a href="#" @click.prevent="switchTab(t.name)" class="f-horizontal-menu__link"> {{t.label|_}} <i v-if="t.errors" class="fa fa-warning"></i><i v-if="t.edited" class="fa fa-pencil"></i>
                                                </a>
                                          </li>
                                    </ul>
                              </li>
                        </ul>
                  </div>
                  <div class='f-horizontal-menu f-dropdown' :class="{open:ddOpen('menu-open')}">
                       <ul>
                             <li v-for="t in formTabs" :class="{active:tab === t.name}" class="f-horizontal-menu__item">
                                   <a href="#" @click.prevent="switchTab(t.name)" class="f-horizontal-menu__link"> {{t.label|_}} <i v-if="t.errors" class="fa fa-warning"></i><i v-if="t.edited" class="fa fa-pencil"></i>
                                   </a>
                             </li>
                              <li class="f-horizontal-menu__item f-dropdown" >
                                   <div class="f-dropdown__toggle f-horizontal-menu__link" data-toggle="dropdown" @click.prevent.stop="ddToggle('menu-open')">Tabs</div>
                                   <ul class="f-horizontal-menu__dropdown-menu">
                                         <li v-for="t in formTabs" :class="{active:tab === t.name}" class="f-horizontal-menu__item">
                                               <a href="#" @click.prevent="switchTab(t.name)" class="f-horizontal-menu__link"> {{t.label|_}} <i v-if="t.errors" class="fa fa-warning"></i><i v-if="t.edited" class="fa fa-pencil"></i>
                                               </a>
                                         </li>
                                   </ul>
                              </li>
                        </ul>
                  </div>
      </div>
      <div class="col-md-6 col-sm-12">
            <!--<div class="f-buttons-block text-right">
                  <button v-for="a in form.config.actions" type="button" class="button" :class="a.class" @click="buttonAction(a)" v-ladda="{on:action_in_progress === a.name}">
                        {{a.label|_}}
                  </button>
            </div>-->
            <div class="f-buttons-block text-right">
                  <button type="button" class="button button2" @click="goBack()">{{'Back'|_}}</button>
                  <div class="f-dropdown  f-actions-dropdown" :class="{open:ddOpen('actions-open')}">
                        <button type="button" class="button button1" @click="goBack()">{{'Save'|_}}</button>
                        <a href="" class="f-caret f-dropdown__toggle" @click.prevent.stop="ddToggle('actions-open')"><b class="f-caret__elem"></b></a>
                        <div class="f-dropdown__menu">
                              <button type="button" class="button button2" @click="doDelete()">{{'Delete'|_}}</button>
                        </div>
                  </div>
                  <button type="button" class="button button1" @click="save(true)">{{'Save and Continue'|_}}</button>
            </div>
      </div>
      <div class="col-md-12 col-sm-12">
            <component v-for="t in formTabs" v-show="tab === t.name" :is="t.component_config" :form="form" @event="processTabEvent"></component>
      </div>
</div>