ul.nav.language .dropdown-menu { min-width:0; }

#categorymenu { margin:10px 0 10px 0; }
.headerstrip { background:none; }


/* ------------  Top Cart ------------ */
.headerstrip #main-nav ul > li.topcart { background:#fff; height:45px }
.headerstrip #main-nav ul > li.topcart a { color:#999999; font-size:14px }
.headerstrip .navbar .nav li.topcart .dropdown-toggle .caret, .navbar .nav li.dropdown.open.topcart .caret { border-bottom-color:#999999; border-top-color:#999999 }
.headerstrip ul.topcartopen { font-size:12px }
.headerstrip ul.topcartopen li > table { border-collapse: collapse; width: 100%; margin-bottom: 5px; padding:10px }
.headerstrip ul.topcartopen li > table td {
color: #; vertical-align: top; padding: 5px 10px; border-bottom: 1px dashed #E7E7E7; }
.headerstrip ul.topcartopen li > table .image { width: 1px; }
.headerstrip ul.topcartopen li > table .image img { text-align: left; }
.headerstrip ul.topcartopen li > table .name small { color: #999999; }
.headerstrip ul.topcartopen li > table .quantity { text-align: right; }
.headerstrip ul.topcartopen li > table td.total { text-align: right; }
.headerstrip ul.topcartopen li > table .remove { text-align: right; }
.headerstrip ul.topcartopen li > table .remove img { cursor: pointer; }
.headerstrip #header #cart .mini-cart-total > table { border-collapse: collapse; padding: 5px; float: right; clear: left; margin-bottom: 5px; }
.headerstrip ul.topcartopen li > table a { padding:0px; }
.headerstrip .shoppingcarttop { position:absolute; top:0; right:250px }
.headerstrip nav.subnav select { display: none; }
.headerstrip ul.nav.language li.dropdown { border:1px solid #f2f2f2; display:inline-block; margin-right:15px; text-transform:uppercase }
.headerstrip ul.nav.topcart li.dropdown { border:1px solid #f2f2f2; display:inline-block; text-transform:uppercase }
.headerstrip .topcall { font-size:16px; background:#fff url(../img/sprite.png) left -287px no-repeat; line-height: 31px; padding: 0 0 0 41px; margin-left:40px }
.headerstrip li.carticon.dropdown { background:url(../img/sprite.png) no-repeat 10px -328px; padding:1px 10px 4px 45px}

.btn-gray { background:#F0F0F0;}

.productcart { border:none; }

.pagination > li > a, .pagination > li > span { padding: 4px 8px;}
