!!!
- echo '<html '.$this->getHtmlAttributes().'>'
%head
    - echo $this->hook('head')
    :javascript
        window.appConfig = {
            baseHref: '#{BApp::href()}'
        }
%body(class="#{$this->bodyClass}")
    -#.top-message
        -#Something happened here!

    - if (FCom_Admin_Model_User::i()->isLoggedIn())
        - echo $this->hook('header')
        .row
            .two.columns
                - echo $this->hook('top-nav')
            .ten.columns
                - echo $this->hook('main')

        :javascript
            /*
            head(function() {
                var $main = $('.adm-content-box'), $win = $(window), $doc = $(document);
                if ($main.length) {
                    $win.resize(function() {
                        var h = $win.height(); //Math.max($doc.height(), $win.height());
                        $main.height(h-$main.offset().top);
                    }).trigger('resize');
                }
            });
            */

    - else
        .adm-wrapper#root-layout
            - echo $this->hook('main')
    - echo $this->hook('footer')