<div :class="'comment-' + (comment.type === 'private' ? 'private' : 'public')">
    <div class="comment-title">
        <p class="comment-author">{{comment.author_name}}</p>
        <div class="comment-time">
            <span>{{comment.create_at|ago}}</span>
            <div class="detailed-date">
                <p>{{comment.create_at|date}}</p>
            </div>
        </div>
        <div :class="{'private-status':comment.type==='private', 'public-status':comment.type!=='private'}">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{{ comment.type === 'private' ? 'private' : 'public' }}</span>
        </div>
    </div>
    <div class="comments-status">

    </div>
    <div class="control-panel">
        <a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>
        <a href="#" v-if="comment.type==='private'"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="#" v-if="comment.type==='private'"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
    <div class="comment-text">
        {{comment.contents}}
    </div>
    <div class="row">
        <div class="col-md-10 col-xs-12 col-sm-12">
            <div class="added-files " v-if="comment.files">
                <i class="fa fa-paperclip" aria-hidden="true"></i>
                <div v-for="file in comment.files" class="file">
                    <img :src="file.icon_url" :alt="file.name" />
                    <a :href="file.download_url"></a><span>{{file.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>