{% set m = THIS.get('model') %}

<div class="form-group">
    <label class="col-md-2 control-label" for="main-layout_update">{{ 'Layout Update'|_ }}</label>
    <div class="col-md-10">
        <textarea id="main-layout_update" class="form-control" rows="5" name="model[layout_update]">{{ m.get('layout_update') }}</textarea>
    </div>
</div>