{% set m = THIS.get('model') %}
<fieldset class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="main-content">{{ 'Content'|_ }}</label>
    <div class="controls">
      <textarea id="main-content" name="model[content]">{{ m.get('content') }}</textarea>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="main-layout_update">{{ 'Layout Update'|_ }}</label>
    <div class="controls">
      <textarea id="main-layout_update" name="model[layout_update]" style="width:90%; height:100px">{{ m.get('layout_update') }}</textarea>
    </div>
  </div>
</fieldset>
<script>
    require(['jquery', 'ckeditor'], function($) {
        $(function() {
            var ck = CKEDITOR.instances['main-content'];
            ck && ck.destroy();
            //$('#main-content').ckeditor();
        });
    })
</script>
