- $m = $this->model

%fieldset
    %ul.form-list
        %li.label-l
            %label(for="main-node_name") = $this->_('Node Name')
            %input#main-node_name(type="text" name="model[node_name]" value="#{$m->node_name}")
        %li.label-l
            %label(for="main-url_key") = $this->_('Url Key')
            %input#main-url_key(type="text" name="model[url_key]" value="#{$m->url_key}")
        %li.label-l
            %label(for="main-top_menu") = $this->_('Show in top menu')
            %input(type="hidden" name="model[top_menu]" value="0")
            %input(type="checkbox" name="model[top_menu]" value="1" #{$m->top_menu == 1 ? 'checked':''})
