- $m = $this->model

%fieldset.form-horizontal
    .control-group
        %label.control-label(for="main-node_name") = $this->_('Node Name')
        .controls
            %input#main-node_name(type="text" name="model[node_name]" value="#{$m->node_name}")
    .control-group
        %label.control-label(for="main-url_key") = $this->_('Url Key')
        .controls
            %input#main-url_key(type="text" name="model[url_key]" value="#{$m->url_key}")
    .control-group
        %label.control-label(for="model-is-top-menu") = $this->_('Show in top menu')
        .controls
            %select#model-is-top-menu(name="model[is_top_menu")
                - echo BUtil::optionsHtml(array(0=>'No', 1=>'Yes'), $m->is_top_menu)