
.f-rating-stars {
  position: relative;
  display: inline-block;
  margin-top: -6px;
  width: 105px;
  vertical-align: middle;
  [class$='stars'] {
    display: block;
    height: 21px;
    background-image: url(../img/rating_stars.svg);
    background-repeat: repeat-x;
    background-position: 0 0;
  }
  .f-filled-stars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .f-empty-stars {
    background-position: 0 -19px;
  }
  &.f-lg-stars {
    width: 120px;
    [class$='stars'] {
      height: 25px;
      background-image: url(../img/rating_stars_lg.svg);
      background-size: 24px;
    }
    .f-empty-stars {
      background-position: 0 -22px;
    }
  }
  &.f-sm-stars {
    width: 84px;
    [class$='stars'] {
      height: 17px;
      background-image: url(../img/rating_stars_sm.svg);
    }
    .f-empty-stars {
      background-position: 0 -16px;
    }
  }
  &.f-xs-stars {
    width: 64px;
    [class$='stars'] {
      height: 12px;
      background-image: url(../img/rating_stars_xs.svg);
      background-size: 13px;
    }
    .f-empty-stars {
      background-position: 0 -12px;
    }
  }
}
.f-prod-reviews {
  font-size: 13px;
  .f-prod-reviews-title {
    font-size: 16px;
    font-weight: bold;
    clear: both;
  }
  #f-prod-reviews-container {
    a {
      color: #0066c0;
      &:hover {
        span {
          text-decoration: underline;
          color: #c45500;
          &.progress {
            text-decoration: none;
          }
        }
      }
    }
    .show-all {
      display: block;
    }
  }
  .f-prod-review-avg {
    padding: 15px 0 25px;
    h5 {
      margin-top: 0;
    }
    .f-rating-filter-container {
      padding: 0;
    }
    .f-avg-out-of-max {
      display: block;
      margin: 5px 0 10px;
    }
    .f-prod-review-attrs dl {
      margin-bottom: 0;
    }
    .f-prod a {
      font-size: 16px;
      font-weight: bold;
    }
  }
  .f-prod-review-post {
    margin: 25px 0 0;
    padding-bottom: 15px;
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 25px;
      padding-bottom: 0;
    }
    small {
      color: #555;
      display: block;
    }
    .f-rating-stars {
      display: inline-block;
      margin-right: 5px;
      margin-top: -5px;
    }
    h5 {
      display: inline-block;
      margin-bottom: 3px;
      margin-top: 0;
      font-size: 15px;
      font-weight: bold;
    }
    .meta {
      display: block;
      margin: 0 0 10px;
      font-size: .9em;
    }
    .verified {
      display: block;
      color: #c45500;
      margin: 0 0 10px;
      font-size: 12px;
    }
    .f-prod-review-attrs {
      padding: 0;
      .block_review_helpful {
        margin-top: 20px;
      }
    }
  }
  .f-rating-filter {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 15px;
    span {
      display: inline-block;
    }
    .stars-amount {
      width: 40px;
      margin-right: 10px;
    }
    .progress {
      width: 100px;
      margin: 0 10px 0 0;
      position: relative;
      top: 4px;
      border-radius: 0;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.4),inset 0 0 0 1px rgba(0,0,0,.1);
      .progress-bar {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.25),inset 0 -1px 0 rgba(0,0,0,.05);
      }
    }
  }

}
#f-prod-review-form-container {
  max-width: 500px;
}

//colors
$color_alto_approx: #ddd;
$color_pink_swan_approx: #bbb;
$color_storm_dust_approx: #666;
$black_50: rgba(0,0,0,.5);
$color_flush_orange_approx: #f70;
$color_red_stage_approx: #c60;
$color_oregon_approx: #940;
$gold: gold;
$color_copper_approx: #b57340;
$golden_grass:  goldenrod;
$color_yellow_sea_approx: #ea0;

.rating {
  float: left;
  > label {
    &:active {
      position: relative;
      top: 2px;
      left: 2px;
    }
    &:hover ~ input:checked ~ label {
      color: $color_yellow_sea_approx;
      text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
    }
  }
  &:not(:checked) {
    > input {
      position: absolute;
      top: -9999px;
      clip: rect(0,0,0,0);
    }
    > label {
      float: right;
      width: 1em;
      padding: 0 .1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 200%;
      line-height: 1.2;
      color: $color_alto_approx;
      text-shadow: 1px 1px $color_pink_swan_approx, 2px 2px $color_storm_dust_approx, .1em .1em .2em $black_50;
      &:before {
        content: '★ ';
      }
      &:hover {
        color: $gold;
        text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
        ~ label {
          color: $gold;
          text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
        }
      }
    }
  }
  > input:checked {
    ~ label {
      color: $color_flush_orange_approx;
      text-shadow: 1px 1px $color_red_stage_approx, 2px 2px $color_oregon_approx, .1em .1em .2em $black_50;
      &:hover {
        color: $color_yellow_sea_approx;
        text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
        ~ label {
          color: $color_yellow_sea_approx;
          text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
        }
      }
    }
    + label:hover {
      color: $color_yellow_sea_approx;
      text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
      ~ label {
        color: $color_yellow_sea_approx;
        text-shadow: 1px 1px $golden_grass, 2px 2px $color_copper_approx, .1em .1em .2em $black_50;
      }
    }
  }
}