<div>
	<div class="secondary-menu">
        <nav class="navbar navbar-default">
            <ul class="nav">
                <li v-for="l1 in settings.config.nav" class="dropdown" :class="{open:ddOpen('settings/' + l1.path)}">
                    <a href="#" :title="l1.label" class="dropdown-toggle" data-toggle="dropdown" @click.prevent.stop="ddToggle('settings/' + l1.path)">
						<i class="fa fa-caret-down" aria-hidden="true"></i>
                        {{l1.label}}
                    </a>
                    <ul class="dropdown-menu">
                        <li v-for="l2 in l1.children"><a href="#" @click.prevent="switchTab(l2)">{{l2.label}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
	<div class="admin-main-content">
		<div class="block-title"><p>{{pageTitle}}</p></div>
        <ul>
            <li v-for="panel in panels">
                <div class="panel-header">
                    <a href="#" @click.prevent="togglePanel(panel)">{{panel.label}}</a>
                </div>
                <div class="panel-container" v-if="panelsOpen[panel.path]">
                    <component :is="panel.component" :settings="settings"></component>
                </div>
            </li>
        </ul>
    </div>
</div>