<?php

return array(
    'db' => array('dbname'=>'fulleron', 'user'=>'root', 'logging'=>1),
    'cookie' => array('domain'=>'localhost', 'path'=>'/fulleron', 'namespace'=>'fulleron'), //DB (def)
    'bootstrap' => array('modules' => array('fcom.catalog')),
    'encrypt' => array('key' => '0123456789ABCDEF'),
    'debug' => array('ip' => array('127.0.0.1'=>'debug')), //DB (def)

    'fcom.catalog' => array(

    ),

    'fcom.checkout' => array(

    ),

    'fcom.freshbooks' => array(
        'api' => array(
            'url' => 'https://unirgy.freshbooks.com/api/2.1/xml-in', //DB (Company part)
            'key' => '' //DB (encrypted)
        ),
        'email' => array(
            'autosend' => true, //DB (def)
            'subject' => 'Invoice #::invoice number:: for your records  (this is not a bill)', //DB
            'message' => "THIS IS NOT A BILL.\n\nTo view your invoice ::invoice number:: from Unirgy LLC for ::payment amount::, or to download a PDF copy for your records, click the link below:\n\n::invoice link::", //DB
        ),
        'order' => array(
            'status.collect' => 'pending', //DB (def)
            'status.set' => 'invoiced', //DB (def)
        ),
    ),

    'fcom.paypal' => array(
        'production' => array(
            'web' => array(
                'url' => 'https://www.paypal.com/cgi-bin/', //DB (def)
            ),
            'api' => array(
                'url' => 'https://api-3t.paypal.com/nvp', //DB (def)
                'username' => '', //DB
                'password' => '', //DB (encrypted)
                'signature' => '', //DB (encrypted)
            ),
        ),
        'sandbox' => array(
            'ip' => '', //DB
            'web' => array(
                'url' => 'https://www.sandbox.paypal.com/', //DB (def)
            ),
            'api' => array(
                'url' => 'https://api-3t.sandbox.paypal.com/nvp', //DB (def)
                'username' => '', //DB
                'password' => '', //DB (encrypted)
                'signature' => '', //DB (encrypted)
            ),
        ),
    ),
);